<template>
    <div :class="divClass">
      <label  v-if="label" class="form-check-label">
      <input @input="(event) => $emit('update:checked',event.target.checked)"  :id="fieldId" :class="Style" :disabled="state" :type="shape" :checked="checked"  >
      <img v-if="image"  src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=50" class="form-check-img">
      <a class="form-check-text"><slot></slot></a>
      </label>
    </div>
</template>

<script>
export default {
  emits: ["update:value"],
  name: "ibCheckbox",
  props: {
    fieldId: {
      type: Number,
    },
    checked: {
      type: Boolean,
    },
    value: {
      type: Array,
    },
    type: String,
    state: String,
    shape: String,
    image: String,
    label: String
  },
  data (){
    let CheckShape = 'checkbox'
    if (this.shape != undefined) {
      CheckShape =  this.shape
    }

    let CheckState = 'disabled'
    if (this.state != undefined) {
      CheckState =  this.state
    }

    let CheckedState = ''
    if (this.checked != undefined) {
      CheckedState =  this.checked
    }

    let divClass = ''
    if (this.type != undefined) {
      divClass = "form-check form-" + this.type
    }


    return {
      Style:"form-check-input",
      divClass: divClass,
      CheckState: CheckState,
      CheckShape:CheckShape,
      CheckedState: CheckedState
    }
  }
}
</script>

