
<template>
  <div class="container_tooltip">
  <div :class="`tooltip ${color}`" :data-direction="position">
    <div class="tooltip__initiator">
      <slot name="ContainerTooltip"></slot>
    </div>
    <div class="tooltip__item">
      <slot name="BoxTooltip"></slot>
    </div>
  </div>
  </div>
</template>

<script>
export default {
  name:"ibTooltip",
  props: {
    position: String,
    content: String,
    color:String,
  },
}
</script>