.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: $breadcrumb-padding-y $breadcrumb-padding-x;
  margin-bottom: $breadcrumb-margin-bottom;
  @include font-size($breadcrumb-font-size);
  list-style: none;
  background-color: transparent;
  @include border-radius($breadcrumb-border-radius);
  a{
    font-weight: 500;
    color: $indigo-200;
  }
}
.breadcrumb-item {
  // The separator between breadcrumbs (by default, a forward-slash: "/")
  + .breadcrumb-item {
    + .active{
        a{
          color: $gray-400;
          font-weight: 500;
        }
    }
    padding-left: $breadcrumb-item-padding-x;

    &::before {
      float: left; // Suppress inline spacings and underlining of the separator
      padding-right: $breadcrumb-item-padding-x;
      color: blue !important;
      width: 16px;
      height: 16px;
      content: var(--#{$variable-prefix}breadcrumb-divider, escape-svg($breadcrumb-divider)) #{"/* rtl:"} var(--#{$variable-prefix}breadcrumb-divider, escape-svg($breadcrumb-divider-flipped)) #{"*/"};
    }
  }
  .breadcrumb li.active ,
  .breadcrumb li :checked {
    font-weight: 700;
    border-bottom: 4px solid #7879F1;
    cursor: auto;
    z-index: 2;
  }
}
