// Estilo Base Del Componente
.btn {
  width: auto;
  justify-content: center;
  align-items: center;
  position: static;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight !important;
  line-height: $btn-line-height;
  text-align: center;
  color: white;
  text-decoration: if($link-decoration == none, null, none);
  white-space: $btn-white-space;
  vertical-align: center;
  cursor: if($enable-button-pointers, pointer, null);
  user-select: none;
  background-color: inherit;
  border: $btn-border-width solid transparent;
  border-radius: 48px;
  height: 40px;

  // Estilos para diferentes colores de botones

  // Estilo para hover
  &:hover {
    background-color: lighten(#7879F1, 30%);
    transition: background-color 1s ease-in;
    opacity: 0.7;
  }

  // Estilos para enlaces dentro del botón
  p{
    font-weight: $font-weight-medium;
    font-size: 16px;
  }

  // Estilos para cuando el botón está enfocado
  .btn-check:focus + &,
  &:focus {
    outline: 0 !important;
    box-shadow: $btn-focus-box-shadow;
  }

  // Estilos para cuando el botón está deshabilitado
  &:disabled,
  &.disabled,
  fieldset:disabled & {
    pointer-events: none;
    opacity: $btn-disabled-opacity;
    border-color: $gray-400!important;
  }

  // Estilos para botones con iconos a la derecha
  .btn-icon-right {
    padding-left: 10px;
  }
}

// Botón Outline
.btn-outline {
  border: 0.094rem solid;
  .p{
    color: $gray-500;
    font-weight: $font-weight-medium;
  }
  &:hover {
    span {
      color: $gray-500;
    }
  }
}

// Estilos para botones deshabilitados
.btn:disabled, .btn.disabled, fieldset:disabled .btn {
  color: $gray-400 !important;
  opacity: $btn-disabled-opacity !important;
}


// Bucle para generar clases de botones con diferentes colores
@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
    color:white;
  }
  .black {
    span {
      color: $black !important;
    }
    p {
      color: $black !important;
    }
  }
  .gray {
    span {
      color: $gray-400 !important;
    }
    p {
      color: $gray-400 !important;
    }
  }
  .white {
    span {
      color: white;
    }
    p {
      color: white;
    }
  }
}

// Bucle para generar clases de botones outline con diferentes colores
@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value, $value);
    background-color: transparent !important;
    font-size: 0.938rem;
    color:$color;
    border: 0.094rem solid $color;
    padding: 0.407rem 1.5rem;
  }
}

// Estilos para botones "itbigo" deshabilitados
.btn:disabled, .btn.disabled {
  background-color: $gray-400 !important;
  border-color: $gray-400!important;
  color: $white!important;
  a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: $white!important;
  }
}


//
// Botones Links
//
.btn-link-secondary {
  border-radius: $btn-border-radius-sm;
  height: 32px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $indigo-200 !important;
  text-decoration: $link-decoration;
  font-weight: $font-weight-bold;
  font-family: "Roboto", sans-serif;
  padding: 8px 8px !important;
  p{
    font-size: 14px !important;
  }
  &:hover {
    color: $btn-link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus {
    text-decoration: $link-hover-decoration;
  }
  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
  }
}
// Make a button look and behave like a link

.btn-link {
  p{
    color: $indigo-200 !important;
    font-weight: 500;
  }
  height: 40px;
  font-weight: $font-weight-normal;
  text-decoration: $link-decoration;
  font-size: 15px;
  padding: 8px 8px !important;
  .btn-text{
    color: $indigo-200 !important;
    font-weight: 500;
  }
  &:hover {
    color: $btn-link-hover-color;
    text-decoration: $link-hover-decoration;
  }
  &:focus {
    text-decoration: $link-hover-decoration;
  }
  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
  }
}
//
// Tamaño de Botones
//

.mxw{
  width: 100%;
  display:flex;
}

.button-img{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.img-button{
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

.button-xl {
  padding: 8px 32px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 48px;
  p{
    font-size: 16px !important;
  }
  .btn-icon-left{
    margin-left: -8px;
  }
  .btn-icon-right{
    margin-right: -8px;
  }
}

.button-lg {
  padding: 8px 32px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  p{
    font-size: 16px !important;
  }
  .btn-icon-left{
    margin-left: -8px;
  }
  .btn-icon-right{
    margin-right: -8px;
  }
}

.button-sm {
  border-radius: $btn-border-radius-sm;
  padding: 8px 24px !important;
  height: 32px;
  display:flex;
  flex-direction: row;
  p{
    font-size: 14px !important;
  }
  justify-content: center;
  align-items: center;
  .material-icons-outlined{
    font-size: 16px !important;
  }
  .btn-icon-left{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: static;
    font-size: 16px;
    margin-left: -8px;
    margin-right: 8px;
    line-height: 20px;
  }
  .btn-icon-right{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: static;
    padding-left: 20px;
    line-height: 18px;
    width: 16px;
    height: 16px;
  }
}
