.container-table {
  display: flex;
  max-height: 500px;
}
.table-font{
  font-weight: 400 !important;
  font-size: 14px;
  color: rgba(95, 104, 112, 1);
;
}
.table-icon{
  padding-right: 32px;
}

.fixed-side{
  background: #f2f2f2;
  min-width: 10rem !important;
  &:nth-child(even) {
    background-color: #f1f8ff;
  }
  }
.container-table {
  overflow: auto;
  scroll-snap-type: both mandatory;
  height: 80vh;
}
@media (min-width: 40em) {
  .container-table {
    order: 2;
  }
}
table {
  border-collapse: collapse;
  border: 0;
}
th,
tr:nth-child(even) {
  background-color:rgba(235, 237, 241, 0.6);
}
td {
  background-clip: padding-box;
}

thead {
  z-index: 1000;
  position: relative;
}
th,
td {
  padding: 0.6rem;
  text-align: left;
  margin: 0;
}
thead th {
  position: sticky;
  top: 0;
  border-top: 0;
  background-clip: padding-box;
}
thead th.pin {
  left: 0;
  z-index: 1001;
  border-left: 0;
}
tbody th {
  background-clip: padding-box;
  border-left: 0;
}
tbody {
  z-index: 10;
  position: relative;
}
tbody th {
  position: sticky;
  left: 0;
}
tbody tr{
  border-style: hidden;
}
.table-header-categories{
  font-size: 14px;
}
.table-trContent{
  border-bottom-width: 0;
}
.table-header-label{
  font-size: 14px;
  font-weight: 700;
  color: $gray-600;
}
.table-text{
text-align: end;
  font-size: 14px;
  line-height: 26px;
  color: rgba(95, 104, 112, 1);
}
.table-header{
  th{
    background-color: white;
    border-style: none;
  }
}
.tr-table{
  th{
    height: 41px !important;
    padding: 0;
  }
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: $gray-300;
}

//tbody th {
//  background-color: rgba(235, 237, 241, 0.6);
//}

.contenedor-tabla{
  display: flex;
  flex-direction: row;
}
.contenedor-cabecera{
  display: flex;
  flex-direction:row ;
}