.dropzone{
  border: 2px dashed #7879F1;
  border-radius: 4px;
  padding: 8px;
}
.in-dropzone {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
  background-color: #EBEDF1;
  transition: 0.3s ease all;
  label{
    padding: 8px 12px;
    font-size: 16px;
    color: #7879F1;
    transition: 0.3s ease all;
  }
  label:hover{
    color: #6C757D;
  }
  input {
    display: none;
  }
}
.dropzone-container{
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span{
    color: #6C757D;
  }
  .upload{
    color: #7879F1;
    padding-bottom: 16px;
  }
}
.active-dropzone {
  border-color: #fff;
  background-color: #EFEFFD;
  label {
    color: black;
  }
}