.filter-open{
  height: 100vh;
  overflow-y: hidden;
}
.filter-backdrop{
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-color: #212529;
}
.filter {
  background: #EBEDF1;
  padding: 16px;
  border-radius: 4px;
  height: 72px;
  width: 100%;
  .filter-text{
    padding: 8px 0 0 16px;
    word-break: break-all;
  }
  .filter-select {
    padding-left: 16px;
  }
  .container-filter-items{
    .labelFilter{
      width: auto;
    }
    justify-content: end;
    margin-right: 48px;
    margin-top: 8px;
    .container-filter-icons{
      padding-left: 0;
    }
    .container-filter-icons-lupa{
      -webkit-tap-highlight-color: transparent;
      color: gray !important;
      position: relative;
      padding-right: 48px;
      .purple-icon{
        color: indigo;
      }
    }
    .container-filter-icons-filter{
      -webkit-tap-highlight-color: transparent;
      color: gray !important;
      position: relative;
      .purple-icon{
        color: indigo;
      }
    }
    .menu-filter{
      .menu-filter-items{
        flex-direction: row;
        white-space: nowrap;
      }
      .menu-filter-icon{
        display: flex;
        font-size: 16px;
        padding-right: 10px;
        color:  darkgray ;
      }
      .menu-filter-text{
        line-height: 24px;
      }
      .menu-filter-label{
        display: flex;
        font-size: 14px;
        padding: 12px 16px 12px 16px;
        line-height: 20px;
        &:hover{
          background-color: indigo;
          .material-icons-outlined{
            color: white !important;
          }
          color: white !important;
        }
      }
      .menu-filter-icon-edit{
        font-size: 16px;
        padding-left: 24px;
        cursor: pointer;
        color: white;
      }
      margin-top: 40px;
      right: 8%;
      box-shadow: 0 0 15px rgba(16, 30, 115, 0.2);
      position: absolute;
      z-index: 999;
      background: white;
      border-radius: 4px;
    }
  }
  .menu-filter-advanced-filter{
    .menu-filter-advanced-header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .menu-filter-advanced-header-content{
        display: flex;
        flex-direction: row;
        .advanced-filter-icon{
          font-size: 24px;
          color: gray;
        }
        .advanced-header-text{
          padding-left: 8px;
          font-size: 12px;
          font-weight: 500;
          color: gray;
          line-height: 24px
        }
      }
      .advanced-filter-icon-close{
        font-size: 24px;
        cursor: pointer;
      }
    }
    .advanced-title{
      display: flex;
      flex-direction: column;
      padding: 24px 16px 24px 16px;
      max-width: 480px;
      overflow-wrap: break-word;
      .advanced-title-header{
        display: flex;
        justify-content: flex-start;
        font-size: 24px;
        color: #495057;;
      }
      .advanced-description{
        display: flex;
        justify-content: flex-start;
        padding-top: 8px;
        font-size: 14px;
        color:gray;
      }
    }
    .advanced-one-camp{
      padding: 24px 0 24px 0;
      .selectp{
        padding-bottom: 24px;
        .calendarTp{
          display: flex;
          justify-content: center;
        }
      }
    }
    .advanced-five-camp{
      padding: 24px 24px 24px 24px;
      background-color: darkgray;
    }
    .advanced-buttons{
      .pd{
        margin-left: 8px;
      }
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
    min-width: 400px;
    overflow-y: scroll;
    flex-direction: column;
    padding: 24px 32px 24px 32px;
    box-shadow: 0 0 15px rgba(16, 30, 115, 0.2);
    background-color: white;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    top: 50%;
    right:0;
    transform: translate(-0%, -50%);
    position: fixed;
    z-index: 999;
  }

  .menu-filter-advanced{
    .menu-filter-advanced-header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .menu-filter-advanced-header-content{
        display: flex;
        flex-direction: row;
        .menu-filter-advanced-header-content-icon{
          padding-right: 8px;
        }
        .advanced-filter-icon-filter{
          vertical-align: bottom;
        }
        .menu-filter-advanced-header-content-label{
          font-size: 16px;
        }
        .advanced-filter-icon{
          font-size: 24px;
          color:  darkgray;
        }
        .advanced-header-text{
          padding-left: 8px;
          font-size: 12px;
          font-weight: 500;
          color:  darkgray;
          line-height: 24px
        }
      }
      .advanced-filter-icon-close{
        font-size: 24px;
        cursor: pointer;
      }
    }
    .advanced-title{
      padding: 24px 16px 24px 16px;
      .advanced-title-header{
        font-size: 24px;
        color:  darkgray;
      }
      .advanced-description{
        padding-top: 8px;
        font-size: 14px;
        color: darkgray;
      }
    }
    .advanced-one-camp{
      padding: 24px 0 24px 0;
    }
    .advanced-two-camp{
      padding: 0 0 24px 0;
    }
    .advanced-three-camp{
      padding: 0 0 24px 0;
    }
    .advanced-four-camp{
      padding: 0 0 24px 0;
    }
    .advanced-five-camp{
      padding: 24px 24px 24px 24px;
      background-color:  darkgray;
    }
    .advanced-final-camp{
      padding: 24px;
    }
    flex-direction: column;
    padding: 24px 32px 24px 32px;
    box-shadow: 0 0 15px rgba(16, 30, 115, 0.2);
    background-color: white;
    width: 480px;
    height: 1012px;
    top: -212% ;
    left: -45% ;
    position: absolute;
    z-index: 999;
    margin-top: 40px;
  }
}