// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and stuff


// Container that the modal scrolls within
.cursor{
  cursor: pointer;
}
p{
  margin-bottom: 0 !important;
}
.modal {
  transition: all ease-in-out 700ms;
  position: fixed;
  top: 18%;
  left: 0;
  z-index: $zindex-modal;
  display: none;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;
  // We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
  // gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
  // See also https://github.com/twbs/bootstrap/issues/17695
}

// Shell div to position the modal with bottom padding
.modal-dialog {

  position: relative;
  width: auto;
  margin: $modal-dialog-margin;
  // allow clicks to pass through for custom click handling to close modal
  pointer-events: none;

  .activess{
    opacity: 1 !important;
    display: block !important;
    list-style: none;
    visibility: visible;
  }
  // When fading in the modal, animate it to slide down
  .modal.fade & {
    @include transition($modal-transition);
    transform: $modal-fade-transform;
  }
  .modal.show & {
    transform: $modal-show-transform;
    display: block !important;
  }

  // When trying to close, animate focus to scale
  .modal.modal-static & {
    transform: $modal-scale-transform;
  }
}

.modal-dialog-scrollable {
  height: subtract(100%, $modal-dialog-margin * 2);

  .modal-content {
    max-height: 100%;
    overflow: hidden;
  }

  .modal-body {
    overflow-y: auto;
  }
}

.modal-dialog-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: subtract(100%, $modal-dialog-margin * 2);
}

// Actual modal
.modal-content {
  position: relative;
  padding:  24px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  width:auto; // Ensure `.modal-content` extends the full width of the parent `.modal-dialog`
  // counteract the pointer-events: none; in the .modal-dialog
  color: $modal-content-color;
  pointer-events: auto;
  background-color: $modal-content-bg;
  background-clip: padding-box;
  //border: $modal-content-border-width solid $modal-content-border-color;
  @include border-radius($modal-content-border-radius);
  box-shadow: 0 8px 36px rgba(0, 0, 0, 0.16);
  // Remove focus outline from opened modal
  outline: 0;
}

// Modal background
.modal-backdrop {
  @include overlay-backdrop($zindex-modal-backdrop, $modal-backdrop-bg, $modal-backdrop-opacity);
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  display: flex;
  flex-shrink: 0;
  font-weight: 700;
  font-size: 18px;
  color: $gray-600;
  align-items: center;

   // Put modal header elements (title and dismiss) on opposite ends

  //border-bottom: $modal-header-border-width solid $modal-header-border-color;
  @include border-top-radius($modal-content-inner-border-radius);
  &.image{
    img{
      width: 100%;
      border-radius: 4px;
    }
  }
  &.btn-close{
  width: 24px !important;
  }

  &.title{
    justify-content: left;
    padding-bottom: 16px;
    font-weight: 700;
    p{
      font-family: "Roboto",sans-serif;
      font-weight: 700;
      font-size: 16px !important;
      line-height: 24px;
      color: $gray-600;
    }

  }
  &.center{
    text-align: center;
    justify-content: center;
    padding-bottom: 16px;
    p{
      font-family: "Roboto",sans-serif;
      font-weight: bold;
      font-size: 18px !important;
      line-height: 24px;
      color: $gray-600;
    }

  }


  .btn-close {
    font-weight: 500!important;
    padding: ($modal-header-padding-y * .5) ($modal-header-padding-x * .5);
    margin: ($modal-header-padding-y * -.5) ($modal-header-padding-x * -.5) ($modal-header-padding-y * -.5) auto;
  }
}

// Title text within header
.modal-title {
  line-height: $modal-title-line-height;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  position: relative;
  // Enable `flex-grow: 1` so that the body take up as much space as possible
  // when there should be a fixed height on `.modal-dialog`.
  flex: 1 1 auto;
  &.caption{
    padding-top: 16px;
    p{
      font-family: "Roboto",sans-serif;
      font-style: normal;
      font-weight: 700;
      color: $indigo-200 ;
      font-size: 14px;
      line-height: 1.5rem;
    }
  }
  &.mainText {
    padding-top: 16px;
    p {
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      color: $gray-600 !important;
      font-size: 14px;
      line-height: 1.5rem;
    }
  }
  &.description {
    padding-top: 16px;
    p {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      color: $gray-400 !important;
      font-size: 14px;
      line-height: 1.5rem;
    }
  }
  &.description-column{
    text-align: center;
    padding-top: 16px;
    p {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      color: $gray-400 !important;
      font-size: 14px;
      line-height: 1.5rem;
    }
  }
  &.container-bottom{
    padding-top: 16px;
    p {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      color: $gray-400 !important;
      font-size: 14px;
    }
  }
  &.icons{
    top:4px;
    cursor: auto;
    padding-bottom: 16px;
    .material-icons-outlined{
      font-size: 40px;
    }
  }
  &.icons-center{
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
    .material-icons-outlined{
      font-size: 40px;
    }
    .red{
      .material-icons-outlined{
        color: $danger;
      }
    }
  }

}

// Footer (for actions)
.modal-footer {
  padding-top: 24px;
  --bs-gutter-x: 0!important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  &.column {
    display: contents ;
    .column-button{
      padding-bottom: 8px;
    }
  }
  .button-cancel{
    padding-right: 8px;
  }
}

// Scale up the modal
@include media-breakpoint-up(sm) {
  // Automatically set modal's width for larger viewports
  .modal-dialog {
    max-width: $modal-md;
    margin: $modal-dialog-margin-y-sm-up auto;
  }

  .modal-dialog-scrollable {
    height: subtract(100%, $modal-dialog-margin-y-sm-up * 2);
  }

  .modal-dialog-centered {
    min-height: subtract(100%, $modal-dialog-margin-y-sm-up * 2);
  }

  .modal-content {
    @include box-shadow($modal-content-box-shadow-sm-up);
  }

  .modal-sm { max-width: $modal-sm; }
}

@include media-breakpoint-up(lg) {
  .modal-lg,
  .modal-xl {
    max-width: $modal-lg;
  }
}

@include media-breakpoint-up(xl) {
  .modal-xl { max-width: $modal-xl; }
}

// scss-docs-start modal-fullscreen-loop
@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
  $postfix: if($infix != "", $infix + "-down", "");

  @include media-breakpoint-down($breakpoint) {
    .modal-fullscreen#{$postfix} {
      width: 100vw;
      max-width: none;
      height: 100%;
      margin: 0;
      .modal-content {
        height: 100%;
        border: 0;
        @include border-radius(0);
      }
      .modal-header {
        @include border-radius(0);
      }
      .modal-body {
        overflow-y: auto;
      }
      .modal-footer {
        @include border-radius(0);
      }
    }
  }
}
// scss-docs-end modal-fullscreen-loop
