// Contents
//
// Navbar
// Navbar brand
// Navbar nav
// Navbar text
// Responsive navbar
// Navbar position
// Navbar themes
@media (max-width: 400px) {
  .navbar-container{
      padding: 24px 24px 24px 24px !important;
    }
}


.container-navbar{
  transition: 0.3s;
  flex-wrap: wrap;
  width: 100%;
  background-color: white;
  position: sticky;
  box-shadow: 1px 1px 6px #999;
  .container-below-navbar{
    display: flex;
    flex-direction: row;
  }
  .container-nav-items{
    padding: 24px 40px 24px 40px;
    display: flex;
    .container-welcome-text{
      display: flex;
      flex-direction: row;
      .welcome-text-name{
        justify-content: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 56px;
      }
    }
    .container-button-report{
      display: flex;
      justify-content: flex-end;
    }
  }
  .second-below-nav{
    padding: 0 40px 0 40px;
  }
}
.welcome-text{
  padding-right: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 56px;
}

// Navbar
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.
.sidebar-search{
  padding-left: 16px;
}
.navbar-container {
  @media (max-width: 680px) {
    .navbar-nav {
      display: none;
    }
  }
  top: 0;
  width: 100%;
  z-index: 9;
  padding: 24px 40px 24px 40px;
  position: sticky;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap; // allow us to do the line break for collapsing content
  align-items: center;
  background-color: white;
@include gradient-bg();

  // Because flex properties aren't inherited, we need to redeclare these first
  // few properties so that content nested within behave properly.
  // The `flex-wrap` property is inherited to simplify the expanded navbars
  %container-flex-properties {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }
  > .container,
  > .container-fluid {
    @extend %container-flex-properties;
  }

  @each $breakpoint, $container-max-width in $container-max-widths {
    > .container#{breakpoint-infix($breakpoint, $container-max-widths)} {
      @extend %container-flex-properties;
    }
  }
  .timer{
    background-color: #EBEDF1;
    padding: 8px 16px;
    text-align: center;
    font-size: 14px;
    //border: 2px solid #ADB5BD;
    border-radius: 8px;
    color:  #495057;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  .pe-4{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 64px;
    position: relative;
  }
  .navbar-notifications{
    overflow: hidden;
    border-radius: 4px;
    scrollbar-y:none;
    list-style: none;
    width: 320px;
    position: absolute;
    top: 80px;
    right: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(16, 30, 115, 0.2);
    @include media-breakpoint-down(md) {
      position: fixed;
      width: 100%;
      height: 90%;
      right: 0;
      top:88px;
      max-height: 90%;
    }
  }
  .notification-buttons{
    display: flex;
    margin-top: 8px;
    font-size: 14px;
    padding: 16px;
    justify-content: space-between;
    flex-direction: row;
  }
  .notification-buttons a{
    color: #7879F1;
  }
  .notification-buttons a:hover{
    color: grey;
  }
  .notification-list{
    display: table-column-group;
    position:relative;
    overflow: hidden;
    padding-left: 0;
    margin-top: 48px;
    max-height: 264px;
    overflow-y: scroll;
    @include media-breakpoint-down(md) {
      max-height: 688px;
    }
  }
  .label{
    position: absolute;
    padding: 16px;
    font-size: 14px;
    color: #ADB5BD;
  }
  .dropdown-options{
    padding: 0 16px;
    display: flex;
    align-items: center;
    height: 70px;
  }
  .dropdown-options:hover{
    background-color: #F9F9F9;

  }

  .title-notification{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 250px;
    display: block;
    overflow: hidden;
    font-size: 16px;
    line-height: 24px;
    color: #495057;
  }

  .body-notification{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #ADB5BD;
  }

  .dropdown-options div{
    padding-left: 16px;
  }
  .hidden{
    display: none;
  }
  .profile-menu{
    display: flex;
    position: relative;
  }
  .icons-notifications-menu{
    font-size: 16px;
    margin-left: 16px;
  }
  .profile-menu-options{
    display: none;
    right: auto;
    left: 100%;
    border-radius: 4px;
    margin-left: 0;
    float: right;
    position: absolute;
    background-color: white;
    min-width: 120px;
    z-index: 8;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .profile-menu-options a{
    color: #495057;
    padding: 12px 16px;
    text-decoration: none;
    justify-content: center;
    display: block;
  }
  .profile-menu-options .notification-icon:hover{
    color: aqua;
  }
  .profile-menu-options a:hover{
    background-color: #F9F9F9;

  }
  .profile-menu:hover .profile-menu-options {
    display: block;
   }
  .semi-separator{
    border: 1px !important;
    width: 100%;
    height: 1px;
    border: 1px solid #EBEDF1;
    margin-bottom: 0px;
    margin-top: 24px;
  }
  .icons-notifications{
    color: #ADB5BD;
    padding-right: 20px;
  }
.notification-icon{
  margin-bottom: 24px;
}

  .separator{
    border: 1px !important;
    width: 100%;
    height: 1px;
    border: 1px solid #EBEDF1;
    background-color: white;
    margin-bottom: 52px !important;
    margin-top: 0px;
    margin-left: 0;
    @include media-breakpoint-down(md) {
      margin-bottom: 0;
      bottom: 52px;
    }
  }
  .profile-title{
    justify-content: center;
    display: flex;
    padding: 48px 16px 0px 16px;
    background-color: white;
    z-index: 10;
  }
  .profile-image-icon{
    align-self: center;
    position: absolute;
    top: 48px;
    display: flex;
    z-index: 11;
  }
  .profile-svg-main-logo{
    width: 162px;
    height: 200px;
    position: absolute;
    z-index: auto;
    right: -26px;
    top: -60px;
    filter: blur(12px);
  }
  .profile-title-img{
    justify-content: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    padding: 40px;
    background-color: #00204A;
  }
  .profile-link{
    justify-content: left;
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-left: 16px;
    padding: 16px;
    bottom: 0;
  }
  .profile-container{
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 16px;
    padding: 16px;
  }
}


// Navbar brand
//
// Used for brand, project, or site names.

.navbar-brand {
  padding-top: $navbar-brand-padding-y;
  padding-bottom: $navbar-brand-padding-y;

  @include font-size($navbar-brand-font-size);
  text-decoration: if($link-decoration == none, null, none);
  white-space: nowrap;
  color: $navbar-light-brand-color;

  &:hover,
  &:focus {
    color: $navbar-light-brand-hover-color;
    text-decoration: if($link-hover-decoration == underline, none, null);
  }
}


// Navbar nav
//
// Custom navbar navigation (doesn't require `.nav`, but does make use of `.nav-link`).

.navbar-nav {
  display: flex;
  flex-direction: column; // cannot use `inherit` to get the `.navbar`s value
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  align-items: center;
  .dropdown-menu {
    position: static;
  }
}


// Navbar text
//
//

.navbar-text {
  padding-top: $nav-link-padding-y;
  padding-bottom: $nav-link-padding-y;
}


// Responsive navbar
//
// Custom styles for responsive collapsing and toggling of navbar contents.
// Powered by the collapse Bootstrap JavaScript plugin.

// When collapsed, prevent the toggleable navbar contents from appearing in
// the default flexbox row orientation. Requires the use of `flex-wrap: wrap`
// on the `.navbar` parent.
.navbar-collapse {
  flex-basis: 100%;
  justify-content:center;
  // For always expanded or extra full navbars, ensure content aligns itself
  // properly vertically. Can be easily overridden with flex utilities.
  align-items: center;
}

.navbar-show {
  display: flex;
  justify-content: flex-start;
  flex-basis: 100%;
  // For always expanded or extra full navbars, ensure content aligns itself
  // properly vertically. Can be easily overridden with flex utilities.
  align-items: center;
}
.navbar-icons{
  display: flex;
  justify-content: flex-end;
}
.navbar-icon {
  flex-basis: 100%;
  //justify-content:center;
  // For always expanded or extra full navbars, ensure content aligns itself
  // properly vertically. Can be easily overridden with flex utilities.
  align-items: center;
}



.user-img{
  cursor: pointer;
  margin-left: 16px;
  text-decoration:none;
  @include media-breakpoint-down(md) {
    margin-left: 0;
  }
}
.user-img:active{
  text-decoration:none;
}

// Button for toggling the navbar when in its collapsed state
.navbar-toggler {
  padding: $navbar-toggler-padding-y 0 $navbar-toggler-padding-y $navbar-toggler-padding-x;
  @include font-size($navbar-toggler-font-size);
  line-height: 1;
  background-color: transparent; // remove default button style
  border: $border-width solid transparent; // remove default button style
  @include border-radius($navbar-toggler-border-radius);
  @include transition($navbar-toggler-transition);

  &:hover {
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 $navbar-toggler-focus-width;
  }
}

.navbar-button-sidebar{
  padding: $navbar-toggler-padding-y 0 $navbar-toggler-padding-y 0;
  @include font-size($navbar-toggler-font-size);
  background-color: transparent; // remove default button style
  border: $border-width solid transparent; // remove default button style

  &:hover {
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 $navbar-toggler-focus-width;
  }

}

// Keep as a separate element so folks can easily override it with another icon
// or image file as needed.
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.navbar-nav-scroll {
  max-height: var(--#{$variable-prefix}scroll-height, 75vh);
  overflow-y: auto;
}
.viewer {
  width: 24px;
  margin-top: 8px;
  height: 24px;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.viewer.down {
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

// scss-docs-start navbar-expand-loop
// Generate series of `.navbar-expand-*` responsive classes for configuring
// where your navbar collapses.
.navbar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    // stylelint-disable-next-line scss/selector-no-union-class-name
    &#{$infix} {
      @include media-breakpoint-up($next) {
        flex-wrap: nowrap;
        justify-content: flex-start;


        .navbar-nav-scroll {
          overflow: visible;
        }

        .navbar-collapse {
          display: flex !important; // stylelint-disable-line declaration-no-important
          flex-basis: auto;
          border: none;
        }

        .navbar-toggler {
          display: none;
        }

        .offcanvas-header {
          display: none;
        }
        .offcanvas {
          position: inherit;
          bottom: 0;
          z-index: 1000;
          flex-grow: 1;
          visibility: visible !important; // stylelint-disable-line declaration-no-important
          background-color: transparent;
          border-right: 0;
          border-left: 0;
          @include transition(none);
          transform: none;
        }
        .offcanvas-top,
        .offcanvas-bottom {
          height: auto;
          border-top: 0;
          border-bottom: 0;
        }
        .offcanvas-body {
          display: flex;
          flex-grow: 0;
          padding: 0;
          overflow-y: visible;
        }
      }

      .navbar-icon{
        display: flex !important; // stylelint-disable-line declaration-no-important
        flex-basis: auto;
        border: none;
      }
      .user-icon{
        color: white;
        padding: 16px;
        background-color: #6C757D;
        font-size: 24px;
        border-radius: 50%;
      }
    }
  }
}


.notification-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbar-nav {
  flex-direction: row;

  .dropdown-menu {
    position: absolute;
  }

  .nav-link {
    padding-right: $navbar-nav-link-padding-x;
    padding-left: $navbar-nav-link-padding-x;
    //display: block;
    width: 100%;
    cursor: pointer;
    position: relative;
    .nav-text{
      word-wrap: break-word;
      position: absolute;
      top: 8px;
      display: inline-flex;
      flex-direction: column;
    }
    //color: #495057 !important;
    //padding: 8px !important;
  } & .nav-link:hover{
      color:#7879F1 !important;
    }
}

.navbar-show, .navbar-icon{
  display: flex !important; // stylelint-disable-line declaration-no-important
  flex-basis: auto;
  border: none;
  .hamburger {
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter, -webkit-filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    &:hover {
      opacity: .7;
    }
  }

  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
  }

  .hamburger-inner {
    display: block;
    top: 50%;
  }

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 24px;
    height: 2px;
    background-color:black;
    border-radius: 4px;
    position: absolute;
    transition-property: -webkit-transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  .hamburger-inner::before,
  .hamburger-inner::after {
    content: "";
    display: block;
  }

  .hamburger-inner::before {
    top: -10px;
  }

  .hamburger-inner::after {
    bottom: -10px;
  }

  .hamburger-spin .hamburger-inner {
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .hamburger-spin .hamburger-inner::before {
    transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in;
  }

  .hamburger-spin .hamburger-inner::after {
    transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .hamburger-spin.isActive .hamburger-inner {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    transition-delay: 0.14s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .hamburger-spin.isActive .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
  }

  .hamburger-spin.isActive .hamburger-inner::after {
    bottom: 0;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}
// scss-docs-end navbar-expand-loop

// Navbar themes
//
// Styles for switching between navbars with light or dark background.

// Dark links against a light background
.navbar-light {
  .navbar-brand {

  }
  .navbar-nav {
    .nav-link {
      color: $navbar-light-color;
      margin-top: 8px;

      &:hover,
      &:focus {
        color: $navbar-light-hover-color;
      }

      &.disabled {
        color: $navbar-light-disabled-color;
      }
    }

    .show > .nav-link,
    .nav-link.active {
      color: $navbar-light-active-color;
    }
  }

  .navbar-toggler {
    color: $navbar-light-color;
    border-color: $navbar-light-toggler-border-color;
  }

  .navbar-toggler-icon {
    background-image: escape-svg($navbar-light-toggler-icon-bg);
  }

  .navbar-text {
    color: $navbar-light-color;

    a,
    a:hover,
    a:focus  {
      color: $navbar-light-active-color;
    }
  }
}

// White links against a dark background
.navbar-dark {
  .navbar-brand {
    color: $navbar-dark-brand-color;

    &:hover,
    &:focus {
      color: $navbar-dark-brand-hover-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-dark-color;

      &:hover,
      &:focus {
        color: $navbar-dark-hover-color;
      }

      &.disabled {
        color: $navbar-dark-disabled-color;
      }
    }

    .show > .nav-link,
    .nav-link.active {
      color: $navbar-dark-active-color;
    }
  }

  .navbar-toggler {
    color: $navbar-dark-color;
    border-color: $navbar-dark-toggler-border-color;
  }

  .navbar-toggler-icon {
    background-image: escape-svg($navbar-dark-toggler-icon-bg);
  }

  .navbar-text {
    color: $navbar-dark-color;
    a,
    a:hover,
    a:focus {
      color: $navbar-dark-active-color;
    }
  }

}