
.sidebar {
  width: 56px;
  background: white;
  box-shadow: 4px 0px 8px rgba(0, 32, 74, 0.1);
  padding: 0px;
  overflow: hidden;
  transition: width .3s;
  height: 100%;
  position: fixed;
  top: -1px;
  left: 0px;
  z-index: 9999 !important;

  .logo {
    height: 32px;
    margin: 32px 18px;
  }

  h4 {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: gray;
    text-transform: uppercase;
    margin: 16px 24px 16px 24px;
    display: none;
  }

  hr{
    margin: 4px !important;
  }

  hr.sidebar-section-break {
    display: none;
  }

  hr.sidebar-section-break:not(:first-of-type) {
    display: block;
    height: 2px;
  }
  .menuLinks{
    justify-content: space-between;
    &:hover{
      border-radius: 16px;
      background-color:  rgba(255, 255, 255, 0.08) !important;
    }
  }
  .subMenuLinks{
    padding-left: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 4px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    &:first-child{
      background-color: transparent;
    }


    .subMenuLinksLabel{
      word-wrap: normal;
      .menu-link-text{
        line-height: 16px;
      }
    }
  }
  .menuLinksRoute{
    display: flex;
  }
  .subMenuLinks.open {
    height: auto;
  }


  .menu-link-arrow{
    display: flex;
    overflow: hidden;
    transform: rotate(0deg);
  }
  .arrowUp{
    transform: rotate(-180deg);
    transition: all ease-in-out 0.3s;
  }
  .disabled-link {
    cursor: pointer;
  }
  .subMenuLinkOption{
    &:hover{
      border-radius: 16px;
    }
  }
  .menuLinkSub{
    &:hover{
      z-index: -1;
      color: white ;
      border-radius: 60px;
       &:first-child{
        background-color: rgba(255, 255, 255, 0.08) !important;
       }
    }

  }

  .subLinkBackground{
    background-color:  rgba(255, 255, 255, 0.048) !important;
  }

  .menu-link-text:hover + .tooltiptext {
    visibility: visible;
  }
  
  .tooltiptext{
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    position: absolute;
    z-index: 999;
    top: -20px;
    right: -15px;
  }

  a {
    width: max-content;
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    padding: 8px 8px 8px 10px;
    margin-right: 8px;
    margin-left: 8px;
    box-sizing: content-box;
    vertical-align: middle;

    .material-icons-outlined {
      display: inline-block;
      margin-right: 8px;
      opacity: .3;
      float: left;
    }

    .menu-link-text {
      padding-right: 24px;
      display: none;
      float: left;
      padding: 0;
    }
  }

  &.open {
    width: 260px;

    .menu{
      overflow: hidden;
      overflow-y: scroll;
      max-height: 850px;
    }

    a {
      margin-right: 24px;
      align-items: center;
      .menu-link-text {
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
      }
    }

    .width-142 {
      width: 142px;
  }

    h4 {
      display: flex;
    }

    hr.sidebar-section-break {
      display: none !important;
    }
  }

  &.dark {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.70) 100%), $blue-300;
    @include menu-link-styles;
  }

  &.indigo {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), $indigo-200;
    @include menu-link-styles;
  }
  

}


