@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import "_variables.scss";
@media (max-width: 750px) {
  body{
    .menuSidebar2 {
      display: none;
    }
  }
}

.menuSidebar2{
  overflow-x: hidden;
  padding-right: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), #7879F1;
  box-shadow: 4px 0 8px rgba(0, 32, 74, 0.1);
  list-style: none;
  height: 100% !important;
  width: 250px ;
  overflow-y: scroll;
  transition:.3s width !important;
  z-index: 9;
  .text-option{
    padding-left: 7px;
    position: sticky;
  }
  .sidebarList{
    transition:.3s width;
    width: 100%;
  }
  .container-logo{
    padding: 32px 24px 32px 24px;
    flex-direction: row;
    display: flex;
  }
  .title-menu{
    background: unset;
    pointer-events: none;
    .label{
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      color: $gray-500;
    }
  }

  .options{
    padding: 16px 24px;
    height: 100%;
    width: auto;
    flex-direction: column;
    cursor: pointer;
    .link-menu{
      display: flex;
      flex-direction: row;
      cursor: pointer;
    }
    .material-icons-outlined{
      color: $gray-400;
      padding-right: 16px;
    }
    .show{
      padding-top: 8px;
    }
    .label{
      color: $white;
      font-weight: 500;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-style: normal;
      line-height: 24px;
    }
    .hideOptions{
      opacity: 0;
      visibility: hidden;
      transition: visibility .3s, opacity .5s linear;
    }

    &:hover{
      background: rgba(255, 255, 255, 0.08);
      .label{
        color: rgba(white, 1) !important;
        opacity: 1;
      }
    }
  }
  .submenuOptions{
    padding: 8px 24px;
    &:hover{
      .label{
        color: rgba(white, 1) !important;
        opacity: 1;

      }
    }
  }


  .hidden{
    display: none !important;
  }
  &::-webkit-scrollbar-thumb {
    background: transparent !important;
  }

  &::-webkit-scrollbar-track {
    background: transparent !important;
  }

  &.hideMenu{
    .options{
      &:hover{
        .iconOptions{
          cursor: pointer;
        }
        .label{
          color: rgba(white, 1) !important;
          opacity: 1;
          cursor: default;
        }
      }
    }
    max-width: 260px;
    height: 100%;
    position: fixed;
    z-index: 1;
    opacity: 0.9;
    overflow-x: hidden;
    transition: 0.3s;
    .label{
      visibility: hidden;
      opacity: 0;
      transition: visibility .3s, opacity .5s linear;
      cursor: default;
    }
    width: 72px;
    height: 100% !important;
    @include media-breakpoint-down(md) {
      display: none;
    }
    .text-option{
      display: none !important;
    }
  }
}
