@keyframes slide-in{
	0% {
	  transform: translateX(100%);
	}
	100% {
	  transform: translateX(0);
	}
	}
	@keyframes slide-out {
	0% {
	  transform: translateX(0);
	}
	100% {
	  transform: translateX(-100%);
	}
	}
	@keyframes slide2-in {
	0% {
	  transform: translateX(-100%);
	}
	100% {
	  transform: translateX(0);
	}
	}
	@keyframes slide2-out {
	0% {
	  transform: translateX(0);
	}
	100% {
	  transform: translateX(-100%);
	}
	}
	#actualPoint {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 2px solid #0EBEE1;
	background-color: #0EBEE1;
	color: black;
	}
	
	.stepper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	  .stepContainer{
		width: 100%;
		  .steps-item {
			  width: 100%;
		  }
	  }   
	  .stepFooter{
		  display: flex;
		  width: 100%;
		  flex-direction: row;
		  justify-content: space-between;
		  padding-top: 32px;
		  .stepFooterProgressButtons{
			  display: flex;
			  width: 100%;
			  flex-direction: row;
			  justify-content: flex-end;
		  }
	  }
	}
	
	.top {
	display: flex;
	flex-direction: row;
	padding: 10px;
	width: 100%;
	justify-content: center;
	 
	}
	
	
	.step-header {
	display: flex;
	flex-direction: column;
	   &:first-child{
		  width: 30%;
	   }
	}
	.header-indicator {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	  padding-bottom: 10px;
	}
	.step-header.start {
	  width: 32px;
	>.title {
	  right: -32px !important;
	}
	}
	.step-header-line {
	display: inline-flex;
	width: 100px;
	height: 2px;
	  position: relative;
	  top:16px;
	background-color: #6C757D;
	  border: 1px;
	}
	.step-header-content {
	display: inline-flex;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 2px solid #6C757D;
	color: black;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	.iconStep{
	  display: flex;
	  color: white;
	}
	}
	
	
	.step-header.active {
	.step-header-content {
	  border: 2px solid #0EBEE1;
		  
	}
	.step-header-line {
	  background-color: #0EBEE1;
	}
	  .title{
		  color:#0EBEE1;
	  }
	}
	
	.step-header.anter{
	  .step-header-content{
		  background-color: #0EBEE1;
	  }
	}
	
	.title {
	display: inline-flex;
	align-self: flex-end;
	text-transform: capitalize;
	width: 100px;
	position: relative;
	right: -25%;
	justify-content: center;
	  color: #6C757D;
	  font-family: 'Roboto';
	  font-style: normal;
	}
	.next-button {
	margin-left: auto;
	}
	
	.stepper-slide-1-enter-active {
	animation: slide-in .3s;
	}
	.stepper-slide-1-leave-active {
	animation: slide-out 10s;
	  display: none;
	}
	.stepper-slide-2-enter-active {
	animation: slide2-in .3s;
	}
	.stepper-slide-2-leave-active {
	animation: slide2-out .3s;
	  display: none;
	}
	
	@media (min-width: 300px) and (max-width: 800px) {
		  .step-header {
			  width: 74px !important;
			  &:first-child{
				  width: 37px !important;
		  }
	  
		  .title{
			 font-size: 8px;
			 right: -35% !important;
		  }
		  .header-indicator{
			  width: 100px !important;
			  &:first-child{
				  width: 40px !important;
			  }
		  }
	
		  .step-header.active {
			.step-header-content {
				  width: 80px !important;
				  &:first-child{
				  width: 37px !important;
			  }
		  
			}
		  }
	}
}