.tab {
    border: none;
    padding: 0px;
    width: -webkit-fill-available;
    user-select: none;
    size : 16px;
    .listTab{
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
    .settingsIcon{
      padding-right: 16px;
    }
    .optionalSlot{
      width: 95%; 
      margin: auto;
      padding-bottom: 8px;
    }
}

.tab-button {
  padding: 6px 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  cursor: pointer;
  border: none;
  margin-bottom: -1px;
  margin-right: 25px;
  background: transparent;
}
.tab-button:hover {
  background: transparent;
}
.tab-button.active {
  background: transparent;
  border-bottom: 4px solid #0D438B;
  color: #0D438B;

}

.settingsIcon{
    color: gray;   
}