//
// Basic Bootstrap table
//
.table {
  --#{$variable-prefix}table-bg: #{$table-bg};
  --#{$variable-prefix}table-accent-bg: #{$table-accent-bg};
  --#{$variable-prefix}table-striped-color: #{$table-striped-color};
  --#{$variable-prefix}table-striped-bg: #{$table-striped-bg};
  --#{$variable-prefix}table-active-color: #{$table-active-color};
  --#{$variable-prefix}table-active-bg: #{$table-active-bg};
  --#{$variable-prefix}table-hover-color: #{$table-hover-color};
  --#{$variable-prefix}table-hover-bg: #{$table-hover-bg};

  width: 100%;
  margin-bottom: $spacer;
  color: $table-color;
  vertical-align: $table-cell-vertical-align;
  border-color: $table-border-color;
  // Target th & td
  // We need the child combinator to prevent styles leaking to nested tables which doesn't have a `.table` class.
  // We use the universal selectors here to simplify the selector (else we would need 6 different selectors).
  // Another advantage is that this generates less code and makes the selector less specific making it easier to override.
  // stylelint-disable-next-line selector-max-universal
  > :not(caption) > * > * {
    padding: $table-cell-padding-y $table-cell-padding-x;
    background-color: var(--#{$variable-prefix}table-bg);
    border-bottom-width: $table-border-width;
    box-shadow: inset 0 0 0 9999px var(--#{$variable-prefix}table-accent-bg);
  }

  > tbody {
    vertical-align: inherit;
  }

  > thead {
    vertical-align: center;
    border-style: none;
  }

  // Highlight border color between thead, tbody and tfoot.
  > :not(:last-child) > :last-child > * {
    border-bottom-color: $table-group-separator-color;
  }
}

//
// Change placement of captions with a class
//

.caption-top {
  caption-side: top;
}
//
// Condensed table w/ half padding
//

.table-sm {
  // stylelint-disable-next-line selector-max-universal
  > :not(caption) > * > * {
    padding: $table-cell-padding-y-sm $table-cell-padding-x-sm;
  }
}

// Border versions
//
// Add or remove borders all around the table and between all the columns.
//
// When borders are added on all sides of the cells, the corners can render odd when
// these borders do not have the same color or if they are semi-transparent.
// Therefor we add top and border bottoms to the `tr`s and left and right borders
// to the `td`s or `th`s

.table-bordered {
  > :not(caption) > * {
    border-width: $table-border-width 0;

    // stylelint-disable-next-line selector-max-universal
    > * {
      border-width: 0 $table-border-width;
    }
  }
}

.table-borderless {
  // stylelint-disable-next-line selector-max-universal
  > :not(caption) > * > * {
    border-bottom-width: 0 ;
  }
}

// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.table-striped {
  > tbody > tr:nth-of-type(#{$table-striped-order}) {
    --#{$variable-prefix}table-accent-bg: var(--#{$variable-prefix}table-striped-bg);
    color: var(--#{$variable-prefix}table-striped-color);
  }
}

// Active table
//
// The `.table-active` class can be added to highlight rows or cells

.table-active {
  --#{$variable-prefix}table-accent-bg: var(--#{$variable-prefix}table-active-bg);
  color: var(--#{$variable-prefix}table-active-color);
}

// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.table-hover {
  > tbody > tr:hover {
    --#{$variable-prefix}table-accent-bg: var(--#{$variable-prefix}table-hover-bg);
    color: var(--#{$variable-prefix}table-hover-color);
  }
}


// Table variants
//
// Table variants set the table cell backgrounds, border colors
// and the colors of the striped, hovered & active tables

@each $color, $value in $table-variants {
  @include table-variant($color, $value);
}

// Responsive tables
//
// Generate series of `.table-responsive-*` classes for configuring the screen
// size of where your table will overflow.

@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

  @include media-breakpoint-down($breakpoint) {
    .table-responsive#{$infix} {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
}


////New Desing Dashboard Table
.tableFoot{
  padding-top: 44px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .text-hide{
    font-size: 14px;
    color: $indigo-200;
    cursor: pointer;
  }
  .table-actual-month{
    display: flex;
    .text-slopes{
      font-weight: 700;
      font-size: 20px;
      padding-right: 4px;
    }
    .text-slopes-month{
      font-weight: 700;
      font-size: 20px;
      color: $indigo-200;
    }
  }
  .table-last-month{
    display: flex;
    flex-direction: row;
    color: $indigo-200;
    cursor: pointer;
  }
  .hideText{
    display: none;
  }
}
.hideTable{
  display: none;
}
.table-margin{
  tr:nth-child(even) {
    background-color: white;
  }
  th, td {
    background-color:rgba(249, 249, 249, 1);
    min-width: 6rem;
    text-align: left;
    margin-bottom: 8px;
  }
}
.table-body-items{
  width: 100%;
  height: 336px !important;
  overflow-y:scroll;
  overflow-x:hidden;
  display: flex;
  flex-direction: column;
}
.table-container{
  thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;/* even columns width , fix width of table too*/
  }
  thead{
    z-index: 0 !important;
  }
  tbody{
    z-index: 0 !important;
  }
  .table-main-icon{
    color: $indigo;
  }
  .table-header{
    background-color: white;
    .table-header-label{
      &:last-child{
        text-align: center;
      }
      color:$gray-500;
      font-size: 12px;
      justify-items: auto;
      font-weight: 500;
    }
  }
  padding: 24px;
  width: 100%;
  color: #15181B;
  vertical-align: top;
  border-color: #DEE2E6;
  display: table;
  th, td {
    min-width: 6rem;
    text-align: left;
  }
}
.table-container-label{
  display: flex;
  flex-direction: column;
  text-align: center;
  .table-container-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .table-info-last{
      display: flex;
      align-items: center;
      padding-right: 16px;
      .material-icons{
        color: $gray-600;
        font-size: 32px;
      }
    }
    .table-info-label{
      color: $gray-700;
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
    }
    .table-info-time{
      font-weight: bold;
      font-size: 24px;
      padding-right: 4px;
    }
    .table-info-icon{
      margin-top: 16px;
      flex-direction: column;
      padding-right: 16px;
    }
    .table-container-test{
      display: flex;
      flex-direction: row;
    }
  }
  .table-main-label{
    color: $gray-600;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
  }
  .table-sub-label{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #ADB5BD;
  }
}
.table-data-percentage{
  .data-percentage{
    text-align: center;
    color: white;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
  }
  padding: 8px;
  width: auto;
  background: #7879F1;
  border-radius: 24px;
  color: white;
}
  .table-container-button{

  }
  .table-container-images{
    justify-content: center;
    .table-image-buttons{
      margin-left: -14px;
    }
    display: flex;
  }
  .table-data-label-past {
    color: $danger !important;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }
  .table-data-label-actual{
  color: $indigo !important;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}



