.demo {
  width: -webkit-fill-available;
  user-select: none;
  size : 16px;
}

.tab-button {
padding: 6px 30px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
cursor: pointer;
border: none;
margin-bottom: -1px;
margin-right: 25px;
background: transparent;
}
.tab-button:hover {
background: transparent;
}
.tab-button.active {
background: transparent;
border-bottom: 4px solid #7879F1;

}
.tab {  
border: 1px solid #ccc;
padding: 10px;
}
