
.toasts > ul {
  max-width: $feedback-max-width;
  padding-left: 0 !important;
  position: relative;
  z-index: 10;
  font-family: $font-family-sans-serif;
}
.toast-list-enter{
  opacity: 0.1;
}
.toast-list-leave-to {
  opacity: 0.1;
}
.toast-box {
  padding: $feedback-padding-y $feedback-padding-x ;
  border-radius: 3px;
  box-shadow: $feedback-box-shadow;
  color: white;
  margin-bottom: 5px;
  transition: all ease 3s;
  background: $gray-600;
  display: flex;
  align-items: center;
}


.is-success{
  background: $gray-600;
  /*border-left: 6px solid #4D9546;*/
}

.is-danger{
  background: $gray-600;
  /*border-left: 6px solid #cc3300;*/
}

.is-info{
  background: #4091d7;
  /*border-left: 6px solid #0c5ca3;*/
}
.toast-text{
  min-width: 245px;
  display: flex;
}
.toast-header {
  margin-left: -20px;
}
.toast-header h1 {
  font-weight: 400;
  font-size: $feedback-font-size !important;
  margin-left: 20px;
}

.toast-box i {
  font-size: 25px;
  display: flex;
  width: 100%;
}
.toast-icon{
  display: flex;
}
.toast-body {
  font-size: $feedback-font-size;
  word-wrap: break-word;
  display: flex;
  margin-right: 16px;
  margin-left: 16px;
  align-items: flex-start;
}
.toast-close {
  cursor: pointer;
  display: flex;
  word-wrap: break-word;
  .close-toast {
    text-decoration: none;
    color: $white;
    display: flex;
    font-weight: 700;
    word-wrap: break-word;
    margin-left: 8px;
    &:hover{
      color: $indigo-100;
    }
  }
  .close-toast-optional {
    text-decoration: none;
    color: $white;
    font-weight: 700;
    display: flex;
    word-wrap: break-word;
    margin-left: 16px;
    &:hover{
      opacity: 0.8;
    }
  }
}
.toast-close i {
  font-size: $feedback-font-size;
  cursor: pointer;
  opacity: 0.4;
  display: flex;
  width: 100%;
}
@media (max-width: 600px) {
  .toast-box {
    flex-direction: column;
    padding: 24px;
    .toast-body{
      padding-bottom: 24px;
      padding-top: 16px;
      text-align: center;
    }
    .close-toast , .close-toast-optional{
      margin: 0 16px;
    }
  }
}
@media (max-width:992px){
 .toasts > ul{
   width: 90%;
   .toast-box{
     justify-content: center;
   }
 }
}