.container_tooltip{
  position: absolute;
  display: flex;
}
ul{
  padding-left: 0 !important;
  padding-top: 4px;
}
.tooltip {
  position: relative;
  &__item {
    position: absolute;
    white-space: pre;
    max-width:300px;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    font-size: 14px;
    background: var(--bg-color);
    transition: all .250s cubic-bezier(0, 0, 0.2, 1);
    color: $white;
    border: 1px solid #cecece;
    border-radius: 8px;
    font-weight: 500;
    z-index: 999;
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
    }
  }

  &__initiator {
    cursor: pointer;
    z-index: 2;
  }

  &[data-direction="right"] {

    .tooltip__initiator:hover ~ .tooltip__item {
      transform: translate3d(0, -50%, 0);
      visibility: visible;
      opacity: 1;
    }

    .tooltip__item {
      top: 50%;
      left: calc(100% + 1em);
      transform: translate3d(15px, -50%, 0);

      &:after {
        top: 50%;
        left: -0.5em;
        transform: translate3d(0, -50%, 0)rotate(180deg);
        border-width: 0.5em 0 0.5em 0.5em;
        border-color: transparent transparent transparent var(--bg-color);
        -webkit-filter: drop-shadow(1px 2px 1px #bcbcbc);
        filter: drop-shadow(1px -2px 1px #bcbcbc);
      }
    }
  }

  &[data-direction="left"] {

    .tooltip__initiator:hover ~ .tooltip__item {
      transform: translate3d(0, -50%, 0);
      visibility: visible;
      opacity: 1;
    }

    .tooltip__item {
      top: 50%;
      right: calc(100% + 1em);
      transform: translate3d(15px, -50%, 0);

      &:after {
        top: 50%;
        right: -0.5em;
        transform: translate3d(0, -50%, 0);
        border-width: 0.5em 0 0.5em 0.5em;
        border-color: transparent transparent transparent var(--bg-color);
        -webkit-filter: drop-shadow(1px 2px 1px #bcbcbc);
        filter: drop-shadow(1px -2px 1px #bcbcbc);
      }
    }
  }
  &[data-direction="left-up"] {

    .tooltip__initiator:hover ~ .tooltip__item {
      transform: translate3d(0, -50%, 0);
      visibility: visible;
      opacity: 1;
    }

    .tooltip__item {
      top: 50%;
      right: calc(100% + 1em);
      transform: translate3d(15px, -50%, 0);

      &:after {
        top: 50%;
        right: -0.5em;
        transform: translate3d(0, -50%, 0);
        border-width: 0.5em 0 0.5em 0.5em;
        border-color: transparent transparent transparent var(--bg-color);
        -webkit-filter: drop-shadow(1px 2px 1px #bcbcbc);
        filter: drop-shadow(1px -2px 1px #bcbcbc);
      }
    }
  }

  &[data-direction="left-down"] {

    .tooltip__initiator:hover ~ .tooltip__item {
      transform: translate3d(0, -50%, 0);
      visibility: visible;
      opacity: 1;
    }

    .tooltip__item {
      top: 30% ;
      right: calc(100% + 1em);
      transform: translate3d(15px, -50%, 0);

      &:after {
        top: 58%;
        right: -0.5em;
        transform: translate3d(0, -50%, 0);
        border-width: 0.5em 0 0.5em 0.5em;
        border-color: transparent transparent transparent var(--bg-color);
        -webkit-filter: drop-shadow(1px 2px 1px #bcbcbc);
        filter: drop-shadow(1px -2px 1px #bcbcbc);
      }
    }
  }




  &[data-direction="bottom"] {

    .tooltip__initiator:hover ~ .tooltip__item {
      transform: translate3d(-50%, 0, 0);
      visibility: visible;
      opacity: 1;
    }

    .tooltip__item {
      top: calc(100% + 1em);
      left: 50%;
      transform: translate3d(-50%, -15px, 0);

      &:after {
        top: -0.5em;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        border-width: 0 0.5em 0.5em 0.5em;
        border-color: transparent transparent var(--bg-color) transparent;
        -webkit-filter: drop-shadow(1px 2px 1px #bcbcbc);
        filter: drop-shadow(1px -2px 1px #bcbcbc);
      }
    }
  }

  &[data-direction="top"] {

    .tooltip__initiator:hover ~ .tooltip__item {
      transform: translate3d(-50%, 0, 0);
      visibility: visible;
      opacity: 1;
    }

    .tooltip__item {
      bottom: calc(100% + 1em);
      left: 50%;
      transform: translate3d(-50%, -15px, 0);

      &:after {
        bottom: -0.5em;
        left: 50%;
        transform:translate3d(-50%, 0, 0) rotate(180deg);
        border-width: 0 0.5em 0.5em 0.5em;
        border-color: transparent transparent var(--bg-color) transparent;
        -webkit-filter: drop-shadow(1px 2px 1px #bcbcbc);
        filter: drop-shadow(1px -2px 1px #bcbcbc);
      }
    }
  }
  &.bg {
    &__default {
      --bg-color: #495057;
    }
    &__success {
      --bg-color: #28B172;
    }

    &__warning {
      --bg-color: #FBBE03;
    }

    &__danger {
      --bg-color:  #FF6760;
    }

    &__info {
      --bg-color: #0E88E1;
    }
  }
}
