.filter-container {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(33%, 1fr)); 
    grid-column-gap: 10px;
    justify-content: space-between;
    padding: 8px;
    background: #EBEDF1;
    border-radius: 4px;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    .filter-input{
      display: grid;
      max-width: 356px;
      align-items: center;
      .rounded .form-control{
        min-width: 356px
      }
    }
    .filter-select{
      .filter-select-label{
        width: 100%;
        max-width: 80px;
      }
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  .form-control:focus-visible{
    border: solid 1px #0D438B !important;
    outline: none !important;
  }

  .model-two{
    background-color:transparent !important;
    border-top: solid 1px #DEE2E6 !important;
    border-bottom: solid 1px #DEE2E6 !important;
    border-radius: 0 !important;
  }