<template>
  <label v-if="(label != '')" class="form-label">{{ label }}</label>
  <div class="input-group">
    <div :class="selectStyle" @mouseleave="open = false">
        <button ref="ibSelectButton" class="selected" :class="[{ open: open} ,`${color}`]" v-on:click="fixWidth" @click="open = !open" >
        <span class="select-label">
          <a class="select-labelSelected">{{ selected.label }}</a>
          <ib-icon
            addType="icons-outlined"
            icon="keyboard_arrow_down"
            :class="{ down: open }"
            class="arrow"
          ></ib-icon>
        </span>
      </button>
      <div class="inputSearch" :style="{'width': this.fixedWidth}" :class="{ selectHide: !open }">
        <ib-input
          v-if="searcher"
          :class="{ selectHide: !open }"
          placeholder="Buscar..."
          class="search"
          iconleft="search"
          v-model:value="search"
        />
        <div class="items-container" :style="{'width': this.fixedWidth}">
          <div class="items" :class="{ selectHide: !open }">
            <a
              class="item-label"
              v-for="option in filteredOptions"
              :key="option.id"
              @mousedown="handleValue(option)"
            >
              <ib-icon v-if="option.icon" :icon="option.icon" class="item-icon" />
              <span class="item-label-text" :class="{ 'icon-fix': option.icon }">{{ option.label }}</span>
            </a>
            <hr class="separator" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ibSelect",
  props: {
    searcher: Boolean,
    onChange: String,
    dropdown: String,
    color: String,
    size: String,
    label: String,
    options: {
      type: Array,
      required: true,
    },
    default: String,
    value: Number,
  },
  emits: ["update:value"],
  computed: {
    filteredOptions() {
      return this.options.filter((option) => {
        return option.label.toLowerCase().includes(this.search.toLowerCase());
      });
    },
  },
  data() {
    let fontSize = "";
    if (this.size != undefined) {
      fontSize = this.size;
    }
    return {
      selectStyle: "custom-select " + fontSize,
      selected: this.default ? { label: this.default } : null,
      inputValue: this.value ? this.value : null,
      open: false,
      changeOn: "",
      fixedWidth: "100%",
      valueSelect: this.value,
      search: "",
    };
  },
  created() {
    window.addEventListener("load", this.fixWidth);
    window.addEventListener("resize", this.fixWidth);
    this.selectedMethod();
  },
  mounted() {
    if (!this.selected.label) {
    this.selected = { label: this.default || "Texto de ejemplo" };
  }
    if (this.valueSelect === null || this.valueSelect === undefined) {
      this.selected = this.default;
      if (null === this.selected && this.options.length > 0) {
        this.selected = this.options[0];
      }
    }
  },
  methods: {
    selectedMethod() {
      if (this.valueSelect !== undefined && this.options !== undefined && this.options.length > 0) {
        let value = this.valueSelect;
        let selected = "";

        this.options.forEach(function (element) {
          if (value === element.id) {
            selected = element.label;
          }
        });
        this.selected = { label: selected };
        this.$emit("update:value", this.valueSelect);
      }
    },
    reload() {
      window.addEventListener("load", this.fixWidth);
    },
    fixWidth: function () {
      if (this.$refs.ibSelectButton) {
        this.fixedWidth = this.$refs.ibSelectButton.clientWidth + 2 + "px";
      }
    },
    handleValue: function (option) {
      this.valueSelect = option.id;
      this.selected = option;
      this.open = false;
      this.search = "";
      this.$emit("update:value", this.valueSelect);
    },
  },
};
</script>
