@mixin menu-link-styles {
    .menuLinkSub {
      &:hover {
        color: white !important;
        border-radius: 16px;
        .material-icons-outlined {
          color: white !important;
          opacity: 1 !important;
          transition: all .3s;
        }
      }
      .menuLinksRoute {
        color: white !important;
      }
    }
  
    a {
      position: relative;
      z-index: 1;
      color: white;
      position: relative;
      display: flex;
      width: auto;
  
      &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(270deg, rgba(255, 255, 255, 0.072) 0%, rgba(255, 255, 255, 0) 100%) !important;
        z-index: -1;
        transition: opacity .2s linear;
        opacity: 0;
        border-radius: 60px;
      }
    }
  
    a.active {
      color: white;
      [role="icon"] {
        color: white;
        opacity: 1;
      }
    }
  
    a.active::before, a:hover::before {
      opacity: 1;
    }
  }
