<template>
  <div v-if="modelOne" >
      <table class="table-container">
        <thead>
        <tr class="table-header">
          <th v-for="column in list.columns" v-bind:key="column.label" class="table-header-label">
           <p>{{ column.label }}</p>
          </th>
        </tr>
        </thead>
        <tbody class="table-body-items">
        <tr v-for="row in list.rows" v-bind:key="row">
          <td class="table-container-label">
            <span class="table-main-label">{{ row.titulo }}</span>
            <span class="table-sub-label">{{ row.categoria }}</span>
          </td>
          <td class="table-data-label-past">
            <p>{{ row.past}}</p>
          </td>
          <td class="table-data-label-actual">
           <p>{{ row.actual}}</p>
          </td>
          <td>
            <div class="table-data-percentage">
              <p class="data-percentage">{{ row.percentage}}</p>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
  </div>
  <div v-if="modelTwo" >
    <table class="table-container table-margin">
      <tbody>
      <tr v-for="row in list.rows" v-bind:key="row" >
        <td class="table-container-label">
          <div class="table-container-info">
            <div class="table-container-test" >
              <div class="table-info-icon">
                <ib-icon class="table-main-icon icon-large"  addType="icons-outlined" icon="timer"></ib-icon>
              </div>
              <div>
                <span class="table-info-label">{{ row.categoria }}</span>
                <div>
                  <span class="table-info-time">{{ row.tiempo }}</span>
                  <span class="table-info-label">{{ row.titulo }}</span>
                </div>
              </div>
            </div>
            <div class="table-info-last">
              <ib-icon  addType="icons" :icon="row.icon"></ib-icon>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div v-if="modelThree">
    <table class="table-container">
      <thead>
      <tr class="table-header">
        <th v-for="column in list.columns" v-bind:key="column.label" class="table-header-label">
          <p>{{ column.label }}</p>
        </th>
      </tr>
      </thead>
      <tbody class="table-body-items">
      <tr v-for="row in list.rows" v-bind:key="row">
        <td class="table-container-label">
          <span class="table-main-label">{{ row.titulo }}</span>
          <span class="table-sub-label">{{ row.categoria }}</span>
        </td>
        <td class="table-data-label-past">
          <p>{{ row.past}}</p>
        </td>
        <td class="table-container-button">
          <ib-button type="btn button-mxw white" :color="row.color">{{ row.actual}}</ib-button>
        </td>
        <td class="table-container-images">
          <div v-for=" images in row.percentage" :key="images" class="table-image-buttons">
            <ib-button type="btn button-img" sizeImg="32px"  image="image" :src="images" ></ib-button>
          </div>
        </td>
      </tr>
      </tbody>
      <tfoot>

      <div class="tableFoot">
        <div @click="showMenu()" :class="{'hideText':!text}" class="table-last-month">
          <ib-icon addType="icons icon-sm" icon="history"></ib-icon>
          <div style="margin-left: 10px">Ver pendientes resueltos del último mes</div>
        </div>
        <div class="table-actual-month" :class="{'hideText':!textMonth}">
          <span class="text-slopes">Pendientes resueltos:</span>
          <span class="text-slopes-month">{{ month }}</span>
        </div>
        <div @click="hideMenu()" :class="{'hideText':!textMonth}">
          <span class="text-hide">Ocultar</span>
        </div>
      </div>

      <div  :class="{'hideTable':!open}" >
        <table class="table-container">
          <tbody class="table-body-items">
          <tr v-for="row in listTwo.rows" v-bind:key="row">
            <td>
              <div style="display: flex; color:darkgrey">
                <ib-icon addType="icons icon-sm" icon="check"></ib-icon>
                <div style="margin-left: 10px"><del>{{ row.titulo }}</del></div>
              </div>
            </td>
            <td class="table-data-label-past">
              <p style="color:darkgrey">{{ row.past}}</p>
            </td>
            <td class="table-container-button">
              <ib-button type="btn button-mxw white" :color="row.color">{{ row.actual}}</ib-button>
            </td>
            <td class="table-container-images">
              <div v-for=" images in row.percentage" :key="images" class="table-image-buttons">
                <ib-button type="btn button-img" sizeImg="32px" image="image" :src="images" ></ib-button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      </tfoot>
    </table>
  </div>
</template>

<script>
export default {
  name: "ibTable",
  props: {
    list: Object,
    listTwo:Object,
    month:String,
    modelOne:String,
    modelTwo:String,
    modelThree:String
  },
  data() {
    return {
      textMonth:false,
      text:true,
      open:false,
      data: this.list,
      filters: this.list.filters ? this.list.filters : null
    }
  },
  methods:{
    showMenu(){
      this.text=false
      this.open=true
      this.textMonth=true
    },
    hideMenu(){
      this.text=true
      this.open=false
      this.textMonth=false
    },
  }
}
</script>


