<template>
  <div>
    <div class="containerDrop" :class="error?'red-border':''">
      <div class="elements-wraper">

        <!--agregar imagen-->
        <div class="button-container image-margin">
          <label for="images-upload" class="images-upload" :class="{ active:'maxW'}">
            <ib-icon class="image-upload-icon" addType="icons-outlined" icon="add_photo_alternate"></ib-icon>
          </label>
          <input @change="fileChange" id="images-upload" type="file" accept="image/*" multiple hidden>
        </div>

        <!--preview imagen-->
        <div v-for="(image, index) in media" :key="index" class="image-container image-margin">
          <!--<img :src="image.url" alt=""  class="images-preview">-->
          <img :src="image.ruta" alt=""  class="images-preview">
          <button @click="remove(index, image)" class="close-btn" type="button">
            <ib-icon addType="icons" icon="close"></ib-icon>
          </button>
        </div>
      </div>
    </div>
    <div v-if='error' id="media-required">
      <p class='red-text'>{{error}}</p>
    </div>
    <div v-for="(image, index) in media" :key="index" class="m-top">
      <input type="text" name="media[]" :value="image.name" hidden>
    </div>
  </div>
</template>

<script>


export default {
  name: 'ibDropimage',
  data(){
    let media = this.preconfigMedia!=undefined?this.preconfigMedia:[];
    let files = [];
    return{
      media,
      files,
      imagenesEliminadas:[]
    }
  },
  methods:{
    async fileChange(event){
      let files = event.target.files
      for(var i=0; i < files.length; i++){
        // let formData = new FormData()
        let url = URL.createObjectURL(files[i])
        // formData.append('file' , files[i]);

        // const {data} = await axios.post(this.post, formData,{headers : {'content-type':'multipart/form-data'}})
        //this.media.push({url:url, name:data.name, size:files[i].size, type:files[i].type});
        this.media.push({ruta:url, name:files[i].name, size:files[i].size, type:files[i].type});
        this.files.push(files[i]);
      }
      this.media_emit()
    },
    remove(index,image){
      this.media.splice(index,1)
      if (image.id !== undefined && image.id){
        this.imagenesEliminadas.push(image.id);
      }
      this.media_emit()
    },
    media_emit(){
      this.$emit('media',this.media)
    },
    getFiles(){
      return this.files;
    },
    removeImagebbdd(){
      if (this.imagenesEliminadas.length > 0){
        axios.post("/productoConfigurado/eliminarImagenProductoConfigurado", {idProducto:this.idProducto,imagenes:this.imagenesEliminadas})
            .then(response => {
              console.log(response);
              this.imagenesEliminadas = [];
            })
            .catch(error => {
              console.log(error);
            });
      }

    }
  },
  mounted() {
    this.$emit('media',this.media)
  },
  props:{
    post:String,
    preconfigMedia: Array,
    idProducto: Number
  },
}
</script>

<style scoped lang="scss">
.maxW{
  width: 100%;
}

.containerDrop{
  width: 100%;
  background-color: #fbfbfb ;
  border-radius: 5px;
  line-height: 1;
  box-sizing: border-box ;
  height: auto ;
}

.images-upload {
  .image-upload-icon{
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    margin-top: 50px;
    color:  #ccc;
  }
  background-color: #ffffff;
  border-radius: 4px;
  margin: 0;
  border: 2px dashed #ccc;
  display: inline-block;
  cursor: pointer;
  width: 176px;
  height: 132px;
}
.images-upload:hover{
  background-color: #f1f1f1;
}
.image-container{

  height: 132px;
  width: 176px;
  display: flex;
}
.images-preview {
  border-radius: 4px;
  display: inline-block;
  height: 132px;
  width: 176px;
  padding-top: -14px;
  transition: filter 0.1s linear;

}
.images-preview:hover{
  filter: brightness(90%);
}

.button-container{
  display: inline-flex;
  height: 132px;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}
.close-btn{
  background: none;
  color:red;
  border: none;
  padding: 0px;
  margin:0px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  position: relative;
  right: 34px;
  top: -40px;
  width: 0px;
}

.close-btn:hover{
  color: rgb(190, 39, 39);
}


/* -------------------- */


.red-border {
  border: 1px solid #dc3545;
  border-color: #dc3545;
}

.elements-wraper {
  display: flex;
  flex-wrap: wrap;

}
.align-center {
  text-align: center;
}
.m-top-1 {
  margin-top: 0.25rem;
}

.image-margin {
  margin: 0.25rem;
}
.red-text {
  color: #d82335;
}

</style>




