<template>
  <div class="carousel slide">
  <div class="slider-container">
    <ul class="slider" :style="styleObject">
     <slot></slot>
    </ul>
    <div class="carousel-indicators">
    <div class="indicators" >
      <button @click="changeSlide(1)" ></button>
      <button @click="changeSlide(2)" ></button>
      <button @click="changeSlide(3)" ></button>
      <button @click="changeSlide(4)" ></button>
  </div>
    </div>
  </div>
  </div>


</template>

<script>
export default {
  name:'ib-slider',
  props:{
    items:String
  },
  data() {
    return {
      activeSlide: 1
    }
  },
  computed: {
    styleObject: function() {
      const width = 0 - ((this.activeSlide-1) * 700)
      return {
        transform: 'translateX('+width+'px)'
      }
    }
  },
  methods: {
    changeSlide: function(num) {
      this.activeSlide = num
    },
    nextSlide: function() {
      if(this.activeSlide < 6) this.activeSlide++
    },
    prevSlide: function() {
      if(this.activeSlide > 1) this.activeSlide--
    }
  }
}
</script>
