<template>
  <span v-if="badge" :class="colors" role="badge">
    {{ badge }}
  </span>
  <span v-if="notificationBadge"  :class="colors" class="position-absolute translate-middle rounded-pill" role="badge">
    {{ notificationBadge }}
  </span>

</template>

<script>
export default {
  name:'ib-badge',
  props:{
    type:String,
    badge:String,
    notificationBadge:Number,
  },
  data () {

    let BadgeColor = "primary"
    if (this.type != undefined) {
      BadgeColor = this.type
    }

    return {
      colors: "badge bg-" + BadgeColor,
      BadgeShape: "position-absolute translate-middle rounded-pill"



    }
  }
}
</script>