<template>
  <div>
    <ul class="sectionTitle">
      <li v-for="(section, index) in sections" :key="index" @click="setActive(index)" :class="['tab-button', { active: currentTab === index }]">
        {{ section.title }}
      </li>
    </ul>
    <div v-if="activeSection !== null">
      <h2>{{ activeSection.title }}</h2>
      <p>{{ activeSection.content }}</p>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      sections: [
        { title: 'Section 1', content: 'Information for section 1' },
        { title: 'Section 2', content: 'Information for section 2' },
        { title: 'Section 3', content: 'Information for section 3' },
      ],
      activeSection: null,
      currentTab: null
    }
  },
 
  methods: {
    setActive(index) {
      this.activeSection = this.sections[index];
      this.currentTab = index;
    },
  },
};
</script>

<style lang="scss">
.sectionTitle{
  cursor:pointer;
  display:flex;
  flex-direction: row;
  gap:20px;
}
</style>
