<template>
  <nav  style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M1.5 0L1 1.5 3.5 4 1 6.5 1.5 8l4-4-4-4z' fill='darkgray'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
   <slot></slot>
    </ol>
  </nav>
</template>

<script>

export default {
  name:'ib-breadcrumb',
}
</script>