<template>
  <li :class="active"><router-link :to="link"><slot></slot></router-link></li>
</template>

<script>
export default {
  name:'ib-breadcrumbitem',
  props:{
    link:String,
    type:String
  },
  data () {

    let activeLink = ""
    if (this.type != undefined) {
      activeLink = this.type
    }

    return {
      active: "breadcrumb-item " + activeLink,
    }
  }
}
</script>