<template>
  <div :class="style" role="alert"><slot></slot><ib-icon addType="icons" :icon="icon"/></div>
</template>

<script>


export default {
  name: 'ib-alert',
  props: {
    type: String,
    icon:String,
  },
  data() {
    let type = (typeof this.type == 'undefined') ? 'primary' : this.type
    return {
      style: "alert alert-" + type
    }
  }
}
</script>
