<template>
<!--  <ib-button type="itbigo large-lg" @click="$refs.calendar1.setToday()">Volver a hoy</ib-button>-->
<div >
<div>
  <span>Ventana Emergente</span>
  <input class="selectCalendar" type="text" @click="openByDrop($event)" v-model="calendar3.display" readonly>
  -
  <input class="selectCalendar" type="text" @click="openMultiByDrop($event)" v-model="calendar5.display" readonly>
  -
  <input class="selectCalendar" type="text" @click="openByDialog" :value="calendar4.display" readonly>
</div>

<!--        <calendar-->
<!--            class="col"-->
<!--            ref="calendar1"-->
<!--            :events="calendar1.events"-->
<!--            :lunar="calendar1.lunar"-->
<!--            :value="calendar1.value"-->
<!--            :begin="calendar1.begin"-->
<!--            :end="calendar1.end"-->
<!--            :weeks="calendar1.weeks"-->
<!--            :months="calendar1.months"-->
<!--            @select="calendar1.select"-->
<!--            @selectMonth="calendar1.selectMonth"-->
<!--            @selectYear="calendar1.selectYear">-->
<!--        </calendar>-->



  <!--        <button @click="changeEvents">Actualizar precio de forma asincrónica</button>-->
<!--        <button @click="calendar1.value=[2021,11,Math.floor(Math.random()*30+1)]">Establecer la fecha de forma dinámica</button>-->



<!--        <calendar :range="calendar2.range" :lunar="calendar2.lunar" :value="calendar2.value" :begin="calendar2.begin" :end="calendar2.end" @select="calendar2.select"></calendar>-->

    </div>
    <transition name="fade">
      <div class="calendar-dropdown" :style="{'left':calendar3.left+'px','top':calendar3.top+'px'}" v-if="calendar3.show">
        <ibCalendar :zero="calendar3.zero" :lunar="calendar3.lunar" :value="calendar3.value" :begin="calendar3.begin" :end="calendar3.end" @select="calendar3.select"></ibCalendar>
      </div>
    </transition>

    <transition name="fade">
      <div class="calendar-dropdown" :style="{'left':calendar5.left+'px','top':calendar5.top+'px'}" v-if="calendar5.show">
        <ibCalendar :zero="calendar5.zero" :disabled="calendar5.disabled" :lunar="calendar5.lunar" :value="calendar5.value" :multi="calendar5.multi" @select="calendar5.select"></ibCalendar>
      </div>
    </transition>

    <transition name="fade">
      <div class="calendar-dialog" v-if="calendar4.show">
        <div class="calendar-dialog-mask" @click="closeByDialog"></div>
        <div class="calendar-dialog-body">
          <ibCalendar :range="calendar4.range" :zero="calendar4.zero" :lunar="calendar4.lunar" :value="calendar4.value"  @select="calendar4.select"></ibCalendar>
        </div>
      </div>
    </transition>
</template>

<script>



export default {
  name:'ibCalendarBase',

  props:{
    DobleCalendar:String,
    SelectCalendar:String
  },
  data(){
    return {
      calendar1:{
        value:[2021,12,'12'], //Fecha predeterminada
        begin:[],
        lunar:false, //Mostrar el calendario lunar
        weeks:['D', 'L', 'M', 'M', 'J', 'V', 'S'],
        months:['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthsTwo:['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        events:{
          '2021-11-7':'$408',
          '2021-11-20':'$408',
          '2021-11-21':'$460',
          '2021-11-22':'$500',
        },
        select(value){
          console.log(value.toString());
        },
        selectMonth(month,year){
          console.log(year,month)
        },
        selectYear(year){
          console.log(year)
        },
        timestamp:Date.now()
      },
      calendar2:{
        range:true,
        value:[[2021,11,1],[2021,12,16]], //Fecha predeterminada
        lunar:false, //Mostrar el calendario lunar
       },
      calendar3:{
        display:"2021.11.16",
        show:false,
        zero:true,
        value:[2021,11,16], //Fecha predeterminada
        lunar:false, //Mostrar el calendario lunar
        select:(value)=>{
          this.calendar3.show=false;
          this.calendar3.value=value;
          this.calendar3.display=value.join(".");
        }
      },
      calendar4:{
        display:"2021.11.16 ~ 2021.12.16",
        show:false,
        range:true,
        zero:true,
        value:[[2021,11,16],[2021,12,16]], //Fecha predeterminada
        lunar:false, //Mostrar el calendario lunar
        select:(begin,end)=>{
          // console.log(begin,end)
          this.calendar4.show=false;
          this.calendar4.value=[begin,end];
          this.calendar4.display=begin.join(".")+" ~ "+end.join(".");
        }
      },
      calendar5:{
        display:"2021.11.2-2021.12.2",
        multi:true,
        range:true,
        show:false,
        zero:true,
        value:[[2021,11,1],[2021,11,2]], //Fecha predeterminada
        disabled:[[2021,12,24],[2021,12,25]], //Fecha predeterminada
        lunar:false, //Mostrar el calendario lunar
        select:(value)=>{

          let displayValue=[]
          value.forEach(v=>{
            displayValue.push(v[0]+"."+(v[1])+"."+v[2])
          })
          // console.log(displayValue);
          this.calendar5.display=displayValue.join("-");

          // this.calendar5.show=false;
          this.calendar5.value=value;

        }
      },
    }
  },
  methods:{
    openByDrop(e){
      this.calendar3.show=true;
      this.calendar3.left=e.target.offsetLeft+19;
      this.calendar3.top=e.target.offsetTop+70;

      e.stopPropagation();
      window.setTimeout(()=>{
        document.addEventListener("click",()=>{
          this.calendar3.show=false;
          document.removeEventListener("click",()=>{},false);
        },false);
      },1000)
    },
    openByDialog(){
      this.calendar4.show=true;
    },
    closeByDialog(){
      this.calendar4.show=false;
    },
    openMultiByDrop(e){
      this.calendar5.show=true;
      this.calendar5.left=e.target.offsetLeft+19;
      this.calendar5.top=e.target.offsetTop+70;
      e.stopPropagation();
      window.setTimeout(()=>{
        document.addEventListener("click",()=>{
          this.calendar5.show=false;
          document.removeEventListener("click",()=>{},false);
        },false);
      },1000)
    },
    changeEvents(){
      this.calendar1.events={
        '2021-11-20':'$'+(Math.random()*1000>>0),
        '2021-11-21':'$'+(Math.random()*1000>>0),
        '2021-11-22':'$'+(Math.random()*1000>>0),
      }
    }
  }
}
</script>

<style scoped>
body{
  background-color: gray;
}
</style>
