<template>
  <div ref="calendar" class="calendar container-fluid">
    <div class="calendar-years" >
      <span  v-for="y in years" :key="y" @click.stop="selectYear(y)" :class="{'active':y==year}">{{y}}</span>
    </div>
    <div class="calendar-tools" @click.stop="changeYear">
      <span class="calendar-prev" @click="prev">
               <ib-icon addType="icons-outlined" icon="navigate_before"></ib-icon>
            </span>
      <span class="calendar-next"  @click="next">
                 <ib-icon addType="icons-outlined" icon="navigate_next"></ib-icon>
            </span>
      <div class="calendar-info">
        <!-- {{monthString}} -->
        <div class="monthd">
          <div class="month-inner" :style="{'top':-(this.month*20)+'px'}">
            <span v-for="m in months" :key="m">{{m}}{{year}}</span>
          </div>
        </div>
        <div class="year"></div>
        <div class="month2">
          <div class="month-inner" :style="{'top':-(this.month*20)+'px'}">
            <span v-for="m in months2" :key="m">{{m}}{{year}}</span>
          </div>
        </div>
        <div class="year2"></div>
      </div>
    </div>

    <table>
      <thead>
      <tr>
        <td v-for="week in weeks" :key="week" class="week last">{{week}}</td>
      </tr>

      </thead>
      <tbody>
      <tr v-for="(day,k1) in days" :key="day" style="{'animation-delay',(k1*30)+'ms'}">
        <td v-for="(child,k2) in day" :key="child" :class="{'selected':child.selected,'disabled':child.disabled}" @click="select(k1,k2,$event)">
          <span :class="{'':k2==0||k2==6||((child.isLunarFestival||child.isGregorianFestival) && lunar)}">{{child.day}}</span>

          <div class="text" v-if="child.eventName!=undefined">{{child.eventName}}</div>
          <div class="text" :class="{'isLunarFestival':child.isLunarFestival,'isGregorianFestival':child.isGregorianFestival}" v-if="lunar">{{child.lunar}}</div>
        </td>
      </tr>
      </tbody>


    </table>
  </div>
</template>

<script>
var calendar = {

  /**
   * Tabla de información de tamaño de ejecución del calendario lunar 1900-2100
   * @Array Of Property
   * @return Hex
   */
  lunarInfo:[0x04bd8,0x04ae0,0x0a570,0x054d5,0x0d260,0x0d950,0x16554,0x056a0,0x09ad0,0x055d2,//1900-1909
    0x04ae0,0x0a5b6,0x0a4d0,0x0d250,0x1d255,0x0b540,0x0d6a0,0x0ada2,0x095b0,0x14977,//1910-1919
    0x04970,0x0a4b0,0x0b4b5,0x06a50,0x06d40,0x1ab54,0x02b60,0x09570,0x052f2,0x04970,//1920-1929
    0x06566,0x0d4a0,0x0ea50,0x06e95,0x05ad0,0x02b60,0x186e3,0x092e0,0x1c8d7,0x0c950,//1930-1939
    0x0d4a0,0x1d8a6,0x0b550,0x056a0,0x1a5b4,0x025d0,0x092d0,0x0d2b2,0x0a950,0x0b557,//1940-1949
    0x06ca0,0x0b550,0x15355,0x04da0,0x0a5b0,0x14573,0x052b0,0x0a9a8,0x0e950,0x06aa0,//1950-1959
    0x0aea6,0x0ab50,0x04b60,0x0aae4,0x0a570,0x05260,0x0f263,0x0d950,0x05b57,0x056a0,//1960-1969
    0x096d0,0x04dd5,0x04ad0,0x0a4d0,0x0d4d4,0x0d250,0x0d558,0x0b540,0x0b6a0,0x195a6,//1970-1979
    0x095b0,0x049b0,0x0a974,0x0a4b0,0x0b27a,0x06a50,0x06d40,0x0af46,0x0ab60,0x09570,//1980-1989
    0x04af5,0x04970,0x064b0,0x074a3,0x0ea50,0x06b58,0x055c0,0x0ab60,0x096d5,0x092e0,//1990-1999
    0x0c960,0x0d954,0x0d4a0,0x0da50,0x07552,0x056a0,0x0abb7,0x025d0,0x092d0,0x0cab5,//2000-2009
    0x0a950,0x0b4a0,0x0baa4,0x0ad50,0x055d9,0x04ba0,0x0a5b0,0x15176,0x052b0,0x0a930,//2010-2019
    0x07954,0x06aa0,0x0ad50,0x05b52,0x04b60,0x0a6e6,0x0a4e0,0x0d260,0x0ea65,0x0d530,//2020-2029
    0x05aa0,0x076a3,0x096d0,0x04afb,0x04ad0,0x0a4d0,0x1d0b6,0x0d250,0x0d520,0x0dd45,//2030-2039
    0x0b5a0,0x056d0,0x055b2,0x049b0,0x0a577,0x0a4b0,0x0aa50,0x1b255,0x06d20,0x0ada0,//2040-2049
    0x14b63,0x09370,0x049f8,0x04970,0x064b0,0x168a6,0x0ea50, 0x06b20,0x1a6c4,0x0aae0,//2050-2059
    0x0a2e0,0x0d2e3,0x0c960,0x0d557,0x0d4a0,0x0da50,0x05d55,0x056a0,0x0a6d0,0x055d4,//2060-2069
    0x052d0,0x0a9b8,0x0a950,0x0b4a0,0x0b6a6,0x0ad50,0x055a0,0x0aba4,0x0a5b0,0x052b0,//2070-2079
    0x0b273,0x06930,0x07337,0x06aa0,0x0ad50,0x14b55,0x04b60,0x0a570,0x054e4,0x0d160,//2080-2089
    0x0e968,0x0d520,0x0daa0,0x16aa6,0x056d0,0x04ae0,0x0a9d4,0x0a2d0,0x0d150,0x0f252,//2090-2099
    0x0d520],//2100

  /**
   * Tabla ordinaria del número de días de cada mes del calendario gregoriano
   * @Array Of Property
   * @return Number
   */
  solarMonth:[31,28,31,30,31,30,31,31,30,31,30,31],

  /**
   * Una lista de verificación rápida de los tallos celestiales
   * @Array Of Property trans["A", "B", "C", "Ding", "E", "J", "Geng", "Xin", "Ren", "Kui"]
   * @return Es string
   */
  Gan:["\u7532","\u4e59","\u4e19","\u4e01","\u620a","\u5df1","\u5e9a","\u8f9b","\u58ec","\u7678"],

  /**
   * Tabla de referencia rápida de las ramas terrestres
   * @Array Of Property
   * @trans["hijo","feo","Yin","Mao","Chen","Si","mediodía","todavíano","estado","unitario","Xu","Hai"]
   * @return Es string
   */
  Zhi:["\u5b50","\u4e11","\u5bc5","\u536f","\u8fb0","\u5df3","\u5348","\u672a","\u7533","\u9149","\u620c","\u4ea5"],

  /**
   * Tabla de referencia rápida de las ramas terrestres del zodíaco <=> Zodíaco
   * @Array Of Property
   * @trans["Ratón", "Toro", "Tigre", "Conejo", "Dragón", "Serpiente", "Caballo", "Oveja", "Mono", "Pollo", "Perro", "Cerdo"]
   * @return Es string
   */
  Animals:["\u9f20","\u725b","\u864e","\u5154","\u9f99","\u86c7","\u9a6c","\u7f8a","\u7334","\u9e21","\u72d7","\u732a"],

  /**
   * Tabla de referencia rápida de 24 términos solares
   * @Array Of Property
   * @trans["Xiao Han", "Gran frío", "Li Chun", "Agua de lluvia", "Jing Zhe", "Equinoccio de primavera", "Ching Ming", "Gu Yu", "Li Xia", "Xiao Man", "Especie Mang", "Solsticio de verano", "Xiaoshu" "," Dashu "," Liqiu "," Chushu "," Bailu "," Equinoccio de otoño "," Cold Dew "," Frost "," Lidong "," Xiaoxue "," Fuertes nevadas "," Solsticio de invierno "]
   * @return Es string
   */
  solarTerm:["\u5c0f\u5bd2","\u5927\u5bd2","\u7acb\u6625","\u96e8\u6c34","\u60ca\u86f0","\u6625\u5206","\u6e05\u660e","\u8c37\u96e8","\u7acb\u590f","\u5c0f\u6ee1","\u8292\u79cd","\u590f\u81f3","\u5c0f\u6691","\u5927\u6691","\u7acb\u79cb","\u5904\u6691","\u767d\u9732","\u79cb\u5206","\u5bd2\u9732","\u971c\u964d","\u7acb\u51ac","\u5c0f\u96ea","\u5927\u96ea","\u51ac\u81f3"],

  /**
   * Una tabla de referencia rápida de los 24 términos solares de cada año desde 1900 hasta 2100
   * @Array Of Property
   * @return 0x string For splice
   */
  sTermInfo:['9778397bd097c36b0b6fc9274c91aa','97b6b97bd19801ec9210c965cc920e','97bcf97c3598082c95f8c965cc920f',
    '97bd0b06bdb0722c965ce1cfcc920f','b027097bd097c36b0b6fc9274c91aa','97b6b97bd19801ec9210c965cc920e',
    '97bcf97c359801ec95f8c965cc920f','97bd0b06bdb0722c965ce1cfcc920f','b027097bd097c36b0b6fc9274c91aa',
    '97b6b97bd19801ec9210c965cc920e','97bcf97c359801ec95f8c965cc920f','97bd0b06bdb0722c965ce1cfcc920f',
    'b027097bd097c36b0b6fc9274c91aa','9778397bd19801ec9210c965cc920e','97b6b97bd19801ec95f8c965cc920f',
    '97bd09801d98082c95f8e1cfcc920f','97bd097bd097c36b0b6fc9210c8dc2','9778397bd197c36c9210c9274c91aa',
    '97b6b97bd19801ec95f8c965cc920e','97bd09801d98082c95f8e1cfcc920f','97bd097bd097c36b0b6fc9210c8dc2',
    '9778397bd097c36c9210c9274c91aa','97b6b97bd19801ec95f8c965cc920e','97bcf97c3598082c95f8e1cfcc920f',
    '97bd097bd097c36b0b6fc9210c8dc2','9778397bd097c36c9210c9274c91aa','97b6b97bd19801ec9210c965cc920e',
    '97bcf97c3598082c95f8c965cc920f','97bd097bd097c35b0b6fc920fb0722','9778397bd097c36b0b6fc9274c91aa',
    '97b6b97bd19801ec9210c965cc920e','97bcf97c3598082c95f8c965cc920f','97bd097bd097c35b0b6fc920fb0722',
    '9778397bd097c36b0b6fc9274c91aa','97b6b97bd19801ec9210c965cc920e','97bcf97c359801ec95f8c965cc920f',
    '97bd097bd097c35b0b6fc920fb0722','9778397bd097c36b0b6fc9274c91aa','97b6b97bd19801ec9210c965cc920e',
    '97bcf97c359801ec95f8c965cc920f','97bd097bd097c35b0b6fc920fb0722','9778397bd097c36b0b6fc9274c91aa',
    '97b6b97bd19801ec9210c965cc920e','97bcf97c359801ec95f8c965cc920f','97bd097bd07f595b0b6fc920fb0722',
    '9778397bd097c36b0b6fc9210c8dc2','9778397bd19801ec9210c9274c920e','97b6b97bd19801ec95f8c965cc920f',
    '97bd07f5307f595b0b0bc920fb0722','7f0e397bd097c36b0b6fc9210c8dc2','9778397bd097c36c9210c9274c920e',
    '97b6b97bd19801ec95f8c965cc920f','97bd07f5307f595b0b0bc920fb0722','7f0e397bd097c36b0b6fc9210c8dc2',
    '9778397bd097c36c9210c9274c91aa','97b6b97bd19801ec9210c965cc920e','97bd07f1487f595b0b0bc920fb0722',
    '7f0e397bd097c36b0b6fc9210c8dc2','9778397bd097c36b0b6fc9274c91aa','97b6b97bd19801ec9210c965cc920e',
    '97bcf7f1487f595b0b0bb0b6fb0722','7f0e397bd097c35b0b6fc920fb0722','9778397bd097c36b0b6fc9274c91aa',
    '97b6b97bd19801ec9210c965cc920e','97bcf7f1487f595b0b0bb0b6fb0722','7f0e397bd097c35b0b6fc920fb0722',
    '9778397bd097c36b0b6fc9274c91aa','97b6b97bd19801ec9210c965cc920e','97bcf7f1487f531b0b0bb0b6fb0722',
    '7f0e397bd097c35b0b6fc920fb0722','9778397bd097c36b0b6fc9274c91aa','97b6b97bd19801ec9210c965cc920e',
    '97bcf7f1487f531b0b0bb0b6fb0722','7f0e397bd07f595b0b6fc920fb0722','9778397bd097c36b0b6fc9274c91aa',
    '97b6b97bd19801ec9210c9274c920e','97bcf7f0e47f531b0b0bb0b6fb0722','7f0e397bd07f595b0b0bc920fb0722',
    '9778397bd097c36b0b6fc9210c91aa','97b6b97bd197c36c9210c9274c920e','97bcf7f0e47f531b0b0bb0b6fb0722',
    '7f0e397bd07f595b0b0bc920fb0722','9778397bd097c36b0b6fc9210c8dc2','9778397bd097c36c9210c9274c920e',
    '97b6b7f0e47f531b0723b0b6fb0722','7f0e37f5307f595b0b0bc920fb0722','7f0e397bd097c36b0b6fc9210c8dc2',
    '9778397bd097c36b0b70c9274c91aa','97b6b7f0e47f531b0723b0b6fb0721','7f0e37f1487f595b0b0bb0b6fb0722',
    '7f0e397bd097c35b0b6fc9210c8dc2','9778397bd097c36b0b6fc9274c91aa','97b6b7f0e47f531b0723b0b6fb0721',
    '7f0e27f1487f595b0b0bb0b6fb0722','7f0e397bd097c35b0b6fc920fb0722','9778397bd097c36b0b6fc9274c91aa',
    '97b6b7f0e47f531b0723b0b6fb0721','7f0e27f1487f531b0b0bb0b6fb0722','7f0e397bd097c35b0b6fc920fb0722',
    '9778397bd097c36b0b6fc9274c91aa','97b6b7f0e47f531b0723b0b6fb0721','7f0e27f1487f531b0b0bb0b6fb0722',
    '7f0e397bd097c35b0b6fc920fb0722','9778397bd097c36b0b6fc9274c91aa','97b6b7f0e47f531b0723b0b6fb0721',
    '7f0e27f1487f531b0b0bb0b6fb0722','7f0e397bd07f595b0b0bc920fb0722','9778397bd097c36b0b6fc9274c91aa',
    '97b6b7f0e47f531b0723b0787b0721','7f0e27f0e47f531b0b0bb0b6fb0722','7f0e397bd07f595b0b0bc920fb0722',
    '9778397bd097c36b0b6fc9210c91aa','97b6b7f0e47f149b0723b0787b0721','7f0e27f0e47f531b0723b0b6fb0722',
    '7f0e397bd07f595b0b0bc920fb0722','9778397bd097c36b0b6fc9210c8dc2','977837f0e37f149b0723b0787b0721',
    '7f07e7f0e47f531b0723b0b6fb0722','7f0e37f5307f595b0b0bc920fb0722','7f0e397bd097c35b0b6fc9210c8dc2',
    '977837f0e37f14998082b0787b0721','7f07e7f0e47f531b0723b0b6fb0721','7f0e37f1487f595b0b0bb0b6fb0722',
    '7f0e397bd097c35b0b6fc9210c8dc2','977837f0e37f14998082b0787b06bd','7f07e7f0e47f531b0723b0b6fb0721',
    '7f0e27f1487f531b0b0bb0b6fb0722','7f0e397bd097c35b0b6fc920fb0722','977837f0e37f14998082b0787b06bd',
    '7f07e7f0e47f531b0723b0b6fb0721','7f0e27f1487f531b0b0bb0b6fb0722','7f0e397bd097c35b0b6fc920fb0722',
    '977837f0e37f14998082b0787b06bd','7f07e7f0e47f531b0723b0b6fb0721','7f0e27f1487f531b0b0bb0b6fb0722',
    '7f0e397bd07f595b0b0bc920fb0722','977837f0e37f14998082b0787b06bd','7f07e7f0e47f531b0723b0b6fb0721',
    '7f0e27f1487f531b0b0bb0b6fb0722','7f0e397bd07f595b0b0bc920fb0722','977837f0e37f14998082b0787b06bd',
    '7f07e7f0e47f149b0723b0787b0721','7f0e27f0e47f531b0b0bb0b6fb0722','7f0e397bd07f595b0b0bc920fb0722',
    '977837f0e37f14998082b0723b06bd','7f07e7f0e37f149b0723b0787b0721','7f0e27f0e47f531b0723b0b6fb0722',
    '7f0e397bd07f595b0b0bc920fb0722','977837f0e37f14898082b0723b02d5','7ec967f0e37f14998082b0787b0721',
    '7f07e7f0e47f531b0723b0b6fb0722','7f0e37f1487f595b0b0bb0b6fb0722','7f0e37f0e37f14898082b0723b02d5',
    '7ec967f0e37f14998082b0787b0721','7f07e7f0e47f531b0723b0b6fb0722','7f0e37f1487f531b0b0bb0b6fb0722',
    '7f0e37f0e37f14898082b0723b02d5','7ec967f0e37f14998082b0787b06bd','7f07e7f0e47f531b0723b0b6fb0721',
    '7f0e37f1487f531b0b0bb0b6fb0722','7f0e37f0e37f14898082b072297c35','7ec967f0e37f14998082b0787b06bd',
    '7f07e7f0e47f531b0723b0b6fb0721','7f0e27f1487f531b0b0bb0b6fb0722','7f0e37f0e37f14898082b072297c35',
    '7ec967f0e37f14998082b0787b06bd','7f07e7f0e47f531b0723b0b6fb0721','7f0e27f1487f531b0b0bb0b6fb0722',
    '7f0e37f0e366aa89801eb072297c35','7ec967f0e37f14998082b0787b06bd','7f07e7f0e47f149b0723b0787b0721',
    '7f0e27f1487f531b0b0bb0b6fb0722','7f0e37f0e366aa89801eb072297c35','7ec967f0e37f14998082b0723b06bd',
    '7f07e7f0e47f149b0723b0787b0721','7f0e27f0e47f531b0723b0b6fb0722','7f0e37f0e366aa89801eb072297c35',
    '7ec967f0e37f14998082b0723b06bd','7f07e7f0e37f14998083b0787b0721','7f0e27f0e47f531b0723b0b6fb0722',
    '7f0e37f0e366aa89801eb072297c35','7ec967f0e37f14898082b0723b02d5','7f07e7f0e37f14998082b0787b0721',
    '7f07e7f0e47f531b0723b0b6fb0722','7f0e36665b66aa89801e9808297c35','665f67f0e37f14898082b0723b02d5',
    '7ec967f0e37f14998082b0787b0721','7f07e7f0e47f531b0723b0b6fb0722','7f0e36665b66a449801e9808297c35',
    '665f67f0e37f14898082b0723b02d5','7ec967f0e37f14998082b0787b06bd','7f07e7f0e47f531b0723b0b6fb0721',
    '7f0e36665b66a449801e9808297c35','665f67f0e37f14898082b072297c35','7ec967f0e37f14998082b0787b06bd',
    '7f07e7f0e47f531b0723b0b6fb0721','7f0e26665b66a449801e9808297c35','665f67f0e37f1489801eb072297c35',
    '7ec967f0e37f14998082b0787b06bd','7f07e7f0e47f531b0723b0b6fb0721','7f0e27f1487f531b0b0bb0b6fb0722'],

  /**
   * Hoja de referencia de digital a chino
   * @Array Of Property
   * @trans ['Día', 'uno', 'dos', 'tres', 'cuatro', 'cinco', 'seis', 'siete', 'ocho', 'nueve', 'diez']
   * @return Es string
   */
  nStr1:["\u65e5","\u4e00","\u4e8c","\u4e09","\u56db","\u4e94","\u516d","\u4e03","\u516b","\u4e5d","\u5341"],

  /**
   * Tabla de referencia rápida para convertir fechas al calendario lunar
   * @Array Of Property
   * @trans ['Principio', 'Diez', 'Veinte', 'Treinta']
   * @return Es string
   */
  nStr2:["\u521d","\u5341","\u5eff","\u5345"],

  /**
   * Una tabla de búsqueda rápida del mes al calendario lunar
   * @Array Of Property
   * @trans ['Positivo', 'uno', 'dos', 'tres', 'cuatro', 'cinco', 'seis', 'siete', 'ocho', 'nueve', 'diez', 'invierno', 'la ']
   * @return Es string
   */
  nStr3:["\u6b63","\u4e8c","\u4e09","\u56db","\u4e94","\u516d","\u4e03","\u516b","\u4e5d","\u5341","\u51ac","\u814a"],

  /**
   * Regrese al primer año de y en el calendario lunar. Número total de días en todo el año
   * @param lunar Year
   * @return Number
   * @eg:var count = calendar.lYearDays(1987) ;//count=387
   */
  lYearDays:function(y) {
    var i, sum = 348;
    for(i=0x8000; i>0x8; i>>=1) { sum += (calendar.lunarInfo[y-1900] & i)? 1: 0; }
    return(sum+calendar.leapDays(y));
  },

  /**
   * Devuelve el mes del mes bisiesto en el año calendario lunar y; si no hay un mes bisiesto en el año y, devuelve 0
   * @param lunar Year
   * @return Number (0-12)
   * @eg:var leapMonth = calendar.leapMonth(1987) ;//leapMonth=6
   */
  leapMonth:function(y) { //Codificación de palabras de salto \u95f0
    return(calendar.lunarInfo[y-1900] & 0xf);
  },

  /**
   * Devuelve el número de días de un mes bisiesto en el año calendario lunar y Si no hay un mes bisiesto en ese año, devuelve 0
   * @param lunar Year
   * @return Number (0、29、30)
   * @eg:var leapMonthDay = calendar.leapDays(1987) ;//leapMonthDay=29
   */
  leapDays:function(y) {
    if(calendar.leapMonth(y))  {
      return((calendar.lunarInfo[y-1900] & 0x10000)? 30: 29);
    }
    return(0);
  },

  /**
   * Devuelve el número total de días en el año y mes del calendario lunar y (mes no bisiesto). Para calcular el número de días cuando m es un mes bisiesto, utilice el método leapDays
   * @param lunar Year
   * @return Number (-1、29、30)
   * @eg:var MonthDay = calendar.monthDays(1987,9) ;//MonthDay=29
   */
  monthDays:function(y,m) {
    if(m>12 || m<1) {return -1}// El parámetro del mes es de 1 a 12, el error de parámetro devuelve -1
    return( (calendar.lunarInfo[y-1900] & (0x10000>>m))? 30: 29 );
  },

  /**
   * Devuelve el número de días en el calendario gregoriano (!) Y año ym mes
   * @param solar Year
   * @return Number (-1、28、29、30、31)
   * @eg:var solarMonthDay = calendar.leapDays(1987) ;//solarMonthDay=30
   */
  solarDays:function(y,m) {
    if(m>12 || m<1) {return -1} //Si el parámetro es incorrecto, devuelve -1
    var ms = m-1;
    if(ms==1) { //La regla del nivel de salto en febrero se mide y se confirma que regresa 28 o 29
      return(((y%4 == 0) && (y%100 != 0) || (y%400 == 0))? 29: 28);
    }else {
      return(calendar.solarMonth[ms]);
    }
  },

  /**
   * Conversión de años lunares en años Ganzhi
   * @param  l Año El número de años del año calendario chino.
   * @return Es string
   */
  toGanZhiYear:function(lYear) {
    var ganKey = (lYear - 3) % 10;
    var zhiKey = (lYear - 3) % 12;
    if(ganKey == 0) ganKey = 10;//Si el resto es 0, es la raíz del último día.
    if(zhiKey == 0) zhiKey = 12;//Si el resto es 0, es la última rama terrestre.
    return calendar.Gan[ganKey-1] + calendar.Zhi[zhiKey-1];

  },

  /**
   * Juzgar la constelación por el mes y el día del calendario gregoriano
   * @param  cMonth [description]
   * @param  cDay [description]
   * @return Es string
   */
  toAstro:function(cMonth,cDay) {
    var s   = "\u9b54\u7faf\u6c34\u74f6\u53cc\u9c7c\u767d\u7f8a\u91d1\u725b\u53cc\u5b50\u5de8\u87f9\u72ee\u5b50\u5904\u5973\u5929\u79e4\u5929\u874e\u5c04\u624b\u9b54\u7faf";
    var arr = [20,19,21,21,21,22,23,23,23,23,22,22];
    return s.substr(cMonth*2 - (cDay < arr[cMonth-1] ? 2 : 0),2) + "\u5ea7";//座
  },

  /**
   * Pase el desplazamiento y regrese a la rama principal
   * @param offset Desplazamiento relativo
   * @return Es string
   */
  toGanZhi:function(offset) {
    return calendar.Gan[offset%10] + calendar.Zhi[offset%12];
  },

  /**
   * En el calendario gregoriano (!) Y año para obtener la fecha del calendario gregoriano del enésimo término solar del año
   * @param y Año del calendario gregoriano (1900-2100); n cuál de los veinticuatro términos solares (1 ~ 24); comenzando desde n = 1 (Xiaohan)
   * @return day Number
   * @eg:var _24 = calendar.getTerm(1987,3) ;//_24 = 4; Inmediatamente febrero de 1987 4 Primavera de Hitachi
   */
  getTerm:function(y,n) {
    if(y<1900 || y>2100) {return -1;}
    if(n<1 || n>24) {return -1;}
    var _table = calendar.sTermInfo[y-1900];
    var _info = [
      parseInt('0x'+_table.substr(0,5)).toString() ,
      parseInt('0x'+_table.substr(5,5)).toString(),
      parseInt('0x'+_table.substr(10,5)).toString(),
      parseInt('0x'+_table.substr(15,5)).toString(),
      parseInt('0x'+_table.substr(20,5)).toString(),
      parseInt('0x'+_table.substr(25,5)).toString()
    ];
    var _calday = [
      _info[0].substr(0,1),
      _info[0].substr(1,2),
      _info[0].substr(3,1),
      _info[0].substr(4,2),

      _info[1].substr(0,1),
      _info[1].substr(1,2),
      _info[1].substr(3,1),
      _info[1].substr(4,2),

      _info[2].substr(0,1),
      _info[2].substr(1,2),
      _info[2].substr(3,1),
      _info[2].substr(4,2),

      _info[3].substr(0,1),
      _info[3].substr(1,2),
      _info[3].substr(3,1),
      _info[3].substr(4,2),

      _info[4].substr(0,1),
      _info[4].substr(1,2),
      _info[4].substr(3,1),
      _info[4].substr(4,2),

      _info[5].substr(0,1),
      _info[5].substr(1,2),
      _info[5].substr(3,1),
      _info[5].substr(4,2),
    ];
    return parseInt(_calday[n-1]);
  },

  /**
   * El mes del dígito lunar entrante vuelve a la notación popular china
   * @param lunar month
   * @return Es string
   * @eg:var esMonth = calendar.toChinaMonth(12) ;//esMonth='Duodécimo mes lunar'
   */
  toChinaMonth:function(m) { // Luna => \u6708
    if(m>12 || m<1) {return -1} //Si el parámetro es incorrecto, devuelve -1
    var s = calendar.nStr3[m-1];
    s+= "\u6708";//Agregar mes
    return s;
  },

  /**
   * Pase el número de la fecha lunar y vuelva a la notación de caracteres chinos
   * @param lunar day
   * @return Es string
   * @eg:var esDay = calendar.toChinaDay(21) ;//esMonth='Veintiuno'
   */
  toChinaDay:function(d){ //día => \u65e5
    let s;
    switch (d) {
      case 10:
        s = '\u521d\u5341';
        break;
      case 20:
        s = '\u4e8c\u5341';
        break;
      case 30:
        s = '\u4e09\u5341';
        break;
      default :
        s = calendar.nStr2[Math.floor(d/10)];
        s += calendar.nStr1[d%10];
    }
    return(s);
  },

  /**
   * Cambie el año al zodíaco [! Solo se puede convertir aproximadamente] => La línea divisoria precisa del zodíaco es "Li Chun"
   * @param y year
   * @return Es string
   * @eg:var animal = calendar.getAnimal(1987) ;//animal='Conejo'
   */
  getAnimal: function(y) {
    return calendar.Animals[(y - 4) % 12]
  },

  /**
   * Ingrese el año, mes y día del calendario gregoriano para obtener información detallada del objeto del calendario gregoriano y lunar <=> JSON
   * @param y  solar year
   * @param m  solar month
   * @param d  solar day
   * @return JSON object
   * @eg:console.log(calendar.solar2lunar(1987,11,01));
   */
  solar2lunar:function (y,m,d) { //Intervalo de parámetros1900.1.31~2100.12.31
    if(y<1900 || y>2100) {return -1;}//Límite de año, límite superior
    if(y==1900&&m==1&&d<31) {return -1;}//Límite inferior
    //if(!y) { //No pasado el día de la adquisición
    //TODO Gianni
    var objDate = new Date();
    //}else {
    //  var objDate = new Date(y,parseInt(m)-1,d)
    //}
    var i, leap=0, temp=0;
    //Corrija el parámetro ymd
    //var y = objDate.getFullYear(),m = objDate.getMonth()+1,d = objDate.getDate();
    var offset   = (Date.UTC(objDate.getFullYear(),objDate.getMonth(),objDate.getDate()) - Date.UTC(1900,0,31))/86400000;
    for(i=1900; i<2101 && offset>0; i++) { temp=calendar.lYearDays(i); offset-=temp; }
    if(offset<0) { offset+=temp; i--; }
    //console.log('cuabteas')
    //console.log(y,m,d)

    //Es hoy
    var isTodayObj = new Date(),isToday=false;
    if(isTodayObj.getFullYear()==y && isTodayObj.getMonth()+1==m && isTodayObj.getDate()==d) {
      isToday = true;
    }
    //Día de la semana
    var nWeek = objDate.getDay(),cWeek = calendar.nStr1[nWeek];
    if(nWeek==0) {nWeek =7;}//El número indica el día de la semana de acuerdo con la costumbre de la dinastía celestial a partir del lunes.
    //Año lunar
    var year = i;

    //var leap = calendar.leapMonth(i); //Mes bisiesto
    var isLeap = false;

    //Mes bisiesto
    for(i=1; i<13 && offset>0; i++) {
      //Mes bisiesto
      if(leap>0 && i==(leap+1) && isLeap==false){
        --i;
        isLeap = true; temp = calendar.leapDays(year); //Calcule el número de días de un mes bisiesto en el calendario lunar.
      }
      else{
        temp = calendar.monthDays(year, i);//Calcule el número de días ordinarios en el calendario lunar.
      }
      //Lanzamiento del mes bisiesto
      if(isLeap==true && i==(leap+1)) { isLeap = false; }
      offset -= temp;
    }

    if(offset==0 && leap>0 && i==leap+1)
      if(isLeap){
        isLeap = false;
      }else{
        isLeap = true; --i;
      }
    if(offset<0){ offset += temp; --i; }
    //Mes lunar
    var month   = i;
    //Día lunar
    var day     = offset + 1;

    //Tratamiento del ciclo sexagenario
    var sm      =   m-1;
    var gzY     =   calendar.toGanZhiYear(year);

    //Pilar lunar de enero de 1900 antes de que Osamu fuera Bingziyue (60 base 12)
    var firstNode   = calendar.getTerm(year,(m*2-1));//Regresar el día del mes en que comienza el "Festival"
    var secondNode  = calendar.getTerm(year,(m*2));//Regresar el día del mes en que comienza el "Festival"

    //Corrección de meses secos y ramificados en base a 12 términos solares
    var gzM     =   calendar.toGanZhi((y-1900)*12+m+11);
    if(d>=firstNode) {
      gzM     =   calendar.toGanZhi((y-1900)*12+m+12);
    }

    //Los términos solares de la fecha entrante o no.
    var isTerm = false;
    var Term   = null;
    if(firstNode==d) {
      isTerm  = true;
      Term    = calendar.solarTerm[m*2-2];
    }
    if(secondNode==d) {
      isTerm  = true;
      Term    = calendar.solarTerm[m*2-1];
    }
    //Pilar del sol El primer día del mes y. 1900/1/1 Diferencia de días
    var dayCyclical = Date.UTC(y,sm,1,0,0,0,0)/86400000+25567+10;
    var gzD = calendar.toGanZhi(dayCyclical+d-1);
    //La constelación a la que pertenece la fecha.
    var astro = calendar.toAstro(m,d);

    return {'lYear':year,'lMonth':month,'lDay':day,'Animal':calendar.getAnimal(year),'IMonthEs':(isLeap?"\u95f0":'')+calendar.toChinaMonth(month),'IDayEs':calendar.toChinaDay(day),'cYear':y,'cMonth':m,'cDay':d,'gzYear':gzY,'gzMonth':gzM,'gzDay':gzD,'isToday':isToday,'isLeap':isLeap,'nWeek':nWeek,'ncWeek':"\u661f\u671f"+cWeek,'isTerm':isTerm,'Term':Term,'astro':astro};
  },

  /**
   * Año, mes y día del calendario lunar entrante y si el mes entrante es un mes bisiesto para obtener información detallada del objeto del calendario lunar y del calendario gregoriano <=> JSON
   * @param y  lunar year
   * @param m  lunar month
   * @param d  lunar day
   * @param isLeapMonth  lunar month is leap or not.[Si es un mes bisiesto en el calendario lunar, asigne verdadero al cuarto parámetro]
   * @return JSON object
   * @eg:console.log(calendar.lunar2solar(1987,9,10));
   */
  lunar2solar:function(y,m,d,isLeapMonth) {   //Intervalo de parámetros1900.1.31~2100.12.1
    //var isLeapMonth = !!isLeapMonth;
    //var leapOffset  = 0;
    var leapMonth   = calendar.leapMonth(y);
    // var leapDay     = calendar.leapDays(y);
    if(isLeapMonth&&(leapMonth!=m)) {return -1;}//La transferencia de la referencia requiere el cálculo del calendario gregoriano del mes bisiesto, pero el mes bisiesto derivado del año no es el mismo que el mes de la transferencia.
    if(y==2100&&m==12&&d>1 || y==1900&&m==1&&d<31) {return -1;}//Límite máximo excedido
    var day  = calendar.monthDays(y,m);
    var _day = day;
    //bugFix 2016-9-25
    //if month is leap, _day use leapDays method
    if(isLeapMonth) {
      _day = calendar.leapDays(y,m);
    }
    if(y < 1900 || y > 2100 || d > _day) {return -1;}//Validez de los parámetros

    //Calcula la diferencia horaria del calendario lunar.
    var offset = 0;
    for(var f=1900;f<y;f++) {
      offset+=calendar.lYearDays(f);
    }
    var leap = 0,isAdd= false;
    for(var i=1;i<m;i++) {
      leap = calendar.leapMonth(y);
      if(!isAdd) {//Lidiar con los meses bisiestos
        if(leap<=i && leap>0) {
          offset+=calendar.leapDays(y);isAdd = true;
        }
      }
      offset+=calendar.monthDays(y,i);
    }
    //Para convertir un mes bisiesto al calendario lunar, es necesario complementar la diferencia horaria del mes anterior del mes bisiesto del año.
    if(isLeapMonth) {offset+=day;}
    //La hora gregoriana del primer día del primer mes del calendario lunar en 1900 es el 30 de enero de 1900 a las 0: 0: 0 (esta hora también es el punto de partida de este calendario lunar)
    var stmap   =   Date.UTC(1900,1,30,0,0,0);
    var calObj  =   new Date((offset+d-31)*86400000+stmap);
    var cY      =   calObj.getUTCFullYear();
    var cM      =   calObj.getUTCMonth()+1;
    var cD      =   calObj.getUTCDate();

    return calendar.solar2lunar(cY,cM,cD);
  }
};
export default {
  name:'ib-calendar',
  props: {
    // Modo de selección múltiple
    multi: {
      type: Boolean,
      default: false
    },
    // Modo de rango
    range:{
      type: Boolean,
      default: false
    },
    // Fecha predeterminada
    value: {
      type: Array,
      default: function(){
        return []
      }
    },
    // Fecha de inicio
    begin:  {
      type: Array,
      default: function(){
        return []
      }
    },
    // Fecha de finalización de la selección
    end:  {
      type: Array,
      default: function(){
        return []
      }
    },

    // ¿Es menos de 10 para llenar el cero?
    zero:{
      type: Boolean,
      default: false
    },
    // Fecha bloqueada
    disabled:{
      type: Array,
      default: function(){
        return []
      }
    },
    // Ya sea para mostrar el calendario lunar
    lunar: {
      type: Boolean,
      default: false
    },

    // Personaliza el nombre de la semana
    weeks: {
      type: Array,
      default:function(){
        return window.navigator.language.toLowerCase() == "es-es"?['D', 'L', 'M', 'X', 'J', 'V', 'S','D', 'L', 'M', 'X', 'J', 'V', 'S']:['S', 'M', 'T', 'W', 'T', 'F', 'X','S', 'M', 'T', 'W', 'T', 'F', 'X']
      }
    },
    // Mes personalizado
    months:{
      type: Array,
      default:function(){
        return window.navigator.language.toLowerCase() == "es-es"?['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']:['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
      }
    },    // Mes personalizado
    months2:{
      type: Array,
      default:function(){
        return window.navigator.language.toLowerCase() == "es-es"?[ 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre','Enero']:[ 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December','January']
      }
    },
    // Evento personalizado
    events:  {
      type: Object,
      default: function(){
        return {}
      }
    },
  },
  data() {
    return {
      years:[],
      yearsShow:false,
      year: 0,
      month: 0,
      day: 0,
      days: [],
      multiDays:[],
      today: [],
      festival:{
        lunar:{
          "1-1": "Fiesta de la Primavera",
          "1-15": "Festival de los Faroles",
          "2-2": "Festival de cabezas de dragón",
          "5-5": "Festival del Barco Dragón",
          "7-7": "Festival chino de Qixi",
          "7-15": "Festival del Yuan Chino",
          "8-15": "Festival del Medio Otoño",
          "9-9": "Festival de Chongyang",
          "10-1": "Festival de ropa de invierno",
          "10-15": "Siguiente metaverso",
          "12-8": "Festival de Laba",
          "12-23": "Festival del sacrificio a la estufa",
        },
        gregorian:{
          "1-1": "Día de Año Nuevo",
          "2-14": "Día de San Valentín",
          "3-8": "Día de la mujer",
          "3-12": "Día del árbol",
          "4-5": "Festival Ching Ming",
          "5-1": "Día del Trabajo",
          "5-4": "Día de la Juventud",
          "6-1": "Día del niño",
          "7-1": "Festival de creación de fiestas",
          "8-1": "Día de la construcción del ejército",
          "9-10": "Día del maestro",
          "10-1": "Día Nacional",
          "12-24": "Nochebuena",
          "12-25": "Navidad",
        },
      },
      rangeBegin:[],
      rangeEnd:[],
    }
  },
  watch:{
    events(){
      this.render(this.year,this.month)
    },
    value(){
      this.init();
    }
  },
  mounted() {
    this.init()
  },
  methods: {
    init(){
      let now = new Date();
      this.year = now.getFullYear()
      this.month = now.getMonth()
      this.day = now.getDate()
      if (this.value.length>0) {
        if (this.range) { //Alcance
          this.year = parseInt(this.value[0][0])
          this.month = parseInt(this.value[0][1]) - 1
          this.day = parseInt(this.value[0][2])

          let year2 = parseInt(this.value[1][0])
          let month2 = parseInt(this.value[1][1]) - 1
          let day2 = parseInt(this.value[1][2])

          this.rangeBegin = [this.year, this.month,this.day]
          this.rangeEnd = [year2, month2 , day2]
        }else if(this.multi){//Opción multiple
          this.multiDays=this.value;
          this.year = parseInt(this.value[0][0])
          this.month = parseInt(this.value[0][1]) - 1
          this.day = parseInt(this.value[0][2])
        }else{ //Elección única
          this.year = parseInt(this.value[0])
          this.month = parseInt(this.value[1]) - 1
          this.day = parseInt(this.value[2])
        }
      }
      this.render(this.year, this.month)
    },
    // Fecha de representación
    render(y, m) {
      let firstDayOfMonth = new Date(y, m, 1).getDay()         //El primer día del mes
      let lastDateOfMonth = new Date(y, m + 1, 0).getDate()    //Ultimo dia del mes
      let lastDayOfLastMonth = new Date(y, m, 0).getDate()     //El último día del último mes
      this.year = y
      let seletSplit = this.value
      let i, line = 0,temp = [],temp2 = [],nextMonthPushDays = 1
      for (i = 1; i <= lastDateOfMonth; i++) {
        let day = new Date(y, m, i).getDay() //Devuelve el día de la semana (0 ～ 6)
        let k
        // primera fila
        if (day == 0) {
          temp[line] = []
        } else if (i == 1) {
          temp[line] = []
          k = lastDayOfLastMonth - firstDayOfMonth + 1
          for (let j = 0; j < firstDayOfMonth; j++) {
            temp[line].push(Object.assign(
                {day: k,disabled: true},
                this.getLunarInfo(this.computedPrevYear(),this.computedPrevMonth(true,0),k),
                this.getEvents(this.computedPrevYear(),this.computedPrevMonth(true,0),k),
            ))
            k++;
          }
        }


        if (this.range) { // Alcance
          //console.log("Rango de fechas",this.getLunarInfo(this.year,this.month+1,i))
          let options = Object.assign(
              {day: i},
              this.getLunarInfo(this.year,this.month+1,i),
              this.getEvents(this.year,this.month+1,i),
          )
          if (this.rangeBegin.length > 0) {
            let beginTime = Number(new Date(this.rangeBegin[0], this.rangeBegin[1], this.rangeBegin[2]))
            let endTime = Number(new Date(this.rangeEnd[0], this.rangeEnd[1], this.rangeEnd[2]))
            let stepTime = Number(new Date(this.year, this.month, i))
            if (beginTime <= stepTime && endTime >= stepTime) {
              options.selected = true
            }
          }
          if (this.begin.length>0) {
            let beginTime = Number(new Date(parseInt(this.begin[0]),parseInt(this.begin[1]) - 1,parseInt(this.begin[2])))
            if (beginTime > Number(new Date(this.year, this.month, i))) options.disabled = true
          }
          if (this.end.length>0){
            let endTime = Number(new Date(parseInt(this.end[0]),parseInt(this.end[1]) - 1,parseInt(this.end[2])))
            if (endTime <  Number(new Date(this.year, this.month, i))) options.disabled = true
          }
          if (this.disabled.length>0){
            if (this.disabled.filter(v => {return this.year === v[0] && this.month === v[1]-1 && i === v[2] }).length>0) {
              options.disabled = true
            }
          }
          temp[line].push(options)
        }else if(this.multi){//Opción multiple
          let options
          // Determine si seleccionar
          if(this.value.filter(v => {return this.year === v[0] && this.month === v[1]-1 && i === v[2] }).length>0 ){
            options = Object.assign({day: i,selected:true},this.getLunarInfo(this.year,this.month+1,i),this.getEvents(this.year,this.month+1,i))
          }else{
            options = Object.assign({day: i,selected:false},this.getLunarInfo(this.year,this.month+1,i),this.getEvents(this.year,this.month+1,i))
            if (this.begin.length>0) {
              let beginTime = Number(new Date(parseInt(this.begin[0]),parseInt(this.begin[1]) - 1,parseInt(this.begin[2])))
              if (beginTime > Number(new Date(this.year, this.month, i))) options.disabled = true
            }
            if (this.end.length>0){
              let endTime = Number(new Date(parseInt(this.end[0]),parseInt(this.end[1]) - 1,parseInt(this.end[2])))
              if (endTime <  Number(new Date(this.year, this.month, i))) options.disabled = true
            }
            if (this.disabled.length>0){
              if (this.disabled.filter(v => {return this.year === v[0] && this.month === v[1]-1 && i === v[2] }).length>0) {
                options.disabled = true
              }
            }
          }

          temp[line].push(options)
        } else { // Elección única
          //console.log(this.lunar(this.year,this.month,i));

          let chk = new Date()
          let chkY = chk.getFullYear()
          let chkM = chk.getMonth()
          // Coincidir con la última fecha seleccionada
          if (parseInt(seletSplit[0]) == this.year && parseInt(seletSplit[1]) - 1 == this.month && parseInt(seletSplit[2]) == i) {
            temp[line].push(Object.assign(
                {day: i,selected: true},
                this.getLunarInfo(this.year,this.month+1,i),
                this.getEvents(this.year,this.month+1,i),
            ))
            this.today = [line, temp[line].length - 1]
          }
          // Cuando no hay un valor predeterminado, muestra la fecha de hoy seleccionada
          else if (chkY == this.year && chkM == this.month && i == this.day && this.value == "") {

            temp[line].push(Object.assign(
                {day: i,selected: true},
                this.getLunarInfo(this.year,this.month+1,i),
                this.getEvents(this.year,this.month+1,i),
            ))
            this.today = [line, temp[line].length - 1]
          }else{
            // Fecha ordinaria
            let options = Object.assign(
                {day: i,selected:false},
                this.getLunarInfo(this.year,this.month+1,i),
                this.getEvents(this.year,this.month+1,i),
            )
            if (this.begin.length>0) {
              let beginTime = Number(new Date(parseInt(this.begin[0]),parseInt(this.begin[1]) - 1,parseInt(this.begin[2])))
              if (beginTime > Number(new Date(this.year, this.month, i))) options.disabled = true
            }
            if (this.end.length>0){
              let endTime = Number(new Date(parseInt(this.end[0]),parseInt(this.end[1]) - 1,parseInt(this.end[2])))
              if (endTime <  Number(new Date(this.year, this.month, i))) options.disabled = true
            }
            if (this.disabled.length>0){
              if (this.disabled.filter(v => {return this.year === v[0] && this.month === v[1]-1 && i === v[2] }).length>0) {
                options.disabled = true
              }
            }
            temp[line].push(options)
          }
        }
        // Envuelva el sábado
        if (day == 6 && i < lastDateOfMonth) {
          line++
        }else if (i == lastDateOfMonth) {
          // line++
          let k = 1
          for (let d=day; d < 6; d++) {
            //console.log(this.computedNextYear()+"-"+this.computedNextMonth(true)+"-"+k)
            temp[line].push(Object.assign(
                {day: k,disabled: true},
                this.getLunarInfo(this.computedNextYear(),this.computedNextMonth(true),k),
                this.getEvents(this.computedNextYear(),this.computedNextMonth(true),k),
            ))
            k++
          }
          // La fecha del mes siguiente excepto los primeros días del suplemento.
          nextMonthPushDays=k
        }
      } //end for

      // console.log(this.year+"/"+this.month+"/"+this.day+":"+line)
      // Agregue la sexta línea para que la visión sea estable
      if(line<=5 && nextMonthPushDays>0){
        //console.log({nextMonthPushDays:nextMonthPushDays,line:line})

        for (let i = line+1; i<=5; i++) {
          temp[i] = []
          let start=nextMonthPushDays+(i-line-1)*7
          for (let d=start; d <= start+6; d++) {
            temp[i].push(Object.assign(
                {day: d,disabled: true},
                this.getLunarInfo(this.computedNextYear(),this.computedNextMonth(true),d),
                this.getEvents(this.computedNextYear(),this.computedNextMonth(true),d),
            ))
          }
        }
      }
      line++
      firstDayOfMonth = new Date(y, m+1, 1).getDay()         //El primer día del mes
      lastDateOfMonth = new Date(y, m + 2, 0).getDate()    //Ultimo dia del mes
      lastDayOfLastMonth = new Date(y, m+1, 0).getDate()     //El último día del último mes
      // console.log(firstDayOfMonth)
      // console.log(lastDateOfMonth)
      // console.log(lastDayOfLastMonth)
      line = 0
      for (i = 1; i <= lastDateOfMonth; i++) {
        let day = new Date(y, m+1, i).getDay() //Devuelve el día de la semana (0 ～ 6)
        let k
        // primera fila
        if (day == 0) {
          temp2[line] = []
        } else if (i == 1) {
          temp2[line] = []
          k = lastDayOfLastMonth - firstDayOfMonth + 1
          for (let j = 0; j < firstDayOfMonth; j++) {
            //TODO aca se agregan los 3 primeros
            //console.log(this.computedPrevMonth(true,1)+'asdas')

            temp[line].push(Object.assign(
                {day: k,disabled: true},
                this.getLunarInfo(this.computedPrevYear(),this.computedPrevMonth(true,1),k),
                this.getEvents(this.computedPrevYear(),this.computedPrevMonth(true,1),k),
            ))
            k++;
          }
        }

        //console.log(this.lunar(this.year,this.month,i));

        // Fecha ordinaria TODO
        let options = Object.assign(
            {day: i,selected:false},
            this.getLunarInfo(this.year,this.month+2,i),
            this.getEvents(this.year,this.month+2,i),
        )
        if (this.begin.length>0) {
          let beginTime = Number(new Date(parseInt(this.begin[0]),parseInt(this.begin[1]) - 1,parseInt(this.begin[2])))
          if (beginTime > Number(new Date(this.year, this.month, i))) options.disabled = true
        }
        if (this.end.length>0){
          let endTime = Number(new Date(parseInt(this.end[0]),parseInt(this.end[1]) - 1,parseInt(this.end[2])))
          if (endTime <  Number(new Date(this.year, this.month, i))) options.disabled = true
        }
        if (this.disabled.length>0){
          if (this.disabled.filter(v => {return this.year === v[0] && this.month === v[1]-1 && i === v[2] }).length>0) {
            options.disabled = true
          }
        }
        temp[line].push(options)


        // Envuelva el sábado
        //console.log('day = 6'+day)
        if (day == 6 && i < lastDateOfMonth) {
          line++
        }else if (i == lastDateOfMonth) {
          // line++
          let k = 1
          for (let d=day; d < 6; d++) {
            //console.log(this.computedNextYear()+"-"+this.computedNextMonth(true)+"-"+k)
            temp[line].push(Object.assign(
                {day: k,disabled: true},
                this.getLunarInfo(this.computedNextYear(),this.computedNextMonth(true),k),
                this.getEvents(this.computedNextYear(),this.computedNextMonth(true),k),
            ))
            k++
          }
          // La fecha del mes siguiente excepto los primeros días del suplemento.
          nextMonthPushDays=k
        }
      } //end for

      // console.log(this.year+"/"+this.month+"/"+this.day+":"+line)
      // Agregue la sexta línea para que la visión sea estable
      console.log(line)
      //console.log(nextMonthPushDays)
      if(line<=5 && nextMonthPushDays>0){
        //console.log({nextMonthPushDays:nextMonthPushDays,line:line})
        for (let i = line+1; i<=5; i++) {
          temp2[i] = []
          let start=nextMonthPushDays+(i-line-1)*7
          for (let d=start; d <= start+6; d++) {
            temp[i].push(Object.assign(
                {day: d,disabled: true},
                this.getLunarInfo(this.computedNextYear(),this.computedNextMonth(true),d),
                this.getEvents(this.computedNextYear(),this.computedNextMonth(true),d),
            ))
          }
        }
      }
      //let temp3 = []
      //console.log(temp)
      // temp.forEach( function(valor, indice, array) {
      //   temp2[i].push(array)
      //   console.log("En el índice " + indice + " hay este valor: " + valor);
      //   //temp[indice]=valor+temp2[indice]
      // });
      console.log(temp2)
      this.days = temp
    },
    computedPrevYear(){
      let value=this.year
      if(this.month-1<0){
        value--
      }
      return value
    },
    computedPrevMonth(isString,num){
      let value=this.month+num
      if(this.month-1<0){
        value=11
      }else{
        value--
      }
      // Para fines de visualización (generalmente el mes comienza desde 0)
      if(isString){
        return value+1
      }
      return value
    },
    computedNextYear(){
      let value=this.year
      if(this.month+1>11){
        value++
      }
      return value
    },
    computedNextMonth(isString){
      let value=this.month
      if(this.month+1>11){
        value=0
      }else{
        value++
      }
      // Para fines de visualización (generalmente el mes comienza desde 0)
      if(isString){
        return value+1
      }
      return value
    },
    // Obtener información lunar
    getLunarInfo(y,m,d){
      let lunarInfo=calendar.solar2lunar(y,m,d)
      let lunarValue=lunarInfo.IDayEs
      //console.log(lunarInfo)
      let isLunarFestival=false
      let isGregorianFestival=false
      if(this.festival.lunar[lunarInfo.lMonth+"-"+lunarInfo.lDay]!=undefined){
        lunarValue=this.festival.lunar[lunarInfo.lMonth+"-"+lunarInfo.lDay]
        isLunarFestival=true
      }else if(this.festival.gregorian[m+"-"+d]!=undefined){
        lunarValue=this.festival.gregorian[m+"-"+d]
        isGregorianFestival=true
      }
      return {
        lunar:lunarValue,
        isLunarFestival:isLunarFestival,
        isGregorianFestival:isGregorianFestival,
      }
    },
    // Obtén eventos personalizados
    getEvents(y,m,d){
      if(Object.keys(this.events).length==0)return false;
      let eventName=this.events[y+"-"+m+"-"+d]
      let data={}
      if(eventName!=undefined){
        data.eventName=eventName
      }
      return data
    },
    // Primer mes
    prev(e) {
      e.stopPropagation()
      if (this.month == 0) {
        this.month = 11
        this.year = parseInt(this.year) - 1
      } else {
        this.month = parseInt(this.month) - 1
      }
      this.render(this.year, this.month)
      this.$emit('selectMonth',this.month+1,this.year)
      this.$emit('prev',this.month+1,this.year)
    },
    //  Próximo mes
    next(e) {
      e.stopPropagation()
      if (this.month == 11) {
        this.month = 0
        this.year = parseInt(this.year) + 1
      } else {
        this.month = parseInt(this.month) + 1
      }
      this.render(this.year, this.month)
      this.$emit('selectMonth',this.month+1,this.year)
      this.$emit('next',this.month+1,this.year)
    },
    // Fecha seleccionada
    select(k1, k2, e) {
      if (e != undefined) e.stopPropagation()
      // Rango de fechas
      if (this.range) {
        if (this.rangeBegin.length == 0 || this.rangeEndTemp != 0) {
          this.rangeBegin = [this.year, this.month,this.days[k1][k2].day]
          this.rangeBeginTemp = this.rangeBegin
          this.rangeEnd = [this.year, this.month, this.days[k1][k2].day]
          this.rangeEndTemp = 0

        } else {
          this.rangeEnd = [this.year, this.month,this.days[k1][k2].day]
          this.rangeEndTemp = 1
          // Si la fecha de finalización es menor que la fecha de inicio, se revertirá automáticamente
          if (+new Date(this.rangeEnd[0], this.rangeEnd[1], this.rangeEnd[2]) < +new Date(this.rangeBegin[0], this.rangeBegin[1], this.rangeBegin[2])) {
            this.rangeBegin = this.rangeEnd
            this.rangeEnd = this.rangeBeginTemp
          }
          // Parches menos de 10 a la izquierda
          let begin=[]
          let end=[]
          if(this.zero){
            this.rangeBegin.forEach((v,k)=>{
              if(k==1)v=v+1
              begin.push(this.zeroPad(v))
            })
            this.rangeEnd.forEach((v,k)=>{
              if(k==1)v=v+1
              end.push(this.zeroPad(v))
            })
          }else{
            begin=this.rangeBegin
            end=this.rangeEnd
          }
          //console.log("Fecha seleccionada",begin,end)
          this.$emit('select',begin,end)
        }
        this.render(this.year, this.month)
      }else if (this.multi) {
        // Filtrar si ha sido seleccionado
        let filterDay=this.multiDays.filter(v => {
          return this.year === v[0] && this.month === v[1]-1 && this.days[k1][k2].day === v[2]
        })
        if( filterDay.length>0 ){
          this.multiDays=this.multiDays.filter(v=> {
            return this.year !== v[0] || this.month !== v[1]-1 || this.days[k1][k2].day !== v[2]
          })
        }else{
          this.multiDays.push([this.year,this.month+1,this.days[k1][k2].day]);
        }
        this.days[k1][k2].selected = !this.days[k1][k2].selected
        this.$emit('select',this.multiDays)
      } else {
        // Cancelar la última seleccionada
        if (this.today.length > 0) {
          this.days.forEach(v=>{
            v.forEach(vv=>{
              vv.selected= false
            })
          })
        }
        // Establecer el día seleccionado actualmente
        this.days[k1][k2].selected = true
        this.day = this.days[k1][k2].day
        this.today = [k1, k2]
        this.$emit('select',[this.year,this.zero?this.zeroPad(this.month + 1):this.month + 1,this.zero?this.zeroPad(this.days[k1][k2].day):this.days[k1][k2].day])
      }
    },
    changeYear(){
      if(this.yearsShow){
        this.yearsShow=false
        return false
      }
      this.yearsShow=true
      this.years=[];
      for(let i=~~this.year-10;i<~~this.year+10;i++){
        this.years.push(i)
      }
    },
    selectYear(value){
      this.yearsShow=false
      this.year=value
      this.render(this.year,this.month)
      this.$emit('selectYear',value)
    },
    // Volver a hoy
    setToday(){
      let now = new Date();
      this.year = now.getFullYear()
      this.month = now.getMonth()
      this.day = now.getDate()
      this.render(this.year,this.month)
      // Recorre el día actual para encontrar el seleccionado
      this.days.forEach(v => {
        let day=v.find(vv => {
          return vv.day==this.day && !vv.disabled
        })
        if(day!=undefined ){
          day.selected=true
        }

      })
    },
    // Relleno de fecha
    zeroPad(n){
      return String(n < 10 ? '0' + n : n)
    },
  }
}

</script>