<template>
    <div class="flexProgressBar">
      <div class="shell">
        <div class="bar" :style="{ width: progress + '%' }">
          <span v-if="showValue">{{ progress }}%</span>
        </div>
      </div>
    </div>
  </template>
  
  <script>
  export default {
    name: 'ibProgress',
    props: {
      progress: {
        type: Number,
        required: true,
      },
      color: {
        type: String,
        default: '#aeaff7',
      },
      showValue: {
        type: Boolean,
        default: true,
      },
    },
  };
  </script>
  
  <style scoped lang="scss">
  .flexProgressBar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    .shell {
      height: 24px;
      width: 100%;
      border-radius: 13px;
      background-color: #DEE2E6;
    }
  }
  
  .bar {
    background:#0D438B;
    height: 24px;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 13px;
    justify-content: center;
  
    span {
      float: right;
      padding: 4px 5px;
      color: #fff;
      font-size: 14px;
      font-style: bold;
    }
  }
  </style>
  