<template>
  <div class="flexProgressBarPasswordColor">
    <div class="flexProgressBarPasswordInput">
      <div class="checkbox-container">
        <input class="shellPassword" v-model="localInputText" @input="updateProgress"  :type="localShowPassword ? 'text' : 'password'" maxlength="12">
        <ib-checkbox class="show-password-checkbox" type="check bordedDarkTheme" shape="checkbox" label="label" :checked="localShowPassword" v-model="localShowPassword" @change="toggleChecked">Show</ib-checkbox>
      </div>
      <div @click="reset">
        <ib-button type="primary button-lg white"  >Reset Password</ib-button>
      </div>
    </div>
    <div v-bind:style="{width: progressWidth, background: progressBackground}" class="customText" :value="progress" :empty-style="emptyStyles" >
      <p>{{ customText }}</p>
    </div>
  </div>
</template>
  
<script>
  export default {
    data() {
      return {
        password: '',
        progress: 1,
        localInputText: this.inputText,
        customText: "Empty",
        progressBackground: "",
        emptyStyles: {
            color: "",
            background: "",
        },
        localShowPassword: this.showPassword,
      }
    },
    props : {
      inputText: {
        type: String,
      },
      showPassword : {
        type: Boolean
      }
    },

    created() {
      if (this.localInputText.length === 0) {
        this.updateAppearance("Empty", "", "", "");
        this.progressBackground = "";
      } else if (this.localInputText.length <= 4) {
        this.updateAppearance("Weak", "#FF607F", "#ee9f05", "#ff000014");
        this.progressBackground = "#FF607F";
      } else if (this.localInputText.length <= 8) {
        this.updateAppearance("Good", "#0EBEE1", "#428bca", "#428bca1f");
        this.progressBackground = "#0EBEE1";
      } else if (this.localInputText.length <= 12) {
        this.updateAppearance("Strong", "#B1E250", "#8EBC00", "#8ebc0021");
        this.progressBackground = "#B1E250";
      }
      this.progress = this.localInputText.length;
    },
    computed: {
    progressWidth() {
      if (this.localInputText.length === 0) {
        return 0;
      } else if (this.localInputText.length <= 4) {
        return '5%';
      } else if (this.localInputText.length <= 8) {
        return '10%';
      } else if (this.localInputText.length <= 12) {
        return '25%';
      }

      return '0%';
    }
  },
    methods: {
      updateProgress() {
        console.log(this.localInputText.length)
        this.progress = this.localInputText.length;

        if(this.localInputText.length == 0){
          this.updateAppearance("Empty", "", "", "");
          this.progressBackground = "";
        } else if (this.localInputText.length <= 4) {
          this.updateAppearance("Weak", "#FF607F", "#ee9f05", "#ff000014");
          this.progressBackground = "#FF607F";
        } else if (this.localInputText.length <= 8) {
          this.updateAppearance("Good", "#0EBEE1", "#428bca", "#428bca1f");
          this.progressBackground = "#0EBEE1";
        } else if (this.localInputText.length <= 12) {
          this.updateAppearance("Strong", "#B1E250", "#8EBC00", "#8ebc0021");
          this.progressBackground = "#B1E250";
        }

      },
      updateAppearance(text, textColor, progressBackground, emptyBackground) {
      this.customText = text;
      this.emptyStyles = {
        color: textColor,
        background: emptyBackground,
      };
      this.progressStyles = {
        background: progressBackground,
      };
    },
      reset() {
        this.localInputText = '';
        this.progress = 0;
        this.customText = 'Empty';
        this.progressBackground = '';
      },
      toggleChecked() {
        this.localShowPassword = !this.localShowPassword;
      }
    },
   

  }
  </script>
  
<style scoped lang="scss">
.flexProgressBarPasswordColor{
  display:flex;
  align-items:flex-start;
  flex-direction:column;
  align-content:center;
  gap:10px;
  flex-wrap:wrap;
  .flexProgressBarPasswordInput{
    display: flex;
    justify-content:center;
    gap:90px;
    padding-top:50px;
    .checkbox-container {
        position: relative;
        .shellPassword{
          border: 1px solid #aaa;
          border-radius:13px;
          text-align:start;
          height:40px;
          width:130%;
          padding:20px;
        }
        .show-password-checkbox{
          position:absolute;
          top:8px;
          left:210px;
        }
    }   
  }
  .customText{
    padding-left:20px;
  }
}





</style>