<template>

  <div class="flexProgressBar1">
    <div class="shell">
      <div class="bar" :style="{ width: progress + '%' }">
          <span>{{ progress }}%</span>
      </div>
    </div>
  </div>
   
  
  <div class="flexProgressBar2">
    <button @click="incrementProgress"><div class="icon-button">+</div></button>
    <button @click="decrementProgress"><div class="icon-button">-</div></button>
  </div>


  
  
</template>
  
<script>
  export default {
   
    name: 'ProgressBar',
    emits: ["increment","decrement"],
    data(){
        return{
          progress: this.initialProgress
           
        }
    },
     methods: {
      incrementProgress() {
        if(this.progress < 100){
          this.progress += this.incrementValue;
        }
     
    },
    decrementProgress() {
      if(this.progress > 0){
        this.progress -= this.decrementValue;
      }
      
    }
  },
  props: {
    incrementValue: {
    type: Number,
    required: true
    },
    decrementValue: {
      type: Number,
      required: true
    },
    initialProgress: {
      type: Number,
      required: true
    },
     
    value: {
      type: Number,
      default: 0,
    },
    color: {
      type: String,
      default: '#607c8a',
    },
    mode: {
      type: String,
      default: 'determinate',
    },
    showValue: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
   
      progressStyle() {
        return {
          backgroundColor: this.color,
          width: this.value + '%',
          display: 'block',
        };
      },
    
    },
    
  };
</script>
  
<style scoped lang="scss">

.flexProgressBar1 {
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:row;
  .shell {
    height: 40px;
    width: 25%;
    border: 1px solid #aaa;
    border-radius: 13px;
  }
}
.flexProgressBar2{
  display:flex;
  flex-direction:row;
  justify-content:center;
  gap:20px;

  button {
    margin: 10px;
    border: 1px solid #7879F1;
    background: #7879F1;
    border-radius: 50%;
    width:30px;
    height:30px;
    outline: none;
    cursor: pointer;
  }
  .icon-button{
    color:white;
  }
}

.bar {
  background: linear-gradient(to right, #aeaff7 , #7879F1);
  height: 40px;
  display:flex;
  align-items:center;
  width: 15px;
  border-radius: 9px;
  justify-content:center;
  .span {
    float: right;
    padding: 4px 5px;
    color: #fff;
    font-size: 0.7em
  }
 
}


  

  </style>

