<template>
  <div class="menuSidebar2" :class="{'hideMenu':!open}" >
    <div class="container-logo">
      <svg width="27" height="32" viewBox="0 0 27 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.5074 21.3145L5.24407 27.755C4.52542 28.4939 4.52542 29.6917 5.24407 30.4304C5.6033 30.7998 6.07401 30.9846 6.54491 30.9846C7.01581 30.9846 7.48656 30.7998 7.84576 30.4304L14.1091 23.99C14.8278 23.251 14.8278 22.0535 14.1091 21.3145C13.7499 20.9451 13.2792 20.7605 12.8083 20.7605C12.3374 20.7605 11.8667 20.9451 11.5074 21.3145Z" fill="url(#paint0_linear_4171_258523)"/>
        <path d="M19.0863 31C18.6154 31 18.1448 30.8154 17.7855 30.4458L11.5072 23.9901C10.7886 23.2511 10.7886 22.0535 11.5072 21.3146C12.2257 20.5758 13.3905 20.5758 14.1089 21.3146L20.3874 27.7706C21.1058 28.5093 21.1058 29.707 20.3874 30.4458C20.028 30.8154 19.5572 31 19.0863 31Z" fill="#0EBEE1"/>
        <path d="M15.4191 17.2983C14.7005 18.0373 14.7005 19.235 15.4191 19.9738L21.6748 26.4064C22.034 26.7757 22.5047 26.9603 22.9756 26.9603C23.4463 26.9603 23.9172 26.7757 24.2767 26.4064C24.9951 25.6674 24.9951 24.4696 24.2767 23.7309L18.0208 17.2983C17.6616 16.929 17.1909 16.7441 16.72 16.7441C16.2491 16.7441 15.7784 16.929 15.4191 17.2983Z" fill="url(#paint1_linear_4171_258523)"/>
        <path d="M16.72 20.5279C16.2491 20.5279 15.7784 20.3431 15.4191 19.9737C14.7005 19.2349 14.7005 18.0372 15.4191 17.2984L21.7049 10.8348C22.4234 10.0961 23.5882 10.0961 24.3066 10.8348C25.0251 11.5736 25.0251 12.7713 24.3066 13.5101L18.021 19.9737C17.6616 20.3431 17.1909 20.5279 16.72 20.5279Z" fill="#FC3D67"/>
        <path d="M23.8592 0.553991L11.5217 13.2405C10.8033 13.9794 10.8033 15.177 11.5217 15.9158C11.8808 16.2852 12.3519 16.47 12.8228 16.47C13.2935 16.47 13.7644 16.2852 14.1234 15.9158L26.4611 3.22947C27.1796 2.49068 27.1796 1.29296 26.4611 0.553991C26.1017 0.184597 25.631 0 25.1601 0C24.6893 0 24.2184 0.184597 23.8592 0.553991Z" fill="url(#paint2_linear_4171_258523)"/>
        <path d="M12.8232 16.47C12.3523 16.47 11.8816 16.2852 11.5223 15.9158L5.24407 9.46001C4.52542 8.72104 4.52542 7.52355 5.24407 6.78458C5.96251 6.04576 7.12731 6.04576 7.84576 6.78458L14.1242 13.2405C14.8427 13.9793 14.8427 15.177 14.1242 15.9158C13.7648 16.2852 13.2941 16.47 12.8232 16.47Z" fill="#32D258"/>
        <path d="M1.26652 10.835C0.547878 11.5737 0.547878 12.7714 1.26652 13.5102L7.52199 19.9428C8.24064 20.6817 9.40524 20.6817 10.1239 19.9428C10.8423 19.2038 10.8423 18.0061 10.1239 17.2673L3.86824 10.835C3.509 10.4653 3.0381 10.2808 2.56738 10.2808C2.09648 10.2808 1.62558 10.4653 1.26652 10.835Z" fill="url(#paint3_linear_4171_258523)"/>
        <path d="M8.82301 16.7131C9.29391 16.7131 9.76481 16.8979 10.1241 17.2673C10.8425 18.0061 10.8425 19.2038 10.1241 19.9426L3.83825 26.4064C3.1196 27.1451 1.95483 27.1451 1.23636 26.4064C0.517893 25.6674 0.517893 24.4696 1.23636 23.7309L7.52216 17.2673C7.88141 16.8979 8.35211 16.7131 8.82301 16.7131Z" fill="#FCB103"/>
        <defs>
          <linearGradient id="paint0_linear_4171_258523" x1="4.70508" y1="25.8725" x2="14.6481" y2="25.8725" gradientUnits="userSpaceOnUse">
            <stop stop-color="#0EBEE1"/>
            <stop offset="1" stop-color="#1AD4E1"/>
          </linearGradient>
          <linearGradient id="paint1_linear_4171_258523" x1="14.8802" y1="21.8523" x2="24.8154" y2="21.8523" gradientUnits="userSpaceOnUse">
            <stop stop-color="#FF607F"/>
            <stop offset="1" stop-color="#FC3D67"/>
          </linearGradient>
          <linearGradient id="paint2_linear_4171_258523" x1="10.9828" y1="8.23498" x2="27" y2="8.23498" gradientUnits="userSpaceOnUse">
            <stop stop-color="#B1E250"/>
            <stop offset="1" stop-color="#32D258"/>
          </linearGradient>
          <linearGradient id="paint3_linear_4171_258523" x1="10.6628" y1="15.3887" x2="0.727575" y2="15.3887" gradientUnits="userSpaceOnUse">
            <stop stop-color="#F5DE00"/>
            <stop offset="1" stop-color="#FCB103"/>
          </linearGradient>
        </defs>
      </svg>
      <svg class="text-option" width="62" height="32" viewBox="0 0 62 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.4896 13.0022H7.11995C6.8916 13.0022 6.7063 12.8111 6.7063 12.5752V11.4707C6.7063 11.235 6.8916 11.0439 7.11995 11.0439H8.52285C8.7512 11.0439 8.9365 10.8527 8.9365 10.617V4.69825C8.9365 4.46256 9.1216 4.27148 9.34995 4.27148C10.3531 4.27148 11.1663 5.11084 11.1663 6.14619V10.617C11.1663 10.8527 11.3512 11.0439 11.5797 11.0439H14.946C15.1745 11.0439 15.3594 11.235 15.3594 11.4707V12.5752C15.3594 12.8111 15.1745 13.0022 14.946 13.0022H11.5797C11.3512 13.0022 11.1663 13.1933 11.1663 13.4292V21.5912C11.1663 25.645 13.6624 26.1602 14.9271 26.1602C15.0444 26.1602 15.1516 26.1562 15.2459 26.1493C15.4869 26.1327 15.6928 26.3256 15.6928 26.5749V27.8073C15.6928 28.0286 15.5308 28.2149 15.3172 28.2326C15.1618 28.2456 14.9625 28.2561 14.7274 28.2561C12.7969 28.2561 8.90305 27.6035 8.90305 21.8316V13.4292C8.90305 13.1933 8.71795 13.0022 8.4896 13.0022Z" fill="white"/>
        <path d="M27.741 26.4695C28.873 26.4695 29.916 26.1892 30.87 25.6277C31.8235 25.0668 32.589 24.2536 33.1665 23.1884C33.7435 22.1232 34.0315 20.8466 34.0315 19.3575C34.0315 17.9144 33.7435 16.6605 33.1665 15.5953C32.589 14.5305 31.83 13.7117 30.8865 13.1391C29.9435 12.5667 28.9175 12.28 27.808 12.28C26.698 12.28 25.6665 12.5607 24.7125 13.1218C23.758 13.6833 22.9925 14.4908 22.416 15.5439C21.8385 16.5978 21.5505 17.8803 21.5505 19.392C21.5505 20.9036 21.8335 22.1868 22.399 23.24C22.965 24.2937 23.719 25.095 24.6625 25.6448C25.6055 26.1945 26.6315 26.4695 27.741 26.4695ZM27.7745 28.5651C26.221 28.5651 24.79 28.2099 23.481 27.5001C22.1715 26.7906 21.129 25.748 20.3525 24.3737C19.5755 22.9993 19.1875 21.3392 19.1875 19.392V4.64838C19.1875 4.40468 19.379 4.20703 19.615 4.20703H21.09C21.326 4.20703 21.5175 4.40468 21.5175 4.64838V14.2039H21.584C21.961 13.4256 22.4825 12.7325 23.148 12.1255C23.814 11.5188 24.568 11.0431 25.4115 10.6996C26.2545 10.3559 27.142 10.1842 28.074 10.1842C29.605 10.1842 30.9975 10.5509 32.251 11.2837C33.5045 12.017 34.509 13.0531 35.2635 14.3929C36.0175 15.7329 36.395 17.3423 36.395 19.2201C36.395 20.6861 36.173 21.9977 35.7295 23.154C35.285 24.3109 34.6695 25.2902 33.882 26.0915C33.094 26.8936 32.179 27.5061 31.136 27.9296C30.093 28.3531 28.973 28.5651 27.7745 28.5651Z" fill="white"/>
        <path d="M39.291 27.6702V11.0451C39.291 10.7975 39.4855 10.5967 39.7255 10.5967H41.186C41.4265 10.5967 41.6205 10.7975 41.6205 11.0451V27.6702C41.6205 27.9181 41.4265 28.1188 41.186 28.1188H39.7255C39.4855 28.1188 39.291 27.9181 39.291 27.6702Z" fill="white"/>
        <path d="M56.2481 25.6448C57.1916 25.0951 57.9461 24.2938 58.5116 23.2401C59.0776 22.1868 59.3606 20.9036 59.3606 19.3921C59.3606 17.8804 59.0721 16.5978 58.4951 15.5439C57.9181 14.4909 57.1526 13.6832 56.1986 13.1219C55.2441 12.5608 54.2126 12.2801 53.1031 12.2801C51.9936 12.2801 50.9671 12.5668 50.0246 13.139C49.0816 13.7118 48.3216 14.5304 47.7446 15.5953C47.1676 16.6605 46.8791 17.9145 46.8791 19.3576C46.8791 20.8466 47.1676 22.1233 47.7446 23.1885C48.3216 24.2535 49.0871 25.0667 50.0416 25.6278C50.9951 26.189 52.0381 26.4696 53.1696 26.4696C54.2791 26.4696 55.3051 26.1946 56.2481 25.6448ZM49.7746 27.9295C48.7316 27.5062 47.8166 26.8935 47.0291 26.0915C46.2411 25.29 45.6256 24.3111 45.1821 23.1541C44.7376 21.9978 44.5161 20.6862 44.5161 19.2202C44.5161 17.3423 44.8936 15.7329 45.6481 14.393C46.4021 13.053 47.4061 12.017 48.6601 11.2838C49.9136 10.551 51.3061 10.1842 52.8371 10.1842C53.7691 10.1842 54.6561 10.356 55.4996 10.6996C56.3426 11.0431 57.0971 11.5188 57.7631 12.1256C58.4286 12.7325 58.9496 13.4257 59.3271 14.204H59.3936V4.70729C59.3936 4.46667 59.5831 4.27148 59.8161 4.27148H61.3011C61.5346 4.27148 61.7236 4.46667 61.7236 4.70729V19.3921C61.7236 21.339 61.3351 22.9994 60.5591 24.3736C59.7816 25.7481 58.7391 26.7904 57.4301 27.5002C56.1206 28.21 54.6896 28.5652 53.1366 28.5652C51.9386 28.5652 50.8176 28.3532 49.7746 27.9295Z" fill="white"/>
        <path d="M0.953014 10.8379H2.40852C2.63147 10.8379 2.81237 11.0244 2.81237 11.2548V27.702C2.81237 27.9321 2.63147 28.1187 2.40852 28.1187H0.953014C0.730064 28.1187 0.549316 27.9321 0.549316 27.702V11.2548C0.549316 11.0244 0.730064 10.8379 0.953014 10.8379Z" fill="white"/>
        <path d="M1.67532 7.43559C1.22682 7.43848 0.834872 7.26692 0.499372 6.92034C0.164422 6.57443 -0.00212945 6.17107 2.05504e-05 5.70852C0.00242055 5.22067 0.220019 4.74553 0.576269 4.42531C0.901019 4.13346 1.27602 3.99154 1.70162 4.00039C2.17242 4.01026 2.62652 4.24226 2.93157 4.61288C3.19597 4.93396 3.32827 5.30253 3.32827 5.71776C3.32827 6.12565 3.20097 6.48741 2.94672 6.80416C2.63567 7.19167 2.16287 7.43249 1.67532 7.43559Z" fill="white"/>
        <path d="M40.4665 7.43559C40.018 7.43848 39.626 7.26692 39.291 6.92034C38.9555 6.57443 38.789 6.17107 38.7915 5.70852C38.7935 5.22067 39.0115 4.74553 39.3675 4.42531C39.6925 4.13346 40.0675 3.99154 40.493 4.00039C40.9635 4.01026 41.418 4.24226 41.723 4.61288C41.987 4.93396 42.1195 5.30253 42.1195 5.71776C42.1195 6.12565 41.9925 6.48741 41.738 6.80416C41.427 7.19167 40.954 7.43249 40.4665 7.43559Z" fill="white"/>
      </svg>
    </div>
    <div class="sidebarList">
      <div @click="showSubMenu(id)" v-for="({id, label, iconvue ,url, cond, submenu}) in menu" :key="id" :id="id" :class="[{ 'hidden': cond===false}, ]" class="options">
        <a  :href="url" v-if="url" class="link-menu">
          <ib-icon class="iconOptions" addType="icons-outlined" :icon="iconvue"/>
          <span class="label" :class="{'hideOptions':!open}">{{label}}</span>
        </a>
        <a v-else  :class="{ 'linkAct': (activeMenu===id) }" class="link-menu title-menu">
          <ib-icon class="iconOptions" addType="icons-outlined" :icon="iconvue"/>
          <span  class="label" :class="{'hideOptions':!open}">{{label}}</span>
        </a>
        <ul v-if="submenu" :ref="id" :id="id" :class="{ 'show': ((activeMenu===id && open)|| cond===true), 'hidden': ( activeMenu!==id || !open) && !cond}">
          <li v-for="({id,iconvue, label, url}) in submenu" :key="id" class="submenuOptions" :class="{ 'hidden': label.toLowerCase().indexOf(message.toLowerCase())===-1}" >
            <a :href="url" v-if="url" class="link-menu" >
              <ib-icon class="iconOptions" addType="icons-outlined" :icon="iconvue"/>
              <span class="label">{{label}}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "ibSidebar",
  props:{
    open: Boolean,
    menu:Object,
    logo: String,
    model:String
  },
  data(){
    return{
      activeMenu:'',
      message:'',
      menuvalue: this.menu,
    }
  },
  methods:{
    showSubMenu(id) {
      this.activeMenu === id?this.activeMenu ='':this.activeMenu =id
    },
    focused(){
      this.$nextTick(() => {
        this.$refs.searcher.focus()
      })
    },
  }
}
</script>