<template>
  <div class="filter">
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-5 filter-select">
            <slot name="select"></slot>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row container-filter-items">
          <span class="labelFilter">Filtrar por:</span>
          <div class="col-auto container-filter-icons-filter ">
            <ib-tooltip position="top" color="bg__default">
              <template v-slot:ContainerTooltip>
                <ib-icon @click="showMenuAdvancedFilter"  addType="icons-outlined" class="icon-large filter-icons" icon="filter_alt"></ib-icon>
              </template>
              <template v-slot:BoxTooltip>
                <div>
                  filtros Avanzados
                </div>
              </template>
            </ib-tooltip>
            <div  class="menu-filter-advanced-filter" :class="{'hidden':!activeMenuFilterAdvancedFilter , show: activeFilter}">
              <div class="menu-filter-advanced-header">
                <div class="menu-filter-advanced-header-content">
                  <ib-icon class="menu-filter-advanced-header-content-icon" size="" addType="icons-outlined" icon="filter_alt" />
                  <span style="font-size: 16px">Filtros</span>
                </div>
                <span></span>
                <ib-icon @click="closeMenuAdvancedFilter" addType="icons" icon="close" class="advanced-filter-icon-close"/>
              </div>
              <div class="advanced-title">
                <p class="advanced-title-header">
                  <slot name="titleHeader"></slot>
                </p>
                <p class="advanced-description">
                  <slot name="descriptionHeader"></slot>
                </p>
              </div>
              <div class="advanced-one-camp">
                <div class="selectp">
                  <slot name="selectContainer" ></slot>
                </div>
              </div>
              <div class="advanced-buttons">
                <slot name="buttonsContainer"></slot>
              </div>
            </div>
            <div v-if="activeFilter" class="filter-backdrop show"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name:'Filter',
  data(){
    let selectedOption = this.default;
    if (null === selectedOption && this.options.length > 0) {
      selectedOption = this.options[0]
    }
    return{
      activeFilter:false,
      active:false,
      selected: selectedOption,
      activeMenuFilterAdvanced: false,
      activeMenuFilterAdvancedFilter: false,
      activeMenuFilter: false,
      changeColor:true,
    }
  },
  props:{
    lupa:String,
    data1:String,
    data2:String,
    data3:String,
    data4:String,
    filterOptions:String,
    rangeDateOptions:String,
    value: String,
    check:String
  },
  methods:{
    handleValue: function(event, id, label) {
      this.inputValue = id
      this.selected = label
      this.open = false
      this.$emit('update:value', this.inputValue)
    },
    showMenu(){
      this.activeMenuFilter=!this.activeMenuFilter;
      this.changeColor=!this.changeColor;
    },
    showMenuAdvancedFilter(){
      this.activeMenuFilterAdvancedFilter=!this.activeMenuFilterAdvancedFilter
      const body = document.querySelector("body")
      this.activeFilter = !this.activeFilter
      this.activeFilter ? body.classList.add("filter-open") : body.classList.remove("filter-open")
    },
    showMenuAdvanced(){
      this.activeMenuFilterAdvanced=!this.activeMenuFilterAdvanced
      const body = document.querySelector("body")
      this.active = !this.active
      this.active ? body.classList.add("filter-open") : body.classList.remove("filter-open")
    },
    closeMenuAdvanced(){
      this.activeMenuFilterAdvanced=!this.activeMenuFilterAdvanced
      const body = document.querySelector("body")
      this.active = !this.active
      this.active ? body.classList.add("filter-open") : body.classList.remove("filter-open")
    },
    closeMenuAdvancedFilter(){
      this.activeMenuFilterAdvancedFilter=!this.activeMenuFilterAdvancedFilter
      const body = document.querySelector("body")
      this.activeFilter = !this.activeFilter
      this.activeFilter ? body.classList.add("filter-open") : body.classList.remove("filter-open")
    }
  }
}
</script>
<style lang="scss" scoped>

</style>