<template>
  <div class="toasts">
    <div  @click="feedBack({type: set, timeout: time })">
      <slot></slot>
    </div>
    <transition-group name="toast-list" tag="ul" class="position-fixed bottom-0 start-50 translate-middle-x">
      <li class="toast-box"  v-for="toast of content" :key="toast.id" :class="type(toast.type)">
        <div class="toast-icon">
          <ib-icon addType="icons-outlined" v-if="toast.type==='success'" icon="check"/>
          <ib-icon addType="icons" v-if="toast.type==='error'" icon="delete"/>
          <ib-icon addType="icons-outlined" v-if="toast.type==='info'" icon="info"/>
          <ib-icon addType="icons-outlined" v-if="toast.type==='neutral'" icon="add"/>
        </div>
        <div class="toast-text">
          <div class="toast-body" >
            <slot name="body"></slot>
            <span v-html="body"></span>
          </div>
        </div>
        <div class="toast-close">
          <a class="close-toast" @click="remove(toast.id)">Cerrar</a>
          <a v-if="closeOptional" class="close-toast-optional" @click="remove(toast.id)" :href="link">{{ closeOptional }}</a>
        </div>
      </li>
    </transition-group>
  </div>
</template>

<script>
export default {
  name: "ib-feedback",
  props:{
    link:String,
    value:String,
    title: String,
    body:String,
    time:String,
    set:String,
    closeOptional:String
  },
  methods: {

    feedBack:function (params){
        for (let key in this.defaults) {
          if (params[key] === undefined) {
            params[key] = this.defaults[key]
          }
        }
        params.created = Date.now()
        params.id = Math.random()
        params.expire = setTimeout(() => { this.remove(params.id) }, params.timeout * 1000)
        this.content.unshift(params)
    },
    remove (id) {
      this.content.splice(this.index(id), 1)
    },
    index (id) {
      for (let key in this.content) {
        if (id === this.content[key].id) {
          return key
        }
      }
    },
    type (type) {
      switch (type) {
        case 'error' :
          return 'is-danger'
        case 'success' :
          return 'is-success'
        case 'info' :
          return 'is-info'
      }
    },
  },
  data () {
    return {
      check:this.value,
      defaults: {
        body: 'undefined body',
        timeout: 5,
      },
      content: [],
      a: { body: 'body', type: 'info', timeout: 3 },
    }
  }
}
</script>
