<template>
  <div :class="selectStyle" @mouseleave="open = false" >
    <button ref="ibSelectButton" class="selected" :class="[{ open: open} ,`${color}`]" v-on:click="fixWidth"   @click="open = !open" >
        <span class="select-label">
         <a> {{ selected }}</a>
        <ib-icon addType="icons-outlined" icon="keyboard_arrow_down" :class="{'down': open }" class="arrow"></ib-icon>
        </span>
    </button>
    <div :class="{ selectHide: !open }">
      <div >
        <div class="select-dropdown" :style="{'width': this.fixedWidth}">
          <div class="checkbox-select" >
            <div class="checkbox-select__dropdownew"  >
              <div class="inputDropdown">
                <ib-input   placeholder="Buscar..." class="rounded search" iconleft="search"   v-model:value="search" />
                <hr>
              </div>
              <div class="checkbox-select__filters-wrapp" >
                <div class="checkbox-select__col">
                  <ib-checkbox class="checkbox-select__principalCheck" type="check" @click="checkAll()" v-model:checked="isCheckAll"  shape="checkbox" label="label" :selectAllText="selectAllText" ><a @click="checkAll()">{{selectAllText}}</a> </ib-checkbox>
                </div>
                <ul>
                  <li v-for="({id,label}) in options" :key="id">
                    <div class="checkbox-select__icondown" >
                      <ib-checkbox type="check" shape="checkbox" label="label"   :value="id" @change="addSelectedElement(id)" :checked="check" ><a class="checkbox-select__icondown__labels" >{{label}} </a> </ib-checkbox>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
export default {
  name:'Ib-dropdown',
  props: {
    color:String,
    size: String,
    placeholder: String,
    submenu: String,
    selectAllText:String,
    options:{
      type:Array,
    },
    default:String,
  },
  data() {
    console.log(this.options);
    let fontSize = ''
    if (this.size != undefined) {
      fontSize = this.size
    }

    let selectedOn = [];
    let selectedOption = [];
    this.options.forEach(function(element, index){
      selectedOption[index] = false;
    });
    //console.log(selectedOption);

    return {
      selectedOption,
      selectedOn,
      selectedValues: [],
      fixedWidth: '100%',
      selectStyle: 'custom-select ' + fontSize,
      isCheckAll: false,
      selectedd:false,
      selected: this.default,
      open: false,
      check:false,
      search:"",
    }
  },
  computed: {
    // eslint-disable-next-line vue/no-dupe-keys
    options() {
      return this.options.filter(item => {
        return item.label.toLowerCase().includes(this.search.toLowerCase());
      });
    }
  },
  methods: {
    fixWidth: function() {
      this.fixedWidth = (this.$refs.ibSelectButton.clientWidth +2) + 'px'
    },
    showSubMenu(id) {
      this.activeMenu === id ? this.activeMenu = '' : this.activeMenu = id
    },
    checkAll: function () {
      this.isCheckAll = !this.isCheckAll;
      this.check = !this.check;
      this.selectedOn = [];
      if (this.isCheckAll) { // Check all
        for (let i in this.options) {
          this.selectedOn.push(this.options[i].id);
        }
      }

      this.emitSelectedElements();
    },

    addSelectedElement(value){
      this.selectedOption[value] = !this.selectedOption[value];
      if(this.selectedOption[value]){
        this.selectedOn.push(value);
      }
      else{
        let index = this.selectedOn.indexOf(value);
        this.selectedOn.splice(index, 1);
      }
      //console.log(this.selectedOption[value]);
      //console.log(this.selectedOn);
      this.emitSelectedElements();
    },
    emitSelectedElements(){
      this.$emit("getSelectedElements", this.selectedOn);
    },
  },
}
</script>
