<template>
    <div class="filter-container" :class="['filter-container', filterModel]">
      <div class="filter-input">
        <ib-input :placeholder="holder" type="text" :classAdd="inputClass" class="rounded" iconleft="search" @input="event => $emit('update:modelValue', event.target.value)" />
      </div>
      <div class="filter-select">
        <template v-if="filterModel === 'model-one'">
          <p class="filter-select-label">Filtrar por:</p>
          <ib-Select searcher="true" AdviceHint="hola" size="select-md" color="bg-white" :options="selectOptions" default="Fecha de modificación" v-model:value="s" />
        </template>
        <template v-else-if="filterModel === 'model-two'">
          <slot></slot>
        </template>
      </div>
    </div>
  </template>
  
  <script>
  export default {
    name: 'ibTopFilter',
    props: {
      holder: String,
      filterModel: String, 
    },
    computed: {
      inputClass() {
        return this.filterModel === 'model-one' ? ' darkTheme' : 'default';
      },
    },
  };
  </script>
  