
<template>
  <h1>Calendario {{ currentYear }} - {{ currentMonth }} </h1>
    <div class="blockCalendar">
        
      <div class="filtersCalendar">
        <!-- selecciones años -->
        <div class="yearSelector"> 
          <span for="year-selector">Año: </span>
          <div class="selectors">
            <select id="year-selector" v-model="selectedYear" @change="updateCalendar">
              
              <!-- agrege un disable para no poder seleccionar años ya pasados -->
              <option v-for="year in years" :value="year" :disabled="year < new Date().getFullYear()" :key="year">{{ year }}</option>
            </select>
            
          </div>
         
        </div>
     
        <!-- selecciones meses -->
        <div class="monthSelector">
          <span for="month-selector">Mes: </span>
          <div class="selectors">
            <select v-model="selectedMonth">
              <option v-for="(monthName, index) in monthNames" :value="index" :key="monthName">{{ monthName }}</option>
            </select>
          </div>
        </div>
       
        <div @click="goToToday">
          <ib-button  type="itbigo button-lg white" >Ir al día de hoy</ib-button>
        </div>

        <div class="optionsEvent">
          <div @click="showEventList = false">
            <ib-button  type="itbigo button-lg white" >Ocultar Eventos</ib-button>
          </div>
    
          <div @click="showEventList = true">
            <ib-button  type="itbigo button-lg white" >Mostrar Eventos</ib-button>
          </div>
        </div>

    
       <span for="event-input">Nombre Evento</span>
       <!-- <div class="inputEvent"> -->
        <input type="text" id="event-input" v-model="eventText" placeholder="Evento" style=" border:1px solid #DEE2E6;
          background-color:white; height:40px; caret-color:#7879F1; padding: 12px 12px; border-radius:4px;"/>
       <!-- </div> -->
      
      <!-- <ib-input placeholder="Evento"   classAdd=" darkThemeBorder"  type="text" id="event-input" v-model="eventText"  /> -->

      <div class="gestionEventos">
        <div @click="addEvent">
          <ib-button  type="itbigo button-lg white" >Añadir</ib-button>
        </div>
        <div @click="editEvent(event)">
          <ib-button  type="itbigo button-lg white" >Editar</ib-button>
        </div>
        <div @click="deleteEvent(event)">
          <ib-button  type="itbigo button-lg white" >Eliminar</ib-button>
        </div>
      </div>
    </div>
     <!-- para visualizar los eventos en un día específico. -->
      <div class="calendarDisplay">
        <table>
        <thead>
          <tr>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miércoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
            <th>Sábado</th>
            <th>Domingo</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="week in weeks" :key="week">
            <td v-for="day in week" :class="{ 'today': isToday(day), 'selected': isSelected(day), 'disabled': isDisabled(day) }" @click="showEvents(day)" :key="day">{{ day.getDate() }}</td>
          </tr>
        </tbody>
        </table>

        <div v-if="showEventList">
          <h2>Eventos para {{ selectedDay }}/{{ currentMonth }}/{{ selectedYear }}</h2>
          <ul>
            <li v-for="event in events[selectedDate]" :key="event">{{ event }}</li>
          </ul>
          <button @click="clearEvents">Borrar todos los eventos</button>
        </div>
     
       
         
          <div v-if="editingEvent">
            <div class="editEvent">
              <h2>Editar evento</h2>
              <div class="optionseditEvent">
                <input type="text" v-model="editedEvent" />
              <button @click="saveEditedEvent">Guardar</button>
              <button @click="cancelEditing">Cancelar</button>

              </div>
              
            </div>
        </div>
      </div>
    </div>
  </template>
  
  <script>
  const monthNames = [
   "Enero",
   "Febrero",
   "Marzo",
   "Abril",
   "Mayo",
   "Junio",
   "Julio",
   "Agosto",
   "Septiembre",
   "Octubre",
   "Noviembre",
   "Diciembre"
  ];
  export default { 
   data() {
     return {
       weeks: [],
       selectedYear: new Date().getFullYear(),
       currentYear: new Date().getFullYear(),
       currentMonth: monthNames[new Date().getMonth()],
       selectedMonth: new Date().getMonth(),
       monthNames: monthNames,
       years: [],
       eventText: '',
       events: {},
        selectedDay: null,
        selectedDate: null,
        showEventList: false,
        editingEvent: false,
        editedEvent: null
     }
   },
    // inicia el calendario al cargar la página //
   mounted() {
      for (let i = this.currentYear - 5; i <= this.currentYear + 5; i++) {
       this.years.push(i);
       
     }
     this.weeks = this.getWeeksInMonth(new Date());
   },
     // aquí mete estos eventos creados  /// 
    created() {
      this.events = JSON.parse(window.localStorage.getItem('events')) || {};
       this.updateCalendar();
    },

    computed:{
      currentMonths() {
      return this.monthNames[this.selectedMonth] && this.updateCalendar;
  }
    },
     
     /// agarra los eventos del local Storage///
     watch: {
       events: {
        handler() {
          window.localStorage.setItem('events', JSON.stringify(this.events));
        },
        deep: true
      },
     /// seleccciona los meses ///    
     selectedMonth(newMonth) {
       this.currentMonth = this.monthNames[newMonth];
       this.weeks = this.getWeeksInMonth(new Date(this.currentYear, newMonth, 1));
     },
   },
   methods: {
      isDisabled(day) {
        const date = new Date(this.selectedYear, this.selectedMonth, day.getDate());
  return date < new Date();
      },
       // como dice el metodo 💀 (añade el evento a través de un input ligado a un botón) //
       addEvent() {
        const selectedDate = new Date(this.selectedYear, this.selectedMonth, this.selectedDay);
        const selectedDateString = selectedDate.toISOString().slice(0, 10);
        if (!this.events[selectedDateString]) {
          this.events[selectedDateString] = [];
        }
        this.events[selectedDateString].push(this.eventText);
        this.eventText = '';
      },
      // edita el evento ( por arreglar ) //
       editEvent(event) {
        this.editingEvent = true;
        this.editedEvent = event;
      },
      // guarda lo editado según el orden (arreglar)///
       saveEditedEvent() {
        const index = this.events[this.selectedDate].indexOf(this.editedEvent);
        this.events[this.selectedDate].splice(index, 1, this.editedEvent);
        this.editingEvent = false;
        this.editedEvent = null;
      },
      cancelEditing(){
          this.editingEvent = false;
      },
      // borra el evento del día //
      deleteEvent(event) {
        const index = this.events[this.selectedDate].indexOf(event);
        this.events[this.selectedDate].splice(index, 1);
      },
      /// muestra los eventos (si es que tiene) del  día a través de un click//
       showEvents(day) {
        this.selectedDay = day.getDate();
        this.selectedDate = day.toISOString().slice(0, 10);
        this.showEventList = true;
      },
      /// selecciona los días///
       selectDay(day) {
        this.selectedDay = day.getDate();
      },
      /// elimina todos los eventos (tanto temporales como localStorage)///
      clearEvents() {
        this.events = {};
        localStorage.removeItem('events');
      },
      // botón para retornar al día de hoy////
      goToToday() {
      this.selectedYear = new Date().getFullYear();
      this.selectedMonth = new Date().getMonth();
      this.selectedDay = new Date().getDate();
      this.weeks = this.getWeeksInMonth(new Date());
    },
    // muestra el día seleccionado //
     isSelected(day) {
        return (
          day.getFullYear() === this.selectedYear &&
          day.getMonth() === this.selectedMonth &&
          day.getDate() === this.selectedDay
        );
      },
     /// día actual///
     isToday(day) {
       const today = new Date();
       return (
         day.getFullYear() === today.getFullYear() &&
         day.getMonth() === today.getMonth() &&
         day.getDate() === today.getDate()
       );
     },
      
      /// actualiza el calendario según el año y mes///
      updateCalendar() {
       this.weeks = this.getWeeksInMonth(new Date(this.selectedYear, 0, 1));
       if (this.selectedYear === new Date().getFullYear()) {
       this.selectedMonth = new Date().getMonth();}
     },
     
     /// obtiene todo 🗓️ (día , meses (recalcar que los meses ya estan cargados arriba xD (se puede sustituir) ) y años)////
     getWeeksInMonth(date) {
       const month = date.getMonth();
       const year = date.getFullYear();
       const lastDay = new Date(year, month + 1, 0);
       const numDays = lastDay.getDate();
       const weeks = [];
       let week = [];
       
       // refactorizar 🧠 //
       for (let i = 1; i <= numDays; i++) {
         const day = new Date(year, month, i);
         if (week.length > 0 && day.getDay() === 1) {
           weeks.push(week);
           week = [];
         }
         week.push(day);
         if (i === numDays) {
           weeks.push(week);
         }
       }
       return weeks;
     }
   }
  }
  </script>
  
  <style scoped lang="scss">
.blockCalendar{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:50px;
  margin-top:50px;
  margin-bottom:100px;
  .filtersCalendar{
    flex-direction:column;
    display:flex;
    align-items:flex-start;
    gap:20px;
    align-self:baseline;
    .yearSelector{
      display:flex;
      flex-direction: row;
      .selectors{
        margin-left:5px;
      }
    }
    .monthSelector{
      display:flex;
      flex-direction: row;
    }
    .optionsEvent{
      display:flex;
      flex-direction:row;
      gap:20px;
    }
    .inputEvent{
      border:1px solid #DEE2E6;
      background-color:white;
      height:40px;
      caret-color:#7879F1;
      padding: 12px 12px;
      border-radius:4px;
    }
    .gestionEventos{
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
  }
  .calendarDisplay{
    display: flex;
    flex-direction: column;
    gap:25px;
    align-self:start;
    .editEvent{
      display:flex;
      flex-direction: column;
      .optionseditEvent{
        display:flex;
        flex-direction: row;
        gap:20px;
      }
    }
  }
}




.selected{
  background-color: #7879F1;
  border-radius: 50%;
  width:50%;
  display: flex;
}
h1 {
  text-align: center;
}
.disabled {
  pointer-events: none;
  color: #999;
}
.today {
  font-weight: bold;
  color:black;
}
table td.today {
  font-size: larger;
}
th, td{
  text-align:center;
}

</style>
  