<template>
  <div @click="toggleSubMenu" @mouseleave="showSubMenu = false"   :class="{'menuLinkSub' : link && link.submenu  }" @mouseover="showTooltip = true"  >
    
    <a :class="{'disabled-link': !link || !link.url}" exact-active-class="exact-active-link" :href="link && link.url" role="option" aria-selected="false" class="menuLinks"  >
      <div class="menuLinksRoute"> 
        <ib-icon addType="icons-outlined" :icon="link && link.iconvue" />
        <p   :class="{'disabled-link': !link || !link.url, 'menu-link-text': true, 'width-142': link && link.label && link.label.length > 21 && link.submenu && link.submenu.length > 0}" class="menu-link-text"> {{ link && link.label }}</p>
        <span v-show="showTooltip && link.label.length > 20" class="tooltiptext">{{ link && link.label }}</span>
      </div>
      <ib-icon v-if="link && link.submenu && link.submenu.length > 0" addType="icons-outlined" icon="expand_more" class="menu-link-arrow" :class="{'arrowUp' : showSubMenu}"  />
    </a>

    <div v-if="showSubMenu" class="subMenuLinks" :class="{'open' : showSubMenu , 'subLinkBackground':link.submenu}">
      <div v-for="linked in link && link.submenu" :key="linked" class="subMenuLinksLabel" :class="{'subMenuLinkOption' : showSubMenu}">
        <a class="menu-link-text" exact-active-class="exact-active-link" :href="linked && linked.url" role="option" aria-selected="false">{{ linked && linked.label }}</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ibMenuLink',
  props: {
    link: Object,
    open: Boolean,
  },
  data() {
    return {
      showSubMenu: false,
      linkData: this.link,
      showTooltip: false
    }
  },
  watch: {
    open: function () {
      this.showSubMenu = false;
    },
  },
  methods: {
    toggleSubMenu() {
      this.showSubMenu = !this.showSubMenu;
      this.$emit('toggle-sub-menu', this.showSubMenu);
    },
  },
}
</script>
