<template>
  <div :class="style + ' sideOptional'">
    <img class="logo" :src="logo">
    <div class="menu">
      <template v-for="(data, index) in menu" :key="index">
        <h4 v-if="data.separator">{{ data.separator }}</h4> 
        <hr class="sidebar-section-break">
        <ib-menu-link   @update:showSubMenu="updateSubMenuState(index)"  :link="data" :open="open" v-bind:class="{active: data}"/>
      </template>
    </div>
  </div>
</template>

<script>
import ibMenuLink from './ibMenuLink.vue';

export default {
  name: 'ibSidebar',
  components: {
    ibMenuLink
  },
  props: {
    logo: String,
    type: String,
    menu: Object,
    open: Boolean
  },
  data() {
    return {
      style: this.updateStyle(),
      activeLink: null,
    }
  },
  watch: {
    type: function() {
      this.style = this.updateStyle()
    },
    open: function() {
      this.style = this.updateStyle()
    },
  },
  methods: {
    updateStyle()
    {
      let opened = (typeof this.open == 'undefined' || !this.open) ? '' : 'open'
      let type = (typeof this.type == 'undefined') ? '' : this.type
      return "sidebar " + opened + " " + type
    },
    updateSubMenuState(index) {
      this.activeLink = index;
    },
  }
}
</script>

<style lang="scss">
.sideOptional {
  margin: 0 !important;
  position: absolute;
  height: 100%;
  z-index: 999;
}

</style>