<template>
    <div class="color-picker">
        <div class="color" v-for="(color,i) in colors" :key="i" :style="'background:'+color" @click="setColor(color)"></div>
    </div>
</template>


<script>
export default{
    name: 'color-picker',
    props: ['colors'],
    methods: {
        setColor(color){
            this.$emit('setColor',color);
        }
    }
}
</script>

<style scoped>
.color-picker{
    width: 125px;
    display: grid;
    margin: 15px auto;
   
}

.color{
    border: 1px solid #000;
    height: 100px;
    width: 100px;
    margin-bottom: 10px
    

}
</style>
