<template>
  <div class="stepper">
      <div class="top">
          <div v-for="(item, index) in options.headers" :key="index" :class="{'step-header': true, 'active': index <= currentPosition,
          'start': index === 0, 'end': index === options.headers.length, 'anter': index <currentPosition}">
          <div style="display:flex; flex-direction:row;">
              <div class="step-header-line" v-if="index > 0"></div>
              <div class="header-indicator">
                  <div class="step-header-content" @click="slideTo(index)">
                      <div v-if="currentPosition < index">
                      </div>
                      <div v-else-if="currentPosition > index">
                          <ib-icon class="iconStep" addType="icons" icon="done"/>
                          
                      </div>
                      <div v-else-if=" currentPosition == index">
                          <div id="actualPoint"></div>
                      </div>
                  </div>
              </div>
          </div>
              <div class="title" :class="{'title': true, }">
                  {{item.title}}
              </div>
          </div>
      </div>

      <div><slot name="subStep"></slot></div>

      <div class="stepContainer">
          <transition-group :name="transitionType" class="body" mode="out-in" >
              <div v-for="(item, index) in options.headers" :key="'step' + index" v-show="currentPosition === index"
                   :class="{'steps-item':true}">
                  <slot :name="'step-' + (index+1)"></slot>
              </div>
          </transition-group>
      </div>
    
      <div class="stepFooter">
          <div style="width=100%">
              <slot name="optionalButton"></slot>
          </div>
          <div class="stepFooterProgressButtons">
              <div v-if="currentPosition > 0"  @click="prev()" style="width=100%;"><slot name="buttonPrev"></slot></div>
              <div v-if="currentPosition < options.headers.length - 1" @click="next()"><slot name="buttonNext"></slot></div>
          </div>
      </div>

  </div>
</template>

<script>
export default {
  name: 'ibSteps',
  props: ['options'],
  data () {
    return {
      currentPosition: 0,
      transitionType: 'slide'
    }
  },
  methods: {
    next () {
      if (this.currentPosition < this.options.headers.length - 1) {
        this.transitionType = 'stepper-slide-1'
        this.currentPosition++
      }
    },
    prev () {
      if (this.currentPosition > 0) {
        this.transitionType = 'stepper-slide-2'
        this.currentPosition--
        this.$refs.button.prev()
      }
    },
    slideTo (index) {
      if(this.currentPosition === index) return
      if(this.currentPosition > index){
        this.transitionType = 'stepper-slide-2'
      } else {
        this.transitionType = 'stepper-slide-1'
      }
      this.currentPosition = index;
    }
  }
}
</script>
