<template>
  <div>
    <label v-if="label" class="form-label">{{ label }}</label>
    <div :class="divClass">
      <textarea v-if="textarea" :class="InputStyle" :placeholder="placeholder" @input="(event) => $emit('update:value',event.target.value)" id="floatingTextarea" @change="change"></textarea>
      <div  v-else class="input-group">
        <ib-icon addType="icons" v-if="iconleft" class="text-left" :disabled="state" :icon="iconleft"/>
        <input @input="(event) => $emit('update:value',event.target.value)" :maxlength="maxlength" :min="min" :max="max" @change="change" v-on:keydown="clearInput"  :readonly="read" :classAdd="classAdd" :value="value" :color="color" :type="type" :placeholder="placeholder" :class="InputStyle" :disabled="state">
        <button v-if="copy" class="input-group-text-right" @click="copyText" :disabled="state"><ib-icon addType="icons-outlined" class="input-group" icon="content_copy"></ib-icon></button>
        <button v-if="copyLabel" class="input-group-text-right" @click="copyText" :disabled="state">COPIAR</button>
        <ib-tooltip position="top"  class="text-tooltip" color="bg__default" v-if="tooltip" >
          <template v-slot:ContainerTooltip>
            <ib-icon addType="icons" icon="info"/>
          </template>
          <template v-slot:BoxTooltip>
            <slot name="tooltipContainer"/>
          </template>
        </ib-tooltip>
        <div v-if="hint" class="normal-feedback">
          {{hint}}
        </div>
        <div v-if="AdviceHint" class="invalid-feedback">
          {{AdviceHint}}
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name:'ibInput',
  props: {
    change:String,
    read:String,
    type:String,
    value: String, // [input|checkbox|radio]
    size: String,  // [sm|large|default]
    placeholder: String,
    label: String,
    color:String,
    textarea:String,
    state:String,
    hint:String,
    hintarea:String,
    AdviceHint:String,
    iconleft: String ,
    iconright: String,
    copy: String,
    copyLabel:String,
    focus:String,
    classAdd:String,
    tooltip:String,
    max: String,
    min: String,
    position: String,
    maxlength:String
  },
  emits: ['update:value'],
  methods: {
    copyText() {
      navigator.clipboard.writeText(this.inputValue);
    },
    clearInput(){
      this.clearIcon = true
    }
  },
  data() {
    const defaultType = this.type || '';
    const divType = this.size ? `form-control-${this.size}`: '';
    const leftIcon = this.iconleft ? 'search' : '';
    const rightIcon = this.iconright ? 'right-icon' : '';
    const addClass = this.classAdd || '';
    const InputState = this.state || 'disabled';
    return {
      inputValue: this.value,
      InputStyle: `form-control ${defaultType} ${divType} ${addClass}`,
      divClass: `${leftIcon} ${rightIcon}`,
      InputState
    }
  }
}
</script>