<template>
  <div class="filter-block">
    <div class="row">
      <div class="col-6">
        <div class= "d-flex  d-flex-row">
          <div class="p-2">Filtrar por:</div>
          <div class="col-6">
            <ib-select class="filter-select" size="select-md" :options="rangeDateOptions" default="Ultimo Año"></ib-select>
          </div>
        </div>
      </div>
      <div class="col-6"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ibDataTableFilter",
  props: {
    filters: Object,
  },
  data() {
    return {
      rangeDateOptions: [
        {id: '01-01-2020|01-01-2021', label: 'Ultimo Año'},
        {id: '01-01-2020|01-01-2021', label: 'Ultimos Tres Meses'},
        {id: '01-01-2020|01-01-2021', label: 'Ultimo Mes'},
      ]
    }
  }
}
</script>