<template>
  <div>
    <ib-card>
        <table class="table">
          <thead>
            <tr>
              <th v-for="column in data.columns" v-bind:key="column.label">{{ column.label }}</th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="row in data.rows" v-bind:key="row">
              <td v-for="cell in row" v-bind:key="cell">
                <span v-if="!isAction(cell) && cell === true"><ib-icon addType="icons-outlined" icon="check_circle" class="text-success"></ib-icon></span>
                <span v-if="!isAction(cell) && cell === false"><ib-icon addType="icons-outlined" icon="cancel" class="text-error"></ib-icon></span>
                <span v-if="!isAction(cell) && cell !== true && cell !== false">{{ cell }}</span>
                <div class="acciones" v-else>
                  <router-link :title="action.options.label" v-for="action in cell" v-bind:key="action.url" :href="transformUrl(action.options.url, row)">
                    <ib-icon addType="icons-outlined" :color="action.options.color" :icon="action.icon"></ib-icon>
                  </router-link>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
    </ib-card>
  </div>

</template>

<script>
export default {
  name: "ibDataTable",
  props: {
    list: Object,
  },
  data() {
    return {
      show: false,
      firstPageCount: 1,
      lastPageCount: 10,
      currentUrl: '/',
      data: this.list,
      filters: this.list.filters ? this.list.filters : null
    }
  },
  mounted() {
    this.updatePaginator();
  },
  methods: {
    isAction(elem) {
      return Array.isArray(elem) || typeof elem === 'object';
    },
    transformUrl(url, row) {
      for (let key in row) {
        url = url.replace('__'+ key + '__', row[key])
      }

      return url;
    },
    hover() {
      this.show = true;
    },
    hoverOut() {
      this.show = false;
    },
    updatePaginator()
    {
      let pageRange = 10;
      let firstPageCount = this.data.filters.pag > (pageRange / 2) ? (this.data.filters.pag - (pageRange / 2)) : 1;
      let lastPageCount = this.data.filters.totalPag < (firstPageCount + pageRange - 1) ? this.data.filters.totalPag : (firstPageCount + pageRange - 1);

      if ((lastPageCount - firstPageCount) < pageRange) {
        firstPageCount = (lastPageCount - pageRange) > 1 ? (lastPageCount - pageRange) : 1;
      }

      this.firstPageCount = firstPageCount;
      this.lastPageCount = lastPageCount;
    },
    goTo(url) {
      this.$inertia.visit(url);
    },
    goToPage(event) {
      event.preventDefault();
      this.data.filters.pag = event.target.getAttribute('data-pag');

      this.axios.post(this.currentUrl, this.data.filters).then(
          response => {
            this.data = response.data.list;
            this.updatePaginator();
          }
      )

    }
  }
}
</script>

<style>
.acciones a {
  position: relative;
  top: 0.1em !important;
  margin-bottom: -0.1em !important;
  display: inline-block;
  margin-right: 16px !important;
  font-size: 1.1em !important;
}

ul.list-unstyled {
  margin-bottom: -2px !important;
  margin-left: 6px;
}
</style>