<template>
    <div>
      <span class="sizeElements" v-for="n in length" :key="n" @mouseover="setOver(n)" @mouseout="resetOver" @click="setRating(n)" :class="{active: n <= rating, over: n <= over, disabled: isDisabled}">
        &#9733;
      </span>
      <span v-if="showcount" class="count">{{over}}</span>
      <span v-if="ratedesc.length > 0" class="desc">{{ratedesc[over - 1]}}</span>
     
    </div>
    
  </template>
  
  
  <script>
  export default {
    data() {
      return {
        rating: 0,
        over: 0, 
        isDisabled: this.disabled
      }
    },

    props: {
        length: {
            type:Number,
            required: true
        },
        value: {
            type:Number,
            
        },
        showcount: {
          type:Boolean
        },
        ratedesc: {type: Array, default () { return [] }},
        disabled: {type: Boolean, default: false}
    },
     created() {
    this.rating = this.value
    this.over = this.value
    this.isDisabled = this.disabled;
  },
    methods: {
      setRating(newRating) {
        this.rating = newRating
        this.$emit('rating-changed', newRating)
      },
      setOver(newRating) {
        this.over = newRating
      },
      resetOver() {
        this.over = this.rating
      }
    }
  }
  </script>
  
  <style scoped>
  .active {
    color: #ffc107;
    cursor:pointer;
  }
  .over {
    color: #ffc107 !important;
    cursor:pointer;
  }

  .sizeElements{
    font-size:30px;
    color:#dedbdb;
  }

  .count{
    display: inline-block;
    vertical-align: middle;
    padding: 7px;
  }

  .disabled{
    opacity:0.2;
  }
  </style>
  