<template>
  <div>
    <input type="file" ref="pdfInput" @change="convertPdf"/>
    <img v-if="png" :src="png"/>
  </div>
</template>

<script>

export default {
  data() {
    return {
      png: null
    }
  },
 
}
</script>
