<template>
 <ib-tooltip position="top" color="bg__default">
    <template v-slot:ContainerTooltip>
      <div class="color">   
        <ib-input  classAdd=" transparent" v-model:value="value"  type="range"  :min="min" :max="max"/></div>
                 
              </template>
              <template v-slot:BoxTooltip>
                {{tooltipValue}}
              </template>
                </ib-tooltip>
  

</template>
<script>
export default {
    name: 'ib-range',
    props: {
    position: String,
    content: String,
    color:String,
    number: Number,
    max: Number,
    min: Number,
  },
  data() {
    return{
   
       tooltipValue: this.value
    }
  }
}
</script>

<style lang="scss">
    .color{
       color:blueviolet
     
    }
    input[type=range]{

-webkit-appearance: none;

}



input[type=range]::-webkit-slider-runnable-track {

width: 300px;

height: 5px;

background: #ddd;

border: none;

border-radius: 3px;

}



input[type=range]::-webkit-slider-thumb {

-webkit-appearance: none;

border: none;

height: 16px;

width: 16px;

border-radius: 50%;

background: #7879F1;

margin-top: -4px;

}



input[type=range]:focus {

outline: none;

}



input[type=range]:focus::-webkit-slider-runnable-track {

background: #ccc;

}
</style>

