<template>
  <div @click="toggleModal">
    <slot></slot>
  </div>
  <transition-group @click="toggleModal">
    <div class="modal fade" :class="{ modalActivate: active }" tabindex="-1" role="dialog">
      <div class="modal-dialog" :class="modalSize">
        <div :class="modalClasses">
          <div :class="titleSpot"  class=" w-100 d-flex flex-row justify-content-end">
            <div class="w-100  d-flex flex-row justify-content-between">
              <p class="w-100"><slot v-if="title" name="title"></slot></p>
              <div class=" w-100 d-flex flex-row-reverse"><ib-icon addType="icons" icon="close" class="cursor" @click="toggleModal"  /></div>
            </div>
        </div>
          <slot name="modalContainer"></slot>
            <div v-if="mainText" class="modal-body mainText">
              <slot name="main-text"></slot>
            </div>
            <div v-if="description" class="modal-body description">
              <slot name="description"></slot>
            </div>
            <div v-if="showFooter" class="modal-footer" :class="{ row, column: columnButton, 'd-flex justify-content-between': row || columnButton }">
              <div v-if="row" class="col-6 button-cancel" @click="toggleModal">
                <slot name="first-button"></slot>
              </div>
              <div v-if="row" class="col-6">
                <slot name="second-button"></slot>
              </div>
              <div v-if="columnButton" class="column-button">
                <slot name="first-column"></slot>
              </div>
              <div v-if="columnButton" @click="toggleModal">
                <slot name="second-column"></slot>
              </div>
              <div v-if="singleButton">
                <slot name="single-button"></slot>
              </div>
            </div>
        </div>
      </div>
    </div>
  </transition-group>
  <div v-if="active" class="modal-backdrop fade show"></div>
</template>

<script>
export default {
  name: 'ib-modal',
  props: {
    containerClass: String,
    classAdd: String,
    iconleft: String,
    row: Boolean,
    columnButton: Boolean,
    title: Boolean,
    mainText: Boolean,
    description: Boolean,
    singleButton: Boolean,
    size: String,
  },
  data() {
    return {
      active: false,
      titleSpot: this.title ? 'modal-header' : '',
      modalSize: this.size ?? '',
      modalClasses: {
        'modal-content': true,
        [this.classAdd]: !!this.classAdd
      }
    };
  },
  computed: {
    showFooter() {
      return this.row || this.columnButton || this.singleButton;
    }
  },
  methods: {
    toggleModal() {
      this.active = !this.active;
      const body = document.querySelector('body');
      this.active ? body.classList.add('modal-open') : body.classList.remove('modal-open');
    }
  }
};
</script>

<style lang="scss" scoped>
.modalActivate {
  .modal-dialog {
    transform: translate(0, -10px) !important;
  }

  .modal.fade & {
    transition: opacity 0.15s linear !important;
  }

  opacity: 1 !important;
  display: block !important;
  list-style: none;
  visibility: visible;
}
</style>
