<template>
    <div>
      <div class="selector">
        <input type="text" id="search" v-model="searchTerm" placeholder="Type here..." class="inputAutoComplete">
        <ul
          v-if="searchCountries.length"
          class="w-full rounded bg-white border border-gray-300 px-4 py-2 space-y-1 absolute z-10"
        >
          <li class="pb-2">
            Showing {{ searchCountries.length }} of {{ countries.length }} results
          </li>
          <li
              v-for="country in searchCountries"
              :key="country.name"
              @click="selectCountry(country.name)"
              class="p-1"
          >
            {{ country.name }}
          </li>
        </ul>
  
        
        <p
          v-if="selectedCountry"
          class="pt-2"
        >
          You have selected: <span class="selected-country">{{ selectedCountry }}</span>
        </p>
      </div>
    </div>
  </template>
  
  <script>
  import countries from './countries.json'
  import {ref, computed} from 'vue'
  export default {
    setup(props) {
      let searchTerm = ref(props.inputSearch)


    //   context.listeners.$on('filter', value => {
    //   searchTerm.value = value;
    // });

      const searchCountries = computed(() => {
        if (searchTerm.value === '') {
          return []
        }
        let matches = 0
        return countries.filter(country => {
          if (country.name.toLowerCase().includes(searchTerm.value.toLowerCase()) && matches < 10) {
            matches++
            return country
          }
        })
      });
      const selectCountry = (country) => {
        selectedCountry.value = country
        searchTerm.value = ''
      }
      let selectedCountry = ref('')
      return {
        countries,
        searchTerm,
        searchCountries,
        selectCountry,
        selectedCountry
      }
    },

    props: {
      inputSearch : {
        type: String,
      } 
    }
  }
  </script>

  <style scoped lang="scss">
  
  .selector{
    border:none;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    gap:10px;
   
    .pb-2{
        font-weight:500;
    }
    .p-1{
        cursor:pointer;
    }

    .selected-country{
      font-weight:500;
    }
    .inputAutoComplete{
      border: 1px solid #aaa;
      border-radius:13px;
      text-align:start;
      height:40px;
      width:100%;
      padding:20px;
    }
  }
 
    
  </style>