<template>
  <nav class="navbar-container navbar-light">
      <div class="navbar-show">
        <button class="navbar-button-sidebar" type="button" @click="switchMenu">
          <a class="hamburger hamburger-spin"  :class="hamburguer">
            <div class="hamburger-box">
              <div class="hamburger-inner"></div>
            </div>
          </a>
        </button>
        <div class="sidebar-search" :class="{'hide-searcher':!open}" >
        </div>
      </div>
      <div v-if="icons" class="navbar-show">
          <div class="navbar-nav">
            <div class="pe-4">
              <a class="nav-link" @click="showMessages">
                <div  class="ms-3" v-for="numbers  in messages.count_messages" :key="numbers">
                  <ib-badge type="danger" :notificationBadge="numbers"/>
                </div>
                <ib-icon addType="icons-outlined" icon="email" ></ib-icon>
              </a>
              <div class="navbar-notifications" :class="{'hidden':!activeMessages}">
                <span class="label">Mensajes</span>
                <ul class="notification-list">
                  <li  v-for="({id, iconvue, asunto, origen, url }) in messages.mensajes" :key="id" :id="id" class="dropdown-options">
                    <ib-icon addType="icons-outlined" class="notification-icon" :icon="iconvue"/>
                    <a class="notification-container" :href="url">
                      <!--                      <img :src="img" class="navbar-img">-->
                      <div class="notification-container">
                        <p  class="title-notification">{{ asunto }}</p>
                        <p class="body-notification">{{ origen}}</p>
                      </div>
                    </a>
                  </li>
                </ul>
                <div class="notification-buttons">
                  <a :href="Urls.url_marcar_mensajes_leidos">Marcar como leído</a>
                  <a :href="messagesUrl">Ver todos</a>
                </div>
              </div>
            </div>
            <!--Notifications-->
            <li class="pe-4">
              <a class="nav-link" @click="showNotifications">
                <div  class="ms-3" v-for="numbers  in notifications.count_notifications" :key="numbers">
                  <ib-badge type="danger" :notificationBadge="numbers"/>
                </div>
                <ib-icon addType="icons-outlined" icon="notifications"></ib-icon>
              </a>
              <div class="navbar-notifications" :class="{'hidden':!activeNotifications}">
                <span class="label">Notificaciones</span>
                <ul class="notification-list">
                  <li  v-for="({id, origen, asunto, iconvue, url}) in notifications.notificacion" :key="id" :id="id"  class="dropdown-options">
                    <ib-icon addType="icons-outlined" class="notification-icon" :icon="iconvue"/>
                    <a class="notification-container" :href="url">
                      <div class="notification-container">
                        <a class="title-notification">{{ asunto }}</a>
                        <a class="body-notification">{{ origen}}</a>
                      </div>
                    </a>
                  </li>
                </ul>
                <div class="notification-buttons">
                  <a v-if="Urls.url_marcar_notifications_leidos" :href="Urls.url_marcar_notifications_leidos">Marcar como leído</a>
                  <a :href="notificationUrl">Registro de eventos</a>
                </div>
              </div>
            </li>
            <!--ShoppingCart-->
<!--            <li class="pe-2">-->
<!--              <a class="nav-link" @click="showCart">-->
<!--                <div  class="ms-3" v-for="numbers  in notifications.count_notifications" :key="numbers">-->
<!--                  &lt;!&ndash;<ib-badge type="danger" :notificationBadge="numbers"/>&ndash;&gt;-->
<!--                </div>-->
<!--&lt;!&ndash;                <ib-icon v-if="shoppingCart" addType="icons-outlined" icon="shopping_cart"></ib-icon>&ndash;&gt;-->
<!--              </a>-->
<!--              <div class="navbar-notifications" :class="{'hidden':!activeCart}">-->
<!--                <span class="label">Notificaciones</span>-->
<!--                <ul class="notification-list">-->
<!--                  <li  v-for="({id, origen, asunto, iconvue, url}) in notifications.notificacion" :key="id" :id="id"  class="dropdown-options">-->
<!--                    <ib-icon addType="icons-outlined" class="notification-icon" :icon="iconvue"/>-->
<!--                    <a class="notification-container" :href="url">-->
<!--                      <div class="notification-container">-->
<!--                        <a class="title-notification">{{ asunto }}</a>-->
<!--                        <a class="body-notification">{{ origen}}</a>-->
<!--                      </div>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                </ul>-->
<!--                <div class="notification-buttons">-->
<!--                  <a :href="Urls.url_marcar_notifications_leidos">Marcar como leído</a>-->
<!--                  <a :href="notificationUrl">Registro de eventos</a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </li>-->
            <!--
            <li class="nav-item ">
              <div class="timer">{{dateTime.day}}-{{dateTime.month}}-{{dateTime.year}}<br/>{{ dateTime.hours }} : {{ dateTime.minutes }} : {{ dateTime.seconds }}</div>
            </li>
            -->
          </div>

        <div class="user-img" >
          <a class="navbar-brand" @click="showUser">
            <ib-button type="btn button-img" sizeImg="48px"   image="image" src="https://testpaisransa.itbid.org/bundles/administracion/img/placeholder-user.png"></ib-button>
<!--            <img alt="" v-if="image" :src="image" class="navbar-img" >-->
          </a>
          <div class="navbar-notifications" :class="{'hidden':!activeUser}">
            <div class="profile-title-img"></div>
            <svg class="profile-svg-main-logo" width="27" height="32" viewBox="0 0 27 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.5074 21.3145L5.24407 27.755C4.52542 28.4939 4.52542 29.6917 5.24407 30.4304C5.6033 30.7998 6.07401 30.9846 6.54491 30.9846C7.01581 30.9846 7.48656 30.7998 7.84576 30.4304L14.1091 23.99C14.8278 23.251 14.8278 22.0535 14.1091 21.3145C13.7499 20.9451 13.2792 20.7605 12.8083 20.7605C12.3374 20.7605 11.8667 20.9451 11.5074 21.3145Z" fill="url(#paint0_linear_4171_258523)"/>
              <path d="M19.0863 31C18.6154 31 18.1448 30.8154 17.7855 30.4458L11.5072 23.9901C10.7886 23.2511 10.7886 22.0535 11.5072 21.3146C12.2257 20.5758 13.3905 20.5758 14.1089 21.3146L20.3874 27.7706C21.1058 28.5093 21.1058 29.707 20.3874 30.4458C20.028 30.8154 19.5572 31 19.0863 31Z" fill="#0EBEE1"/>
              <path d="M15.4191 17.2983C14.7005 18.0373 14.7005 19.235 15.4191 19.9738L21.6748 26.4064C22.034 26.7757 22.5047 26.9603 22.9756 26.9603C23.4463 26.9603 23.9172 26.7757 24.2767 26.4064C24.9951 25.6674 24.9951 24.4696 24.2767 23.7309L18.0208 17.2983C17.6616 16.929 17.1909 16.7441 16.72 16.7441C16.2491 16.7441 15.7784 16.929 15.4191 17.2983Z" fill="url(#paint1_linear_4171_258523)"/>
              <path d="M16.72 20.5279C16.2491 20.5279 15.7784 20.3431 15.4191 19.9737C14.7005 19.2349 14.7005 18.0372 15.4191 17.2984L21.7049 10.8348C22.4234 10.0961 23.5882 10.0961 24.3066 10.8348C25.0251 11.5736 25.0251 12.7713 24.3066 13.5101L18.021 19.9737C17.6616 20.3431 17.1909 20.5279 16.72 20.5279Z" fill="#FC3D67"/>
              <path d="M23.8592 0.553991L11.5217 13.2405C10.8033 13.9794 10.8033 15.177 11.5217 15.9158C11.8808 16.2852 12.3519 16.47 12.8228 16.47C13.2935 16.47 13.7644 16.2852 14.1234 15.9158L26.4611 3.22947C27.1796 2.49068 27.1796 1.29296 26.4611 0.553991C26.1017 0.184597 25.631 0 25.1601 0C24.6893 0 24.2184 0.184597 23.8592 0.553991Z" fill="url(#paint2_linear_4171_258523)"/>
              <path d="M12.8232 16.47C12.3523 16.47 11.8816 16.2852 11.5223 15.9158L5.24407 9.46001C4.52542 8.72104 4.52542 7.52355 5.24407 6.78458C5.96251 6.04576 7.12731 6.04576 7.84576 6.78458L14.1242 13.2405C14.8427 13.9793 14.8427 15.177 14.1242 15.9158C13.7648 16.2852 13.2941 16.47 12.8232 16.47Z" fill="#32D258"/>
              <path d="M1.26652 10.835C0.547878 11.5737 0.547878 12.7714 1.26652 13.5102L7.52199 19.9428C8.24064 20.6817 9.40524 20.6817 10.1239 19.9428C10.8423 19.2038 10.8423 18.0061 10.1239 17.2673L3.86824 10.835C3.509 10.4653 3.0381 10.2808 2.56738 10.2808C2.09648 10.2808 1.62558 10.4653 1.26652 10.835Z" fill="url(#paint3_linear_4171_258523)"/>
              <path d="M8.82301 16.7131C9.29391 16.7131 9.76481 16.8979 10.1241 17.2673C10.8425 18.0061 10.8425 19.2038 10.1241 19.9426L3.83825 26.4064C3.1196 27.1451 1.95483 27.1451 1.23636 26.4064C0.517893 25.6674 0.517893 24.4696 1.23636 23.7309L7.52216 17.2673C7.88141 16.8979 8.35211 16.7131 8.82301 16.7131Z" fill="#FCB103"/>
              <defs>
                <linearGradient id="paint0_linear_4171_258523" x1="4.70508" y1="25.8725" x2="14.6481" y2="25.8725" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#0EBEE1"/>
                  <stop offset="1" stop-color="#1AD4E1"/>
                </linearGradient>
                <linearGradient id="paint1_linear_4171_258523" x1="14.8802" y1="21.8523" x2="24.8154" y2="21.8523" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#FF607F"/>
                  <stop offset="1" stop-color="#FC3D67"/>
                </linearGradient>
                <linearGradient id="paint2_linear_4171_258523" x1="10.9828" y1="8.23498" x2="27" y2="8.23498" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#B1E250"/>
                  <stop offset="1" stop-color="#32D258"/>
                </linearGradient>
                <linearGradient id="paint3_linear_4171_258523" x1="10.6628" y1="15.3887" x2="0.727575" y2="15.3887" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#F5DE00"/>
                  <stop offset="1" stop-color="#FCB103"/>
                </linearGradient>
              </defs>
            </svg>
            <ib-button type="btn button-img profile-image-icon" sizeImg="96px"    image="image" src="https://testpaisransa.itbid.org/bundles/administracion/img/placeholder-user.png"></ib-button>
            <div class="profile-title" >
              <a v-for="profileName  in profile.nombre" :key="profileName">{{ profileName }}</a>
            </div>
            <hr class="semi-separator">
            <div class="profile-container">
              <div class="profile-menu">
                <ib-icon addType="icons-outlined" class="icons-notifications" icon="person"/>
                <a class="profile-menu" :href="Urls.url_miperfil">Mi Perfil</a>
              </div>
              <div class="profile-menu pt-3 pb-3">
                <ib-icon addType="icons-outlined" class="icons-notifications" icon="language"/>
                <a class="profile-menu" >Idioma</a>
                <div class="profile-menu-options">
                  <a :href="route" v-for="({  label, route }) in profile.idiomas" :key="label" >
                    <li>{{ label }}</li>
                  </a>
                </div>
                <ib-icon addType="icons-outlined" class="icons-notifications-menu" icon="arrow_forward_ios"/>
              </div>
              <a :href="comunicadosAceptado" class="profile-menu"><ib-icon addType="icons-outlined" class="icons-notifications" icon="content_paste"/>Comunicados aceptados</a>
            </div>
            <hr class="separator">
            <a :href="logOutUrl" class="profile-link">
              <ib-icon addType="icons-outlined" class="me-3" icon="logout"/>
              Cerrar sesión
            </a>
          </div>
        </div>
      </div>
  </nav>
</template>

<script>
const date = new Date();

export default {
  name:"ibNavbar2",
  props:{
    hamburguer:String,
    welcomeLabel:String,
    icons: String,
    image: String,
    logo: String,
    notificationUrl:String,
    messagesUrl:String,
    logOutUrl:String,
    comunicadosAceptado:String,
    messages:Object,
    profile:String,
    Urls:String,
    notifications:Object,
  },
  data() {
    return {

      appLogo: this.logo != '' ? this.logo : './logo-itbid.png',
      activeNotifications:false,
      activeMessages:false,
      activeCart:false,
      activeUser:false,
      dateTime: {
        day: ('0' + date.getDate()).slice(-2),
        month: ('0' + (date.getMonth() + 1)).slice(-2),
        year: date.getFullYear(),
        hours: ('0'+date.getHours()).slice(-2),
        minutes: ('0'+date.getMinutes()).slice(-2),
        seconds: ('0'+date.getSeconds()).slice(-2),
      },
      timer: undefined,
    };
  },
  beforeMount() {
    this.timer = setInterval(this.setDateTime, 1000);
  },
  beforeUnmount() {
    clearInterval(this.timer);
  },
  methods: {
    setDateTime() {
      const date = new Date();
      this.dateTime = {
        day: ('0' + date.getDate()).slice(-2),
        month: ('0' + (date.getMonth() + 1)).slice(-2),
        year: date.getFullYear(),
        hours: ('0'+date.getHours()).slice(-2),
        minutes: ('0'+date.getMinutes()).slice(-2),
        seconds: ('0'+date.getSeconds()).slice(-2),
      };
    },
    switchMenu(){
      this.activeMessages=false
      this.activeNotifications=false
      this.activeUser=false
      this.activeCart=false
      this.$emit("toggleMenu")
      // this.BaseLayout.methods.toggleMenu()
    },
    showNotifications(){
      this.activeNotifications=!this.activeNotifications
      this.activeMessages=false
      this.activeUser=false
      this.activeCart=false
    },
    showMessages(){
      this.activeCart=false
      this.activeUser=false
      this.activeNotifications=false
      this.activeMessages=!this.activeMessages
    },
    showCart(){
      this.activeMessages=false
      this.activeUser=false
      this.activeNotifications=false
      this.activeCart=!this.activeCart
    },
    showUser(){
      this.activeMessages=false
      this.activeNotifications=false
      this.activeCart=false
      this.activeUser=!this.activeUser
    },
    filterSearch(){
      if (this.message==='' || this.message===null){
        for (let i in this.menuvalue){
          this.menuvalue[i].cond=null
        }
        return
      }
      for (let i in this.menu){
        let submenu = this.menu[i].submenu
        let visibles = 0
        for (let j in submenu){
          if (submenu[j].label.toLowerCase().indexOf(this.message.toLowerCase())!==-1){
            submenu[j].cond=true
            visibles++
          } else {
            submenu[j].cond=false
          }
        }
        if (visibles>0){
          this.menuvalue[i].cond=true
        } else {
          this.menuvalue[i].cond=false
        }
      }
      // console.log("holaa")
    }

  }
}

</script>

<style lang="scss" scoped>
/*@import "assets/js/components/scss/navbar4";*/

.navbar-prov{
  box-shadow: none;
}

</style>