<template>
    <div class="tab">
      <div  class="listTab" :class="tabClass">
        <div>
          <button
            v-for="tabName in tabComponents"
            :key="tabName"
            :class="['tab-button', { active: currentTab === tabName }]"
            @click="currentTab = tabName"
          >
            {{ tabName.name }}
          </button>
        </div>
        <div v-if="settingsUrl" class="settingsIcon"><a :href="settingsUrl"><ib-icon addType="icons-outlined" icon="settings"></ib-icon></a></div>
      </div>
      <div class="optionalSlot">
        <slot name="filter"></slot>
      </div>
      <div :class="contentTabClass">
        <component :is="currentTab"></component>
      </div>
    </div>
</template>
  
<script>

export default {
  props:{
    contentTabClass:String,
    tabClass:String,
    tabComponents: Array,
    settingsUrl:String,
  },

  computed:{
    },
    name: 'ib-tab',
    data() {
      return {
        currentTab: this.tabComponents[0]
      }
    }
}
  </script>
