<template>
  <span :class="style" :addType="addType" role="icon" :style="colors">{{ icon }}</span>
</template>

<script>
export default {
  name: 'ibIcon',
  props: {
    type: String,
    icon: String,
    color:String,
    addType:String
  },
  data() {
    let defaultType = ''

    if (this.addType != undefined) {
      defaultType = this.addType
    }


    const type = (typeof this.type == 'undefined') ? 'material-' : this.type
    return {
      colors: "color:" + this.color,
      style: type + defaultType
    }
  }
}
</script>

<style>
/* fallback */
@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url('../../scss/fonts/Icons/material-design-icons-outlined.woff2') format('woff2');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/s/materialicons/v117/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
}

.material-icons-outlined {
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1.5rem !important;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  padding: 0px;
  margin: 0px;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1.5rem !important;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  padding: 0px;
  margin: 0px;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.icon-small{
  font-size: 16px;
}
.icon-mid{
  font-size: 24px;
}
.icon-large{
  font-size: 32px;
}
.icon-extraLarge{
  font-size: 48px;
}

</style>