<template>
  <div class="dropzone">
    <div @dragenter.prevent="toggleActive" @dragleave.prevent="toggleActive" @dragover.prevent @drop.prevent="toggleActive" :class="{ 'active-dropzone': active }" class="in-dropzone">
      <div class="dropzone-container">
        <ib-icon addType="icons-outlined" class="upload icon-extraLarge" icon="cloud_upload"/>
        <span>Arrastre su archivo aquí o</span>
        <label for="dropzoneFile"> seleccione archivo desde ordenador</label>
        <input :type="type" :accept="accept"  id="dropzoneFile" @change="dropChange" class="dropzoneFile"/>
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
export default {
  name:'ibDropzone',
  props:{
    dropChange:Object,
  },
  /// Drag&Drop event ///
  setup() {
    const active = ref(false);
    const toggleActive = () => {
      active.value = !active.value;
    };
    return { active, toggleActive };
  },
}
</script>

