<template>
  <ul class="pagination-new">
    <li class="pagination-item" v-if="first">
      <button
        class="pagination-button"
        type="button"
        @click="goToPage(1)"
        :disabled="isInFirstPage"
      >
        First
      </button>
    </li>

    <li class="pagination-item">
      <button
        class="pagination-button pagination-prev-buttons"
        type="button"
        @click="goToPage(currentPage - 1)"
        :disabled="isInFirstPage"
      >
        <ib-icon
          class="pagination-icon"
          addType="icons-outlined"
          icon="chevron_left"
        ></ib-icon>
      </button>
    </li>

    <li
      v-for="page in visiblePages"
      :key="page.name"
      class="pagination-item"
    >
      <button
        class="pagination-button"
        type="button"
        @click="goToPage(page.name)"
        :style="isPageActive(page.name) ? activePageStyle : ''"
      >
        {{ page.name }}
      </button>
    </li>

    <li class="pagination-item">
      <button
        class="pagination-button"
        type="button"
        @click="goToPage(currentPage + 1)"
        :disabled="isInLastPage"
      >
        <ib-icon
          class="pagination-icon"
          addType="icons-outlined"
          icon="navigate_next"
        ></ib-icon>
      </button>
    </li>

    <li class="pagination-item" v-if="last">
      <button
        class="pagination-button"
        type="button"
        @click="goToPage(totalPages)"
        :disabled="isInLastPage"
      >
        Last
      </button>
    </li>
  </ul>
</template>

<script>
export default {
  name: "ibPagination",
  props: {
    last: String,
    first: String,
    maxVisibleButtons: {
      type: Number,
      required: false,
      default: 3
    },
    totalPages: {
      type: Number,
      required: true
    },
    perPage: {
      type: Number,
      required: true
    },
    currentPage: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      activePageStyle: {
        backgroundColor: "#0D438B", 
        color: "#fff" 
      }
    };
  },
  computed: {
    visiblePages() {
      const start = Math.max(
        1,
        this.currentPage - Math.floor(this.maxVisibleButtons / 2)
      );
      const end = Math.min(
        this.totalPages,
        start + this.maxVisibleButtons - 1
      );

      const range = [];
      for (let i = start; i <= end; i++) {
        range.push({
          name: i,
          isDisabled: i === this.currentPage
        });
      }

      return range;
    },
    isInFirstPage() {
      return this.currentPage === 1;
    },
    isInLastPage() {
      return this.currentPage === this.totalPages;
    }
  },
  methods: {
    goToPage(page) {
      if (page !== this.currentPage) {
        this.$emit("pagechanged", page);
      }
    },
    isPageActive(page) {
      return this.currentPage === page;
    }
  }
};
</script>
