
.custom-select-master {
  position: relative;
}
.custom-select .items {
  position: relative;
  background-color: white;
  font-weight: 500;
  left: 0;
  right: 0;
  z-index: 1;
  margin-top: 0;
  width: 100%;
  color: #495057;
  cursor: pointer;
  user-select: none;
  &:hover {
    background-color: #F9F9F9;
  }
  &:last-child {
    border-bottom: none;
    border-radius: 0px 0px 6px 6px;
    .separator{
      display: none !important;
    }
  }
}
.invalid-feedback{
  text-align: left;
}
.bg-white{
  border: 1px solid $gray-300 !important;
  &.button {
    background-color: white !important;
  }
}
.error{
  border: solid 1px red !important;
}
.bg-transparent{
  background-color: transparent !important;
  .select-label{
    padding: 0 16px 0 16px;
    }
  }
  .bg-transparent-white{
    border: 1px solid white !important;
    background-color: transparent !important;
    .select-labelSelected{
      color: white !important;
      &:hover{
        color: $gray-500 !important ;
      }
    }
    .select-label{
      color: white !important;
      }
    }
.bg-transparent-indigo{
  background-color: transparent !important;
  padding: 0!important;
  .select-labelSelected{
    color: #7879F1 !important;
    &:hover{
      color: $gray-500 !important ;
    }
  }
  .select-label{
    padding: 0 16px 0 16px;
    color: #7879F1 !important;
  }
}
.bg-indigo{
    background-color: rgba(120, 121, 241, 0.15) !important;
    .select-label{
      color: $indigo-200;
    }
  }


//
/// Elemento seleccionado
//
.custom-select .selected {
  .material-icons-outlined{
    font-size: 24px;
  }
  font-family: Roboto, sans-serif;
  background-color:rgba(235, 237, 241, 1);
  font-weight: 500;
  width: 100%;
  border-radius: 6px;
  border: 1px solid transparent;
  color: $gray-600;
  cursor: pointer;
  user-select: none;
}
.inputSearch{
  position: absolute;
  z-index: 99;
}
.custom-select {
  overflow: visible;
  width: 100%;
  outline: none;
  line-height: 40px;
  display: inline-block;
  flex-direction: row;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  .select-label{
    display: flex;
    padding: 0 16px 0 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: inherit;
    justify-content: space-between;
    .select-labelSelected{
      white-space: nowrap;
      text-overflow: ellipsis;
      width: auto;
      overflow: hidden;
    }
  }

  &:focus-visible{
    border: solid 1px $primary !important;
    outline: none !important;
  }
  .textFloating{
    animation: itemText 3s infinite alternate ease-in-out;
  }
  span.label-category, .item-label {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
  }
  .material-icons-outlined {
    display: inline-block;
    justify-content: right;
    font-size: 18px;
  }
}
//
/// Tamaños De Select
//
.select-lg{
  .items-container{
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 144px;
  }
  .arrow{
    font-size: 24px !important;
    margin-top: 12px;
  }
  line-height: 48px !important;
  font-size: 16px !important;
}

.select-md{
  .items-container{
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 120px;
  }
  .item-label{
    max-height: 40px;
    padding: 4px 14px 4px 16px;
  }
  .arrow{
    font-size: 18px !important;
  }
  line-height: 40px !important;
  font-size: 16px !important;
}
.select-sm{
  .items-container{
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 96px;
  }

  .item-label{
    max-height: 32px;
    padding: 1px 14px 1px 16px;
  }
  .arrow{
    margin-top: 4px !important;
    font-size: 18px !important;
  }
  line-height: 32px !important;
  font-size: 14px !important;
}
//
/// Flecha y animación del select
//
.arrow {
  line-height: 40px;
  width: 24px;
  margin-top: 8px;
  height: 24px;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.arrow.down {
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}


//
///casillas del Select
//
@keyframes itemText {
  0%,
  20% {
    transform: translateX(0%);
    left: 0%;
  }
  80%,
  100% {
    transform: translateX(-100%);
    left: 100%;
  }
}
.item-label {
  display: flex;
  line-height: 32px !important;
  padding: 8px 16px 8px 16px ;
  .item-label-text.icon-fix {
    width: auto;
    padding-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


.item-icon{
  line-height: unset !important;
  .material-icons-outlined{
    font-size: 16px;
  }
}
.custom-select .selected.open {
  border: 1px solid transparent;
  border-radius: 6px 6px 0px 0px;
}
.custom-select .selected:after {
  position: fixed;
  border: 5px solid transparent;
  border-color: black transparent transparent transparent;
}
.items-container{
  border-radius: 4px;
  box-shadow: 0 1px 15px rgba(16, 30, 115, 0.15);
}
.custom-select .items-container {
  position: absolute;
  width: 100%;
  z-index: 99;
  overflow:hidden;
  overflow-y: scroll;
  background-color: white;
}

//
/// Separador entre elementos del select
//
.separator{
  opacity: 1;
  color: $gray-300;
  height: 1px !important;
  margin-top: 0 !important ;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 0!important ;
}
.select-dropdown{
  position: absolute;
  width: 100%;
  z-index: 900;
}
.selectHide {
  display: none;
}
