//
// Diferentes Tipos de  Checks/radio/Switch
//


.dayNight{
  .form-check-input{
    background-color: #c2e9f6 !important;
    border: 2px solid #72cce3;
    background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' viewBox='-2 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 18.2962C15.4773 18.2962 18.2963 15.4773 18.2963 12C18.2963 8.52261 15.4773 5.70367 12 5.70367C8.52264 5.70367 5.7037 8.52261 5.7037 12C5.7037 15.4773 8.52264 18.2962 12 18.2962Z' fill='%23fffaa8'/%3E%3Cpath d='M12 4.40737C12.3704 4.40737 12.7407 4.1296 12.7407 3.66663V2.74071C12.7407 2.37034 12.463 1.99997 12 1.99997C11.537 1.99997 11.2592 2.37034 11.2592 2.74071V3.66663C11.2592 4.037 11.6296 4.40737 12 4.40737Z' fill='%23f5eb71'/%3E%3Cpath d='M12 19.5925C11.6296 19.5925 11.2592 19.8703 11.2592 20.3333V21.2592C11.2592 21.6296 11.537 21.9999 12 21.9999C12.463 21.9999 12.7407 21.7222 12.7407 21.2592V20.3333C12.7407 19.9629 12.3704 19.5925 12 19.5925Z' fill='%23f5eb71'/%3E%3Cpath d='M21.2592 11.2592H20.3333C19.9629 11.2592 19.5926 11.537 19.5926 12C19.5926 12.4629 19.8703 12.7407 20.3333 12.7407H21.2592C21.6296 12.7407 22 12.4629 22 12C22 11.537 21.6296 11.2592 21.2592 11.2592Z' fill='%23f5eb71'/%3E%3Cpath d='M3.66666 11.2592H2.74074C2.37037 11.2592 2 11.537 2 12C2 12.4629 2.27778 12.7407 2.74074 12.7407H3.66666C4.03703 12.7407 4.4074 12.4629 4.4074 12C4.4074 11.537 4.03703 11.2592 3.66666 11.2592Z' fill='%23f5eb71'/%3E%3Cpath d='M18.0185 4.96302L17.3704 5.61117C17.0926 5.88894 17.0926 6.35191 17.3704 6.62968C17.4629 6.72228 17.6481 6.81487 17.8333 6.81487C18.0185 6.81487 18.2037 6.72228 18.2963 6.62968L18.9444 5.98154C19.2222 5.70376 19.2222 5.2408 18.9444 4.96302C18.6667 4.68524 18.2963 4.68524 18.0185 4.96302Z' fill='%23f5eb71'/%3E%3Cpath d='M5.61108 17.3703L4.96294 18.0185C4.68516 18.2962 4.68516 18.7592 4.96294 19.037C5.05553 19.1296 5.24071 19.2222 5.4259 19.2222C5.61108 19.2222 5.79627 19.1296 5.88886 19.037L6.53701 18.3888C6.81479 18.1111 6.81479 17.6481 6.53701 17.3703C6.35182 17.0925 5.88886 17.0925 5.61108 17.3703Z' fill='%23f5eb71'/%3E%3Cpath d='M18.3889 17.3703C18.1111 17.0925 17.6481 17.0925 17.3704 17.3703C17.0926 17.6481 17.0926 18.1111 17.3704 18.3888L18.0185 19.037C18.1111 19.1296 18.2963 19.2222 18.4815 19.2222C18.6666 19.2222 18.8518 19.1296 18.9444 19.037C19.2222 18.7592 19.2222 18.2962 18.9444 18.0185L18.3889 17.3703Z' fill='%23f5eb71'/%3E%3Cpath d='M5.61108 6.62968C5.70368 6.72228 5.88886 6.81487 6.07405 6.81487C6.25923 6.81487 6.44442 6.72228 6.6296 6.62968C6.90738 6.35191 6.90738 5.88894 6.6296 5.61117L5.98145 4.96302C5.70368 4.68524 5.24071 4.68524 4.96294 4.96302C4.68516 5.2408 4.68516 5.70376 4.96294 5.98154L5.61108 6.62968Z' fill='%23f5eb71'/%3E%3C/svg%3E") !important;
    &:checked {
      background-color: #808fc7 !important;
      background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 11.9486C21 16.8857 16.8776 21 11.7247 21C7.80842 21 4.40746 18.84 3.06769 15.5486C2.96464 15.24 2.96464 14.9314 3.17075 14.7257C3.37687 14.52 3.68605 14.4171 3.99523 14.52C4.51052 14.6229 5.02582 14.7257 5.43806 14.7257C9.56043 14.7257 12.8583 11.5371 12.8583 7.52571C12.8583 6.29143 12.6522 5.26286 12.0338 4.02857C11.9308 3.82286 11.9308 3.51429 12.1369 3.30857C12.343 3.10286 12.5491 3 12.8583 3C17.496 3.51429 21 7.42286 21 11.9486Z' fill='%23FFFFFF'/%3E%3C/svg%3E%0A") !important;
    }
  }
}

.filterTheme{
  .form-check-input{
    color: white !important;
    &:checked {
      background-color: $gray-600 !important;
      border-color: $gray-600 !important;
    }
  }
}
.darkTheme{
  .form-check-input{
    background-color: white;
    color: black !important;
    &:checked {
      background-color: $form-check-input-checked-bg-color !important;
      border-color: $form-check-input-checked-border-color !important;
    }
  }
}
.subDefaultTheme{
  .form-check-input{
    color: white !important;
    &:checked {
      background-color: $blue-100 !important;
      border-color: $form-check-input-checked-border-color !important;
    }
  }
}

.bordedDarkTheme{
  .form-check-input{
    border: 1px solid $gray-300;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: white;
    color: black !important;
    &:checked {
      border: 1px solid $gray-300;
      box-sizing: border-box;
        label {
          font-weight: 500 !important;
        }
      }
    }
  }

//
// Tamaño Small Check/radio/switch
//
.check-sm{
  display: block;
  font-size: 12px;
  &.form-switch {
    .form-check-input[type="checkbox"]{
      width: 32px !important;
    }
  }
  .form-check-input{
    width: 16px;
    height: 16px !important;
  }
  .form-check-img{
    margin-left: 8px !important;
    vertical-align: top;
    width: 16px;
    height: 16px;
  }
  a{
    vertical-align: top;
    font-size: 12px !important;
  }
}
//
// Estilo Base Check/radio/Switch con Imagen
//
.form-check-img{
  margin-left: 16px !important;
  vertical-align: top;
  height: 24px;
  width: 24px;
  border-radius: 18px;
  vertical-align: 1;
    &[type="checkbox"]:checked + a {
      font-weight: 900 !important;
    }
}

//
// Estilo Base Check/radio
//
.form-check {
  display: block;
  min-height: $form-check-min-height;
  padding-left: $form-check-padding-start;
  margin-bottom: $form-check-margin-bottom;
  .form-check-input {
    margin-left: $form-check-padding-start * -1;
  }
}
.form-check-text{
  padding-left: 8px;
}

.form-check-input {
  width: $form-check-input-width;
  height: $form-check-input-width;
  margin-top: ($line-height-base - $form-check-input-width) * .5; // line-height minus check height
  vertical-align: top;
  background-color: $form-check-input-bg;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  appearance: none;
  print-color-adjust: exact; // Keep themed appearance for print
  @include transition($form-check-transition);

  &[type="checkbox"] {
    @include border-radius($form-check-input-border-radius);
  }
  &[type="radio"] {
    // stylelint-disable-next-line property-disallowed-list
    border-radius: $form-check-radio-border-radius;
  }

  &:active {
    filter: $form-check-input-active-filter;
  }

  //&:focus {
  //  border-color: $form-check-input-focus-border;
  //  outline: 0;
  //  box-shadow: $form-check-input-focus-box-shadow;
  //}

  &:checked {
    background-color: $form-check-input-checked-bg-color;
    border-color: $form-check-input-checked-border-color;

    &[type="checkbox"]:checked + a  {
      font-weight: 500;

    }

    &[type="radio"]:checked + a {
      font-weight: 500;
    }

    &[type="checkbox"] {
      @if $enable-gradients {
        background-image: escape-svg($form-check-input-checked-bg-image), var(--#{$variable-prefix}gradient);
      } @else {
        background-image: escape-svg($form-check-input-checked-bg-image);
      }
    }

    &[type="radio"] {
      @if $enable-gradients {
        background-image: escape-svg($form-check-input-checked-bg-image), var(--#{$variable-prefix}gradient);
      } @else {
        background-image: escape-svg($form-check-input-checked-bg-image);
      }
    }
  }

  &[type="checkbox"]:indeterminate {
    background-color: $form-check-input-indeterminate-bg-color;
    border-color: $form-check-input-indeterminate-border-color;
    @if $enable-gradients {
      background-image: escape-svg($form-check-input-indeterminate-bg-image), var(--#{$variable-prefix}gradient);
    } @else {
      background-image: escape-svg($form-check-input-indeterminate-bg-image);
    }
  }

  &:disabled {
    pointer-events: none;
    filter: none;
    background-color: $gray-300;
    &:checked{
      background-image: escape-svg($form-check-input-disabled-bg-image);
    }
  }

  // Use disabled attribute in addition of :disabled pseudo-class
  // See: https://github.com/twbs/bootstrap/issues/28247
  &[disabled],
  &:disabled {
    ~ .form-check-text {
      opacity: $form-check-label-disabled-opacity;
    }
  }
}

label{
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-left: 8px;
  cursor: pointer;
  vertical-align: auto;
}

//
// Switch
//
.form-switch {
  padding-left: $form-switch-padding-start;
  .form-check-input {
    width:$form-switch-width;
    background-color: $gray-400;
    height: $form-switch-heigth;
    margin-left: $form-switch-padding-start * -1;
    background-image: escape-svg(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e"));
    background-position: left center;
    @include border-radius($form-switch-border-radius);
    @include transition($form-switch-transition);

    &:focus {
      background-image: escape-svg($form-switch-focus-bg-image);
    }

    &:disabled{
      pointer-events: none;
      filter: none;
      background-color: $gray-300 !important;
    }

    &:checked {
      background-position: $form-switch-checked-bg-position;
      background-color: $primary;
      @if $enable-gradients {
        background-image: escape-svg($form-switch-checked-bg-image), var(--#{$variable-prefix}gradient);
      } @else {
        background-image: escape-svg($form-switch-checked-bg-image);
      }
    }
  }
}

.form-check-inline {
  display: inline-block;
  margin-right: $form-check-inline-margin-end;
}

.btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
  &label{
    font-weight: lighter;
  }

  &[disabled],
  &:disabled {
    + .btn {
      pointer-events: none;
      filter: none;
      opacity: $form-check-btn-check-disabled-opacity;
    }
  }
}
