//
// Base styles
//
.input-group{
  .text-left {
    position: absolute;
    top:8px;
    z-index: 4;
    color: $gray-600;
    left:16px;
    font-size: 16px;
  }
  .clearIcon{
    position: absolute;
    top:8px;
    z-index: 4;
    right: 16px;
    color: $gray-500;
    cursor: pointer;
    &:hover{
      color: $gray-400;
    }
  }
  .text-tooltip {
    position: absolute;
    top:8px;
    z-index: 999;
    right: 16px;
  }
  .input-group-text-left[disabled="disabled"]{
    opacity: 0.3;
  }
  .input-group-text-right {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    padding: $input-group-addon-padding-y 20px 0px 16px;
    line-height: $input-line-height;
    color: $input-group-addon-color;
    color: $primary;
    text-align: center;
    background-color: $input-group-addon-bg;
    border: $input-border-width $input-group-addon-border-color;
    @include border-radius($input-border-radius);
    z-index: 1;
  }
  .input-group-text-right:hover:not(:disabled){
    color: $gray-400;

  }
  .text-left[disabled="disabled"]{
    opacity: 0.3;
  }
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap; // For form validation feedback
  align-items: stretch;
  width: 100%;

  > .form-control,
  > .form-select {
    position: relative; // For focus state's z-index
    flex: 1 1 auto;
    width: 1%;
    min-width: 0; // https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size
  }

  // Bring the "active" form control to the top of surrounding elements
  > .form-control:focus,
  > .form-select:focus {
    z-index: 3;
  }

  // Ensure buttons are always above inputs for more visually pleasing borders.
  // This isn't needed for `.input-group-text` since it shares the same border-color
  // as our inputs.
  .btn {
    position: relative;
    z-index: 2;
  }

}


// Textual addons
//
// Serves as a catch-all element for any text or radio/checkbox input you wish
// to prepend or append to an input.


// Sizing
//
// Remix the default form control sizing classes into new ones for easier
// manipulation.

.input-group-lg > .form-control,
.input-group-lg > .form-select,
.input-group-lg > .input-group-text,
.input-group-lg > .btn {
  padding: $input-padding-y-lg $input-padding-x-lg;
  @include font-size($input-font-size-lg);
  @include border-radius($input-border-radius-lg);
}

.input-group-sm > .form-control,
.input-group-sm > .form-select,
.input-group-sm > .input-group-text,
.input-group-sm > .btn {

  padding: $input-padding-y-sm $input-padding-x-sm;
  @include font-size($input-font-size-sm);
  @include border-radius($input-border-radius-sm);
}

.input-group-lg > .form-select,
.input-group-sm > .form-select {

  padding-right: $form-select-padding-x + $form-select-indicator-padding;
}

.input-group-text-sm{
  font-size: 50px !important
}
// Rounded corners
//
// These rulesets must come after the sizing ones to properly override sm and lg
// border-radius values when extending. They're more specific than we'd like
// with the `.input-group >` part, but without it, we cannot override the sizing.

// stylelint-disable-next-line no-duplicate-selectors
.input-group {
  &:not(.has-validation) {}
  &:not(.has-validation) {
    > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu),
    > .dropdown-toggle:nth-last-child(n + 3) {
    }
  }

  &.has-validation {
    > :nth-last-child(n + 3):not(.dropdown-toggle):not(.dropdown-menu),
    > .dropdown-toggle:nth-last-child(n + 4) {
    }
  }

  $validation-messages: "";
  @each $state in map-keys($form-validation-states) {
    $validation-messages: $validation-messages + ":not(." + unquote($state) + "-tooltip)" + ":not(." + unquote($state) + "-feedback)";
  }

  > :not(:first-child):not(.dropdown-menu)#{$validation-messages} {
    margin-left: -$input-border-width;
  }

}
button{
  &:disabled {
    opacity: 0.3 !important;
  }
}
.lg{
  .input-group-text-left{
    font-size: 50px !important;
  }
}

.search{
  .material-icons{
    font-size: 24px !important;
  }
  .form-control {
    padding-left: 48px;
  }
  .text-left{
    color: $gray-500;
  }
}
.hint-area{
  display: block !important;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.75rem;
  color: black;
}
.right-icon{
  .form-control {
    padding-right: 48px;
  }
}

.rounded {
  .rounded-search{
    color: $gray-400;
  }
  .form-control {
    border-radius:40px;
  }
  .text-left{
    color: $gray-400;
  }
 }
