// Form validation
//
// Provide feedback to users when form field values are valid or invalid. Works
// primarily for client-side validation via scoped `:invalid` and `:valid`
// pseudo-classes but also includes `.is-invalid` and `.is-valid` classes for
// server-side validation.

// scss-docs-start form-validation-states-loop
@each $state, $data in $form-validation-states {
  @include form-validation-state($state, $data...);
}
// scss-docs-end form-validation-states-loop
.was-validated .input-group .form-control:invalid, .input-group .form-control.is-invalid, .was-validated .input-group .form-select:invalid, .input-group .form-select.is-invalid{
  border-color: $form-feedback-invalid-color !important;
}
.was-validated .form-control:valid, .form-control.is-valid{
  border-color: $form-feedback-valid-color !important;
}
.form-control-lg {
  .input-group .text-left {
    top: 15px !important;
    width: 24px !important;;
  }
}

