<template>
  <label v-if="label" style="font-size: 18px" >{{label}}</label>
  <a type="button" :disabled="state" :class="[style, extraStyle]"  @click="handleValue" :style="colors">
    <a v-if="image" :href="href"><img :src="src" class="img-button" :style="sizeImgs"></a>
    <ib-icon addType="icons"  class="btn-icon-left" v-if="iconLeft" :icon="iconLeft"/>
    <span v-if="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <p v-else :href="href"><slot></slot></p>
    <ib-icon addType="icons-outlined" class="btn-icon-right" v-if="iconRight" :icon="iconRight"/>
  </a>
</template>

<script>
export default {
  name:"ibButton",
  props: {
    sizeImg:String,
    src:String,
    image:String,
    href:String,
    color:String,
    colorBorder:String,
    colorText:String,
    type: String,
    sizes:String,
    spinner: String,
    icon: String,
    state: String,
    label: String,
    iconLeft: String,
    iconRight: String,
    classAdd:String,
  },
  methods:{
    handleValue(){
      this.$emit('Click', this.label);
    }
  },
  data() {

    let defaultType = this.type || 'primary';
    let positionRight = this.iconRight || '';
    let positionLeft = this.iconLeft || '';
    let ButtonState = this.state || 'disabled';

    return {
      extraStyle: this.classAdd,
      sizeImgs: ["height:" + this.sizeImg, "width:" + this.sizeImg],
      style: "btn btn-" + defaultType,
      colors: "background-color:" + this.color + "; border-color:" + this.colorBorder + "; color:" + this.colorText,
      ButtonState:ButtonState,
      positionRight:positionRight,
      positionLeft:positionLeft,
    }
  }
}
</script>