<template>
  <div class="chips-container">
    <div class="chip" v-for="(chip, index) in chips" :key="index" :class="{selected: chip.id}"  
      @dragstart="dragStart(index)"
      @dragend="dragEnd"
      @dragover="dragOver"
      @drop="drop(index)"
      draggable="true">
      {{ chip.text }}
      <span class="chip-close" @click="removeChip(index)">x</span>
    
    </div>
    <input class="textInput" type="text" @keyup.enter="addChip" v-model="newChip" placeholder="Add a chip...">

    <div class="chipsInfo">
      <div>Chips Actuales: {{ chips.map(chip => chip.text).join(', ') }}</div>
      <div :class="{ hide: !seen }" id="hide">Selected Chip by ID: {{selectedChipText}}</div> 
    </div> 
  </div>
</template>

<script>
export default {
  data() {
    return {
      chips: [],
      newChip: "",
      selectedId: this.selectedItemsById,
    }
  },
  props : {
    selectedItemsById : {
      type: Number,
      required: false
    }
  },
  computed: {
    selectedChipText() {
      const selectedChip = this.chips.find(chip => chip.id === this.selectedId);
      return selectedChip ? selectedChip.text : '';
    },
  },
  methods: {
    addChip() {
      if (this.newChip) {
        this.chips.push({text: this.newChip, id: this.chips.length + 1});
        this.newChip = "";
      }
    },
    removeChip(index) {
      this.chips.splice(index, 1);
    },
    dragStart(index) {
      this.dragIndex = index;
    },
    dragEnd() {
      this.dragIndex = null;
    },
    dragOver(event) {
      event.preventDefault();
    },
    drop(index) {
      const chip = this.chips[this.dragIndex];
      this.chips.splice(this.dragIndex, 1);
      this.chips.splice(index, 0, chip);
      this.dragIndex = null;
    },
  }
}
</script>

  
<style scoped lang="scss">
.chips-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  width:50%;
  .chip {
    background-color: #9f9fd8;
    border-radius: 16px;
    padding: 8px 12px;
    margin: 8px;
    color:white;
    &.selected {
      background-color: #5f5fd8;
      display:flex;
      flex-basis:content;
      gap:10px;
    }
    .chip-close {
      cursor: pointer;
      margin-left: 8px;
    }
  }
  .textInput{
    border: 1px solid #aaa;
    border-radius:13px;
    text-align:start;
    height:40px;
    width:100%;
    padding:20px;
  }
  .chipsInfo{
    display:flex;
    flex-direction: column;
    gap:10px;
    padding-top:10px;
    .hide {
    visibility: hidden !important;
}
  }
}
</style>
  