<template>
  <div class="card" :style="colors">
    <slot name="header"></slot>
    <div class="card-body"><slot></slot></div>
    <slot name="footer"></slot>
  </div>

</template>

<script>

export default {
  name: 'ib-card',
  props:{
    color:String,
  },
  data(){
    return{
      colors: "background-color:" + this.color,
    }
  }
}
</script>
