<template>
  <div class="card-header">
    <div class="d-flex flex-row header-content">
      <ib-icon  addType="icons-outlined" icon="drag_indicator"></ib-icon>
      <div class="ms-2 card-slot"><slot></slot></div>
      <div class="card-actions ms-auto d-flex d-flex-end">
        <slot name="actions"></slot>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'ib-card-header'
}
</script>
